[2018-03-01 20:47] ianmcburnie opened #1 "Integrate Travis CI and Coveralls"
Let's run our tests through Travis CI and report all test coverage via Coveralls.

By default, Travis runs the `npm test` command found in `package.json`.

For an example of how this works, view any of the makeup modules:

https://github.com/makeup-js/makeup-expander/blob/master/.travis.yml

(Note that the location of our reports is different than in makeup).

Coveralls will be a new devDependency

[2018-03-01 21:09] ianmcburnie opened #2 "New Component: Carousel"
Creating placeholder issue. Spec to follow....

[2018-03-01 21:10] ianmcburnie opened #3 "New Component: Menu"
Creating placeholder issue. Spec to follow....

[2018-03-01 21:11] ianmcburnie opened #4 "New Component: Select"
Creating placeholder issue. Spec to follow....

[2018-03-01 21:11] ianmcburnie opened #5 "New Component: Notice"
Creating placeholder issue. Spec to follow....

[2018-03-01 21:14] ianmcburnie opened #6 "New Component: Dialog"
Creating placeholder issue. Spec to follow....

[2018-03-01 21:24] yomed commented on #1
We should probably configure this to run both `lint` in addition to `test` so that it catches linting issues in PRs.

[2018-03-01 21:50] ianmcburnie commented on #1
Yep, I thought that was happening already as part of `test`.

[2018-03-01 22:23] ianmcburnie commented on #4
Outstanding subtasks:

* Rename `<ebay-listbox>` to `<ebay-select>`

[2018-03-01 22:35] ianmcburnie commented on #3
Sub tasks:

* Make the "fake" menu a type
* Remove `checked` property observer for menu items
* Remove the menuitem role from fake menu items

[2018-03-01 23:46] ianmcburnie opened #7 "New Component: Button"
I know this is done, but just creating for tracking/historical purposes.

[2018-03-01 23:47] #7 closed

[2018-03-02 00:11] ianmcburnie opened #8 "New Component: Pill"
Design doc:
https://ebay.invisionapp.com/share/CWN9X1JF6MA#/screens/293357159

[2018-03-02 04:38] DylanPiercey opened #9 "Bug: Carousel Memory Leak"
## Bug Report

### Details
Currently the carousel component is attaching a `resize` event to the `window` object that is not being cleaned up when the component is removed which will slowly leak memory.

### Possible Fix
https://github.com/eBay/ebayui-core/pull/10

[2018-03-02 22:12] ianmcburnie commented on #1
Will set it up without linting to begin with... less to go wrong :-)

[2018-03-02 22:46] mlrawlings opened #11 "Components with nested transform tags don't work outside demos"
The [`marko.json`](https://github.com/eBay/ebayui-core/blob/master/src/components/ebay-menu/marko.json) that specifies the nested tag transformer is only scoped to the demo and test components.

Any outside user of the components will not have their nested tags transformed:
[code]

[2018-03-02 22:47] DylanPiercey opened #12 "Bug: Error when rendering empty listbox."
## Bug Report

### Details
Currently when the `<ebay-listbox>` is rendered without any options there is an error thrown from [here](https://github.com/eBay/ebayui-core/blob/944372074cce657b627491b38448dfcc460f7de1/src/components/ebay-listbox/index.js#L33).

### Possible Fix
We should either update the component to support having no selected option (currently tries to select the default), or provid

[2018-03-02 23:02] mlrawlings opened #13 "Marko 4 unrecognized tag thrown for nested tag transformers"
When using a component that has nested tags that are created using the nested tag transformer (like `<ebay-menu-item>` rather than `<ebay-menu:item>`, Marko 4 will throw an error during the parse stage (which occurs before the transform stage) saying it found an unrecognized tag.

**Solution:**
Add an empty tag definition for all valid nested tags:
[code]

[2018-03-02 23:06] seangates commented on #13
Would that be alongside the other tag definition? e.g.:

[code]

[2018-03-02 23:07] mlrawlings opened #14 "Unnecessarily transforming nested tag syntax"
The nested tag transformer is a bit aggressive and renames all nested tags, even if they are already using Marko's nested tag syntax.

[code]

becomes:

[code]

Honestly, probably not much of an issue once #11 and #13 are fixed, but ran into this trying to work around those issues.

[2018-03-02 23:46] ianmcburnie commented on #1
First run of Travis:

<img width="1126" alt="screen shot 2018-03-02 at 3 45 16 pm" src="https://user-images.githubusercontent.com/38065/36927188-c5660cda-1e30-11e8-9ea7-12aa6e3f0770.png">

Poop.

[2018-03-05 21:55] yomed commented on #1
@ianmcburnie The Travis part is fixed now. Can you check if Coveralls is working as you expected?

[2018-03-05 22:02] ianmcburnie commented on #1
Nice work.

Coveralls is kinda working, some issues with graph not showing up, so I'll look into that:

https://coveralls.io/github/eBay/ebayui-core

[2018-03-05 22:02] ianmcburnie commented on #1
I will create a PR for what we have.

[2018-03-05 22:22] ianmcburnie commented on #1
Done. Will create new task to add linting to CI.

[2018-03-05 22:22] #1 closed

[2018-03-05 22:45] ianmcburnie opened #18 "Tests: add linting to CI test pipeline"
The `test` script in package.json needs updating to incorporate linting.

[2018-03-05 23:42] ianmcburnie opened #19 "New component: Badge"
Design doc:
https://ebay.invisionapp.com/share/CWN9X1JF6MA#/screens/276179313

Related issue: https://github.com/eBay/skin/issues/80

[2018-03-05 23:45] ianmcburnie opened #20 "New Component: Pagination"
Details to follow...

Related issue: https://github.com/eBay/skin/issues/81

[2018-03-05 23:46] ianmcburnie opened #21 "New Component: Breadcrumbs"
Details to follow...

Related issue: https://github.com/eBay/skin/issues/82

[2018-03-06 03:22] ianmcburnie opened #22 "Combobox: add ARIA 1.1 autocomplete list functionality"
Combobox pattern:

https://www.w3.org/TR/wai-aria-practices-1.1/#combobox

For first version let's implement autocomplete with manual selection.

<img width="464" alt="Screen Shot 2019-03-27 at 9 42 01 AM" src="https://user-images.githubusercontent.com/38065/55095044-bc793800-5074-11e9-8811-1ca93a628dae.png">

Example:

https://www.w3.org/TR/wai-aria-practices-1.1/examples/combobox/aria1.0pattern/

[2018-03-06 03:28] #12 closed

[2018-03-06 03:29] #9 closed

[2018-03-06 18:10] ianmcburnie commented on #11
Closing as fixed in 0.1.0 branch. Will merge to master branch at release time.

[2018-03-06 18:10] #11 closed

[2018-03-06 18:10] ianmcburnie commented on #13
Closing as fixed in 0.1.0 branch. Will merge to master branch at release time.

[2018-03-06 18:10] #13 closed

[2018-03-06 18:19] ianmcburnie commented on #14
What's the time estimate for fixing this?

[2018-03-06 22:29] ianmcburnie opened #25 "Upgrade to @ebay/skin@3.4.0"
Let's get the latest menu and notice styles!

[2018-03-07 01:41] ianmcburnie commented on #25
We might want to do this in our internal repo as backup for demo too...

[2018-03-07 02:57] #25 closed

[2018-03-07 17:50] yomed opened #30 "Tests: run all server and browser tests against Marko v4"
All tests should ideally run against both v3 and v4. We may want to limit the v4 testing to CI (like with the integration suite), since it modifies dependencies.

[2018-03-07 19:23] #14 closed

[2018-03-07 20:02] seangates opened #31 "Ensure registry is enforced correctly"
Because we have an internal corp NPM registry, we need to ensure that we're actually publishing the core components to the public registry, and enforce this setting when publishing.

Resources:
https://docs.npmjs.com/files/npmrc
https://docs.npmjs.com/files/package.json#publishconfig

[2018-03-08 17:29] yomed opened #33 "marko-dynamic-tag should be in devDependencies"
(It's currently in `dependencies`)

[2018-03-08 17:54] DylanPiercey opened #34 "Docs: listbox/select README consistency."
There are currently some inconsistencies with the `ebay-listbox` components README.md vs the other components:

1. Headings contain code blocks.
2. "Examples" used instead of "Usage".
3. Headings prefixed with component name.

I'm not sure which format works best but I do believe we should make these consistent.

---

*ebay-listbox readme*
![screen shot 2018-03-08 at 9 51 28 am](https://user-image

[2018-03-08 19:11] yomed commented on #34
The `examples` section of `ebay-select` also looks outdated, since it is not using the `label` attribute (as the actual `examples/` do).

[2018-03-08 19:22] ianmcburnie opened #35 "Docs: show secondary button instead of raw button by default"
Looks better if we show the secondary button instead of the raw button:

![screen shot 2018-03-08 at 11 19 56 am](https://user-images.githubusercontent.com/38065/37171436-bf708396-22c2-11e8-9190-93086b825025.png)

Also tempted for us to make secondary the default instead of raw. Raw button has practical aspects for people consuming skin directly (horrible imagery there!) - but perhaps not so usefu

[2018-03-08 19:31] yomed commented on #35
Sounds ok to me to make `secondary` default. In that case we would probably need to shuffle the attributes. Maybe `priority="none"` for the raw case?

[2018-03-08 19:35] ianmcburnie commented on #35
Yep, sounds good. This won't block our pre-release. But let's try and get it in before final release tomorrow.

[2018-03-09 17:37] yomed opened #39 "Carousel: use brand styles in examples"

[2018-03-09 18:39] #34 closed

[2018-03-09 18:40] #39 closed

[2018-03-09 23:09] #33 closed

[2018-03-10 00:21] #35 closed

[2018-03-10 05:30] ianmcburnie opened #42 "New Component: Icon"
Placeholder issue created. More details to follow....

(basically a carbon copy of ebayui-image I think)

[2018-03-14 05:18] #5 closed

[2018-03-15 04:40] hramakumar opened #44 "Menu: does not close on clicking the checkbox icon directly on desktop and mweb"
Repro:
ebay-menu
1) in mac safari- open up the ebay menu
2) select any item
3) click on the menu box directly- its is expected to collapse but it doesn't

[2018-03-15 04:46] hramakumar opened #45 "Menu: clicking on a checkbox menu item collapses the menu sometimes"
repro:
open the ebay-menu checkbox
select on a couple of items
it is expected to stay expanded until I collapse it by hitting the menu head
but it collapses at some selections

[2018-03-15 05:02] hramakumar opened #46 "Menu/Select: button takes two clicks to expand"
takes first click to select the component and second click to expand the menu.
it does not happen always but happens pretty frequently.
the same happens with collapse

[2018-03-15 12:23] seangates commented on #46
Desktop or mWeb?

[2018-03-15 16:35] yomed commented on #45
@hramakumar The menu uses `autocollapse` functionality so that it collapses when the user's mouse leaves the menu area. Can you confirm that the collapsing here is not due to that?

[2018-03-15 16:45] yomed opened #47 "Tests: Improve integration and v4 testing"
Porting over some notes from the old repo:
- Improve cleanup in failure case
- Use `npm pack`
- Verify no errors in browser console
- Move main functionality to standalone package
- Investigate improvements to Marko to allow multiple versions to be installed at the same time
- Improve local debugging of testing against v4

[2018-03-15 17:03] hramakumar commented on #46
happens on both. more frequent in desktop.

[2018-03-15 17:04] hramakumar commented on #45
no its not because the mouse leaves the menu area. It happens while selecting an item.

[2018-03-15 17:41] DylanPiercey opened #48 "Polyfill strategy"
## Bug Report

### Details
Currently in IE there are two runtime features being used that are not polyfilled.

1. `Array.prototype.find` (https://github.com/eBay/ebayui-core/blob/0.1.0/src/components/ebay-select/index.js#L31)
2. `Promise` (used by Marko internally).

### Possible Fix
1. We should probably just avoid Array methods added post IE9.
2. I'm not sure if it was intended for `Promise` to

[2018-03-15 17:55] hramakumar opened #49 "ebay-button secondary, small and large -in firefox clicking on the component does hot hold the clicked state"
ebay-button secondary, small and large -in firefox clicking on the item does hot hold the blue - selected layout

once the button is clicked it is expected to hold the clicked state of the component. but the state is released.

the blue outline goes away.

[2018-03-15 18:44] hramakumar commented on #44
[ebay ui menu close issue.zip](https://github.com/eBay/ebayui-core/files/1816687/ebay.ui.menu.close.issue.zip)

[2018-03-15 18:52] hramakumar commented on #46
[ebayui test recording.zip](https://github.com/eBay/ebayui-core/files/1816709/ebayui.test.recording.zip)

[2018-03-15 18:59] hramakumar commented on #49
[ebay ui button click issue.zip](https://github.com/eBay/ebayui-core/files/1816724/ebay.ui.button.click.issue.zip)

[2018-03-15 19:08] hramakumar commented on #45
[ebay ui check box issue.zip](https://github.com/eBay/ebayui-core/files/1816759/ebay.ui.check.box.issue.zip)

[2018-03-16 19:17] ianmcburnie opened #50 "ebay-select: array.prototype.find causing error in IE"
Array.prototype.find is not supported in IE

https://github.com/eBay/ebayui-core/blob/0.1.0/src/components/ebay-select/index.js#L31

We either refactor in ES5 or use a transform/polyfill.

ES5 will work for quick fix, but for long term I say we should be leaning towards transform/polyfill.

[2018-03-16 19:47] sharma46bhawana opened #51 "ebay-notice: add dismiss functionality to notice"

[2018-03-16 20:01] ianmcburnie opened #52 "Build: allow local demo to optionally run on transpiled dist code"
So that we can catch and fix bugs in all browsers, we need to be running the transpiled dist code in our local demo.

Running `yarn start` should add a transpile step to it's pipeline, and local demo should have capability to be running on the transpiled code in dist.

Related to: #59

[2018-03-16 20:52] ianmcburnie opened #53 "Documentation: add browser policy to README"
Should be identical to the eBay policy.

[2018-03-16 21:45] yomed commented on #52
As discussed, the default case can be against `src/`, but there should be an easy way to run against `dist/` for debugging edge cases. The `prepublish` and `postpublish` scripts take care of most of the `dist` setup, but we would also need to have a script that points demo to `dist/`. We could potentially make the publishing scripts more generic to achieve this.

[2018-03-16 22:03] ianmcburnie opened #54 "Build: integrate eslint-plugin-compat"
https://github.com/amilajack/eslint-plugin-compat

[2018-03-16 22:23] senthilp commented on #54
Pranav Jha has already done something similar in C2C. We should try to leverage that.

[2018-03-16 22:58] ianmcburnie commented on #48
Strategy for now, as we only have one offending method, is to avoid use of poly fills until (if) we reach a critical mass.

Please keep this list of methods updated:

* Array.prototype.find (no IE support)

[2018-03-16 23:02] ianmcburnie commented on #49
Thanks @hramakumar. Is it possible for you to provide commentary in future videos? Just to let us know what actions you are performing, as you perform them. Otherwise it's a little difficult to follow along. Thanks.

[2018-03-16 23:12] hramakumar commented on #49
ok

[2018-03-16 23:25] #50 closed

[2018-03-16 23:46] ianmcburnie opened #56 "Build: hide known deprecation warnings from Marko"
If these things are going to be around for ever, and we know about them, can we at least hide them and reduce noise in our test output:

<img width="579" alt="screen shot 2018-03-16 at 4 39 26 pm" src="https://user-images.githubusercontent.com/38065/37548926-b976521e-2938-11e8-8677-abf5e8800325.png">

[2018-03-17 00:25] yomed opened #57 "Notice: content is removed clientside in v4"
<img width="486" alt="screen shot 2018-03-16 at 5 25 16 pm" src="https://user-images.githubusercontent.com/3595986/37549599-033f3f40-293f-11e8-9c76-241f77578292.png">

[2018-03-17 00:34] ianmcburnie opened #59 "Build: Rename build script to make clear it's optimized for CI machine only"
The build script makes some assumptions about it's env and leaves the env in a v4 state. This is because it's optimized for CI machine, not local. Let's rename the script to make this obvious. I propose `cibuild` or `cijob` or the like.

[2018-03-17 01:21] #57 closed

[2018-03-19 22:57] hramakumar opened #60 "IOS- the ebay-button raw looks different"
IOS- the ebay-button raw looks different.

![image](https://user-images.githubusercontent.com/13157115/37626657-2226997a-2b8e-11e8-93e0-502705eea05f.png)

[2018-03-19 23:02] seangates commented on #60
I believe this is a skin issue, and not an issue with components. Any objections about moving it over there?

/cc @hramakumar @ianmcburnie

[2018-03-19 23:06] hramakumar opened #61 "Menu: can't collapse by clicking outside the menu area in iOS"
unable to collapse the menu by clicking outside the menu area

[2018-03-19 23:10] seangates commented on #61
@hramakumar For the sake of helping us clearly document the issue, and clearly understand the steps you go through to reproduce the bug, can you make sure to add more specifics? The steps to reproduce is the most obvious, but also environment information, too.

This is also a reminder for future bugs as well. It should be pretty clear how you reached the bug.

[2018-03-19 23:33] hramakumar commented on #61
yes will add those

[2018-03-19 23:36] hramakumar commented on #61
The issue happens in IOS safari

repro:

click on the ebay-menu. The menu will expand
select an item
click out side the component area.

expected behavior: the menu should collapse

actual: the menu doesn't collapse

[2018-03-20 01:31] seangates commented on #60
Moved to Skin: https://github.com/eBay/skin/issues/100

[2018-03-20 01:31] #60 closed

[2018-03-20 05:37] ianmcburnie commented on #48
I'm going to close this because it's not an immediate issue. We can still find it under closed issues in order to edit the above list.

[2018-03-20 05:37] #48 closed

[2018-03-20 05:41] ianmcburnie opened #63 "Select: support native mweb use case"
Related ticket to be tackled first: eBay/skin#54.

[2018-03-20 05:42] ianmcburnie commented on #4
For better tracking I have moved out the mweb piece to #63. Closing this.

[2018-03-20 05:42] #4 closed

[2018-03-20 05:44] ianmcburnie commented on #3
Done in v0.1.0

[2018-03-20 05:44] #3 closed

[2018-03-20 19:49] seangates opened #64 "BUG: transform does not walk the tree of all nested tags"
Currently the transform expects direct nested tags, and does not allow any other Marko tags.

For example, the `<ebay-select>` expects a direct nested tag `<ebay-select-option>`, and if you add any control tags, like `<if()>` or `<for()>`, you will break rendering.

The fix is to walk the entire tree of children tags and apply the transform to _any_ tag that matches, regardless of whether the nest

[2018-03-20 20:16] mlrawlings commented on #64
Sounds good.  As an optimization, you should be able to short circuit the walk once you hit a nested tag.  IE, once `<ebay-select-option>` is found, you don't need to go any deeper on that part of the tree.

[2018-03-23 17:57] senthilp opened #67 "New Component: Tooltip"
https://ebay.invisionapp.com/share/CWN9X1JF6MA#/screens/299234476

Some additional thoughts:

- The component should allow the application to suggest a position to open the tooltip, but use JS to override that in order to keep the tooltip on page.
- A11y guidelines:
    - Tooltip: https://ebay.gitbooks.io/mindpatterns/content/disclosure/tooltip.html
    - Infotip: https://ebay.gitbooks.io/mindpatt

[2018-03-26 20:43] yomed commented on #18
This was initially done as part of https://github.com/eBay/ebayui-core/pull/43

[2018-03-26 20:43] #18 closed

[2018-03-28 16:21] DylanPiercey commented on #52
After talking with @yomed I think an easier solution here would just be to conditionally add the `lasso-babel-transform` to the demo based on `NODE_ENV`.

We could then trigger the demo to start in dist/production mode by using `NODE_ENV=production npm start` and also probably have an alias like `npm start:prod` or similar.

[2018-03-28 21:03] ianmcburnie opened #72 "New Component: Pulldown List (part of expansions)"
[removed prior content as it was confusing]

![screen shot 2018-03-28 at 1 52 08 pm](https://user-images.githubusercontent.com/38065/38056174-9a02e134-3290-11e8-9cf0-98dfb6f7fe84.png)

[2018-03-29 00:45] ianmcburnie commented on #72
@JeffNixonCreative Can you please add the expansion PDF spec. Thanks!

[2018-03-29 15:47] #64 closed

[2018-04-03 16:03] seangates opened #75 "Scoped CSS capabilities per-component"
The current Skin scoped CSS does not provide scoping for individual components which are used from the eBayUI Core library. It only provides scoping when Skin is used in isolation (no eBayUI components).

Therefore, we need to provide a way to scope the individual components when they are used within a project.

Some ideas:

1. Allow a specifically scoped `.ds6` version of the Skin css within each

[2018-04-03 16:49] seangates opened #76 "Create Browserlist repository for enforcing eBay's browser policy"
## Description

Refer to #74.

We should create a repository to house a set of Browserlist definitions, specifically to keep eBay in lock-step around browser policy.

## Resources

[Browserlist](https://github.com/browserslist/browserslist)
[Browserlist is a Good Idea](https://css-tricks.com/browserlist-good-idea/#article-header-id-1)

[2018-04-03 16:50] ianmcburnie commented on #21
Available in 0.2.0.

[2018-04-03 16:50] #21 closed

[2018-04-03 16:53] ianmcburnie commented on #51
Available in 0.2.0

[2018-04-03 16:53] #51 closed

[2018-04-03 16:54] #53 closed

[2018-04-03 16:54] #54 closed

[2018-04-03 16:57] #52 closed

[2018-04-03 17:25] senthilp commented on #76
@seangates I think this should be tracked outside of eBayUI. Can we create this issue under [eslint-config-ebay](https://github.com/eBay/eslint-config-ebay) and we will pick it up over there? What we need is a [sharable config](https://github.com/browserslist/browserslist#shareable-configs).

[2018-04-03 17:26] seangates commented on #76
Sure. Didn't quite know where to put it.

[2018-04-03 17:28] senthilp commented on #75
I am not sure if this is needed for core components? If scoping is needed, application teams can create their own wrapper. Core components are the default mechanisms, where we reserve the namespace.

[2018-04-03 17:28] seangates commented on #76
Moved to https://github.com/eBay/eslint-config-ebay/issues/12.

[2018-04-03 17:28] #76 closed

[2018-04-03 17:43] seangates commented on #75
@senthilp The issue is that when someone uses a component, there is a peer dependency for Skin, which is un-scoped. Therefore, we still get the un-scoped CSS bundled.

Mostly, we just need a better solve for the scoping issue for the Global Header team. What we currently have provided them through Skin is not sufficient.

[2018-04-03 20:31] senthilp commented on #75
@seangates For core components, this is expected. Skin classes should come as un-scoped. The Global Header is a special case and also a temporary one. My only concern is that we should not be spending the time to come up with an elegant solution for Global Header, instead, have the GH team put some overrides on their end.

[2018-04-03 20:49] seangates commented on #75
Sure, but at the same time I would like to reduce bloat, which could be a real concern.

[2018-04-03 21:10] DylanPiercey commented on #75
So I think this issue may not be isolated to global header and might warrant some more discussion. Currently Anton from myebay c2c selling is running into a similar issue because they are the page is a SPA and both the skin ds6 and ds4 styles are loaded while you are navigating on the page.

[2018-04-03 23:06] DylanPiercey commented on #75
No, they would not have an issue if they upgraded all pages.

[2018-04-04 19:35] RajaRamu commented on #75
@senthilp - Based the initial discussion, any page can work with ds6 and ds4 without conflicting each other to gracefully migrate to ds6 and ebayui components. if thats true, then we may have to consider this to address it. As of now, we tend to copy the ebayui components to Global header repo which is not good and scalable

[2018-04-04 19:48] seangates commented on #75
@RajaRamu What do you mean "scalable"? For the GH team? For eBayUI?

[2018-04-04 19:58] CestDiego commented on #75
My 2 cents:

We currently have a use case in which we inject modules into any page (ds4, ds6, or no skin at all) through AJAX. We also are using ds6 in our modules.

The first problem we ran into was that with our own GH developed modules, when including skin, we were affecting the host page's style (grids, buttons, etc styles would change). This is where the scoped skin solution came in handy.

W

[2018-04-04 21:11] seangates commented on #75
So, something like a `no-style` lasso flag?

[2018-04-04 21:27] CestDiego commented on #75
Yeah. Or maybe. 'no-skin', although that doesn't sound very good. But you
get the point.

On Wed, Apr 4, 2018, 5:12 PM Sean Gates <notifications@github.com> wrote:

--
Diego Berrocal
http://diegoberrocal.com

[2018-04-04 21:35] RajaRamu commented on #75
@seangates - Not scalable* - For every change on ebay-*components, we will have to copy it over. this may lead to feature disparity as feature grows.

[2018-04-04 21:51] seangates commented on #75
Sorry, that still doesn't make sense, @RajaRamu.

Are you trying to say: if you folks make overrides, and we update Skin, you'll have to match the code written in GH styles?

[2018-04-04 22:01] mlrawlings commented on #75
Just to update, the MyEbay application now has these components copied into their project because they need to remove the skin css and replace it with a scoped version.   A `no-styles` flag or similar would work for their use-case.

[2018-04-04 22:16] senthilp commented on #75
@mlrawlings That is the wrong way of doing it. This is just unnecessary tech debt. Let me have a chat with MyeBay team and see what we can do.
@RajaRamu again the use case you mentioned still applies to GH only. If a page is doing an AJAX call, they still can control what they need or not because they own the page.

Having said that, I still like the solution proposed by @CestDiego I would go with

[2018-04-04 22:20] hramakumar opened #78 "breadcrumbs-last page as parent-right arrow is displayed at the right of the leaf element"
I have added the components to the ebayui test page.
http://go/ebayuitest

Breadcumbs- last page as parent
I see a right arrow to the right  of the leaf element pointing to nothing.
This is what I used
<ebay-breadcrumb heading-text="Page navigation">
                <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
                <ebay-breadcrumb-item href="https://www

[2018-04-04 22:28] hramakumar opened #79 "Breadcrumbs: long text end of line - new line starts with the arrow"
Added the new component to the ebayui test env page
When I use long text to fill the line- the new line starts with the arrow

expected behavior- The new line takes in the last word with it

http://go/ebayuitest

screenshot attached

[2018-04-04 22:29] hramakumar commented on #79
pls look at the last line in the screenshot

<ebay-breadcrumb heading-text="Page navigation">
                <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda" navsrc="{}" _sp="p2345.m909.l34">Cell Phones, Smart Watches & Accessories-hhhhhhhhCell Phones, Smart Watches & Accessories-hhhhhhhhCell Phones, Smart Watches & Accessories-hhhhhhhhCell Phones, Smart Watches Accessorieshhh

[2018-04-04 22:29] hramakumar commented on #79
<ebay-breadcrumb heading-text="Page navigation">
                <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda" navsrc="{}" _sp="p2345.m909.l34">Cell Phones, Smart Watches & Accessories-hhhhhhhhCell Phones, Smart Watches & Accessories-hhhhhhhhCell Phones, Smart Watches & Accessories-hhhhhhhhCell Phones, Smart Watches AccessorieshhhhhhhhCell Phones, Smart Watches & Accessories

[2018-04-04 22:30] hramakumar commented on #79
pls look at the last line

[2018-04-05 17:42] ianmcburnie commented on #78
@RajaRamu please can you investigate breadcrumb issue.

[2018-04-05 18:55] RajaRamu commented on #78
As we investigated, some styles from GH is colliding with skin.breadcrumb. Solution is that use following GH configure to resolve this,
`<gh-configure layout="FULL"
   searchFormAction="/keywords" footerLayout='NORMAL'/>`

Test App is used to have which was have some colliding styles. we

[code]

[2018-04-05 18:58] RajaRamu commented on #78
this is just a setup issue hence closing it.

[2018-04-05 18:58] #78 closed

[2018-04-05 19:09] bhoomisatasiya opened #82 "Add grow reverse for menu items"
The menu should provide an option to grow the menu items in reverse.

<img width="1027" alt="screen shot 2018-04-04 at 10 29 04 pm" src="https://user-images.githubusercontent.com/11545472/38386623-0c13b84a-38ca-11e8-85c5-23ac3b36cb3f.png">

<img width="1225" alt="screen shot 2018-04-04 at 10 28 15 pm" src="https://user-images.githubusercontent.com/11545472/38386660-26295a6e-38ca-11e8-8921-d0f4aefc

[2018-04-05 19:12] hramakumar commented on #79
![arrow](https://user-images.githubusercontent.com/13157115/38386747-927614dc-38ca-11e8-888b-4c8b25aec5d7.png)

[2018-04-05 19:14] hramakumar commented on #79
1) the leaf node goes to the next line - Raja will fix it
2)can a new line start with an arrow?-question to the design team

[2018-04-05 19:24] RajaRamu commented on #79
PR is open - https://github.com/eBay/skin/pull/130

[2018-04-05 23:16] hramakumar commented on #79
![screenshot_2018-04-05-01-03-36](https://user-images.githubusercontent.com/13157115/38396386-a389bf90-38ec-11e8-9b02-43f84ebb7957.png)
the fix broke mweb styling

[2018-04-05 23:25] hramakumar commented on #79
compare the first one"element with last page as current" and "element until end of line" and

[2018-04-05 23:26] ianmcburnie commented on #79
@RajaRamu Can you investigate & provide more information on whether this is expected or not.

[2018-04-05 23:43] yomed commented on #82
Hi @bhoomisatasiya -- Thanks for reporting this issue. It has been fixed, and will be out in the `0.2.0` release (coming out shortly).

[2018-04-05 23:43] #82 closed

[2018-04-05 23:45] hramakumar commented on #79
I downgraded to skin version 3.5.1 and this issue goes away.
It has something to do with the skin upgrade 3.5.2(fix version)

[2018-04-05 23:56] hramakumar commented on #79
![skin-3 5 1](https://user-images.githubusercontent.com/13157115/38397396-5270a96a-38f2-11e8-9d64-8e9215b2aacc.png)![skin 3 5 2](https://user-images.githubusercontent.com/13157115/38397397-5289672a-38f2-11e8-947f-0d050b84063a.png)

[2018-04-05 23:58] hramakumar commented on #79
**Actual**
![skin-3 5 1](https://user-images.githubusercontent.com/13157115/38397431-68dcd14c-38f2-11e8-940a-57b3dfc904e1.png)

**Expected**
![skin 3 5 2](https://user-images.githubusercontent.com/13157115/38397432-68f06ee6-38f2-11e8-95cf-97a6584062f6.png)

[2018-04-06 00:03] hramakumar commented on #79
**actual**
![skin_3 5 2](https://user-images.githubusercontent.com/13157115/38397558-24ab4700-38f3-11e8-92e2-0e5d72346c64.png)

**expected**
![skin-3 5 1](https://user-images.githubusercontent.com/13157115/38397559-24c1b2f6-38f3-11e8-9d9f-f2b57f35e278.png)

[2018-04-06 00:05] hramakumar commented on #79
# **actual**

![skin_3 5 2](https://user-images.githubusercontent.com/13157115/38397594-699d2b44-38f3-11e8-89b8-1f4fe648e259.png)

# **expected**

![skin-3 5 1](https://user-images.githubusercontent.com/13157115/38397617-866aa896-38f3-11e8-99ff-362e1b16fae7.png)

[2018-04-06 01:39] ianmcburnie commented on #79
@RajaRamu Can you please investigate.

[2018-04-06 01:46] RajaRamu commented on #79
Yes. i will have to test it mobile devices. i will check it out in device lab. thanks

[2018-04-09 19:57] ianmcburnie commented on #79
Original issue was resolved.

[2018-04-09 19:57] #79 closed

[2018-04-09 20:06] ianmcburnie commented on #75
Done in 0.2.0 release.

[2018-04-09 20:06] #75 closed

[2018-04-09 20:57] seangates opened #89 "Select: differing elements returned when clicking on an option"
When clicking on one of the `<ebay-select-options>` you could possibly have the option `<div>` or the label `<span>` returned as the clicked element. We should default to the option `<div>`.

### Expected

The `ebay-select-option` div with the `role="option"` is returned.

### Actual

Depending on where you click, either the `ebay-select-option` div with the `role="option"` is returned, or the `eb

[2018-04-11 15:25] #89 closed

[2018-04-12 00:33] yomed opened #91 "Button: consider adding label attribute"
The button component currently allows stateful updating of its content through `w-body`, so users would have to update the state of the parent to change it. We may want to add a `label` attribute which can be used instead of `w-body` for use cases where there doesn't need to be complex HTML inside the button tag, and where users might want more easy access to stateful updating.
cc @RajaRamu

[2018-04-12 07:01] RajaRamu commented on #42
it depends on skin-icon - https://github.com/eBay/skin/pull/124. please assign this to me

[2018-04-12 20:00] ianmcburnie opened #92 "Menu: keep menu open on mouseout"
Consensus seems to be that menu (and select) should not auto-collapse on mouseout, but only when clicking elsewhere on page.

It would appear that the current makeup-expander autoCollapse option would need slight modification to support this. Here it is currently:

`options.autoCollapse`: whether click-activated expander should collapse when keyboard or mouse leaves the content or widget (default:

[2018-04-13 00:49] DylanPiercey opened #93 "Dialog: Clicking mask does trigger close in mobile safari"
Currently in mobile safari clicking the mask does nothing because of an issue with Safari not handling delegated click events on non touch targets.

More Info: http://gravitydept.com/blog/js-click-event-bubbling-on-ios

[2018-04-13 21:28] sharma46bhawana opened #95 "Create a resize event util"

[2018-04-16 01:59] senthilp opened #97 "Integrate with @ebay/browserslist-config module"
Update the `browserslist` configuration in [package.json](https://github.com/eBay/ebayui-core/blob/master/package.json#L38) to include the newly created [@eBay/browserlist-config-ebay](https://github.com/eBay/browserslist-config#usage) module.

[2018-04-16 23:33] #97 closed

[2018-04-18 00:50] yomed commented on #92
I looked into this a bit. I tried to simply copy/paste `autoCollapse` functionality, but with removing the `mouseleave` behavior from this:
https://github.com/makeup-js/makeup-expander/blob/a82886b3d1975d22ca3ab1df92bd19d2e877f27e/src/index.js#L79-L93

But the issue I ran into is that it seems like `focusExit` fires when focus goes on to another element, but it does not get fired if the focus just

[2018-04-18 02:49] ianmcburnie commented on #92
Yeah, I'm thinking I need to add two new options, `autoKeyboardCollapse` and `autoMouseCollapse`. For backwards compatibility I could just leave in the current `autoCollapse` functionality which basically sets both of the above to true.

[2018-04-18 18:45] #6 closed

[2018-04-18 20:30] #95 closed

[2018-04-18 22:47] hramakumar opened #103 "upgrading to skin 4.0.0-4 causes issues with ebay-select components"
upgrading to skin 4.0.0-4 causes issues with ebay-select components
This is how the components looks
![ebay-select issue with skin upgrade](https://user-images.githubusercontent.com/13157115/38961917-b88a9846-431f-11e8-8fe1-bf30e4a1334a.png)

[2018-04-19 21:44] hramakumar opened #105 "Dialog: clicking or moving the browser scroll bar does not work"
Repo:
  create a dialog with long text content so that the dialog becomes scrollable.
when we scroll over the active region it works fine but when we scroll on the window scroll bar(on the right of the page)  it does not work.

The scroll bar should be either inside the dialog  or if its going to scroll along with the browser scroll bar then we need to make the browser scroll bar clickable.

There

[2018-04-19 21:44] hramakumar commented on #105
![image](https://user-images.githubusercontent.com/13157115/39020012-352859e0-43e0-11e8-8715-154b49b410ea.png)

[2018-04-19 21:50] hramakumar commented on #105
in the above screenshot if look at the scrollbar on the side of the browser. I am not able to move that scroll bar when the mouse places at the edge of the browser.

[2018-04-19 22:02] hramakumar opened #106 "Dialog: single line dialog looks bad (edge case)"
When the dialog content comes in single line without header. The line width makes it look smaller than the close button.
![image](https://user-images.githubusercontent.com/13157115/39020709-ac2d23c0-43e2-11e8-9327-2b31ed5dfd52.png)

[2018-04-19 22:06] hramakumar commented on #106
expected: We need to have a default one line spacing at the top to make it look neat.

[2018-04-19 23:31] hramakumar opened #107 "Dialog: main page content is still scrollable in MWEB devices"
in devices the areas outside the dialog border moves when I try to scroll outside the dialog section.
This gives a bad user experience.
Repro:
IOS devices
open a scrollable dialog
try touch, hold and scroll in the area outside the dialog borders.
The parent page at the back moves.

[2018-04-19 23:40] hramakumar opened #108 "ebay-dialog: Fill and left/right panel-close button does not dissapear as we scroll down"
In ebay-dialog. When there is a scrollable dialog, the close button stays in the same position as we scroll down. It hides the texts in the top right corner.

![image](https://user-images.githubusercontent.com/13157115/39023533-1280e4d8-43f0-11e8-8abd-2dedee32fac3.png)

[2018-04-19 23:42] hramakumar commented on #108
in regular scrollable dialogs it goes away as we scroll. We need to fix this discrepancy in behaviour.

[2018-04-20 04:31] DylanPiercey commented on #108
@hramakumar this is what was requested from design.

[2018-04-23 17:48] ianmcburnie commented on #108
Closing as "by design"

[2018-04-23 17:48] #108 closed

[2018-04-23 17:52] #93 closed

[2018-04-23 20:16] seangates commented on #103
This should be taken care of with the newest pre-release of 0.3.0.

[2018-04-23 20:16] #103 closed

[2018-04-24 10:32] hramakumar opened #110 "ebay-dialog IE - close button diappears when scrolling down in right/left panel"
Repro:
In IE browser
Open a left/right panel dialog with scrollable content
scroll down
close button goes away as you scroll down

Actual:
close button diappears when scrolling down in right/left panel

Expected:
As per design it is expected that the close icon stays on the top right corner as we scroll down the right/left panel.

[2018-04-24 19:17] ianmcburnie opened #112 "Breadcrumbs: add "hijax" boolean attribute"
Let's bring this component in line with the incoming pagination component, and add a `hijax` boolean attribute that operates in the same way.

[2018-04-24 22:39] ianmcburnie commented on #110
Yep, @DylanPiercey and I discussed this. Thanks for logging this ticket, but will close it as wont fix

[2018-04-24 22:39] #110 closed

[2018-04-24 23:35] hramakumar opened #113 "Dialog: scroll position keeps old state when reopening on mweb"
Repro:
open scrollable dialog
scroll to a place in the dialog
close the dialog
open it again
it opens up at the place where we left(mweb)
it goes to the top(dweb)

[2018-04-25 16:37] bhoomisatasiya opened #114 "Select: options should support custom atrributes"
[code]

[2018-04-25 20:56] ianmcburnie commented on #105
Fixed in 0.3.0.

[2018-04-25 20:56] #105 closed

[2018-04-27 18:38] bhoomisatasiya opened #119 "Menu/Select: should allow borderless version from Skin"
![screen shot 2018-04-05 at 4 50 11 pm](https://user-images.githubusercontent.com/11545472/39379258-90ea0230-4a0f-11e8-9c59-b26a409fdc84.png)

[2018-04-30 15:11] #2 closed

[2018-04-30 19:01] PrashantAshok opened #120 "New Component: Radio"
Create a component that renders a radio button that matches the spec here. http://ebay.github.io/skin/ds6/#radio

[2018-04-30 19:02] PrashantAshok opened #121 "New Component: Checkbox"
Create a component that renders a checkbox that matches the spec here. http://ebay.github.io/skin/ds6/#checkbox

[2018-04-30 19:33] #114 closed

[2018-05-01 00:30] ianmcburnie opened #122 "Pagination: some enhancements to root node API"
In order to allow greater programmatic access to the pagination state for hijax scenario (i.e. client side re-rendering), let's add the following read/write properties to root:

* currentIndex (integer)
* prevDisabled (boolean)
* nextDisabled (boolean)

(names not final)

Let's also expose the selected item index in the `pagination-select` event.

Thinking further ahead...

At eBay we have some in

[2018-05-01 16:32] ianmcburnie opened #123 "Build: upgrade to marko-cli v3"
Let's integrate the latest version. We *may* need to switch on/off it's new features in a multi-step approach (i.e a series of PRs) in order to not rock the boat too much. We shall see.

[2018-05-01 18:54] ianmcburnie opened #125 "Breadcrumbs: breadcrumb-select event should not fire on span elements"
Issue found by @yomed as part of #124.

This can wait until v0.5.0 unless anybody gets a chance to jump on it sooner.

[2018-05-01 19:22] bhoomisatasiya opened #126 "Pass originalEvent for all custom events with direct mapping to DOM event"

[2018-05-01 19:27] yomed commented on #126
To provide a bit more context: When using DOM events in Marko, it automatically passes the native DOM event object to the handler. For eBayUI, all of our events are custom, so that object does not get passed by default. For cases like `button-click`, it directly maps to the click event, so we should pass along that object.

[2018-05-01 20:12] #106 closed

[2018-05-01 20:13] #107 closed

[2018-05-01 20:13] #20 closed

[2018-05-01 20:54] senthilp commented on #126
@yomed Are you proposing this for any DOM event that we wrap with a custom event? Or only for `button-click`?

[2018-05-01 21:14] DylanPiercey commented on #126
I think we had talked about this in a standup before (specifically around having the ability to `preventDefault` though).

I still think exposing some kind of `originalEvent` property on the custom event would be useful.

[2018-05-01 21:18] yomed commented on #126
@senthilp I think we should go through all the events on each component, and add this in any case where there's a clear mapping to a native DOM event.

I was trying to figure out naming -- I think `originalEvent` works.

[2018-05-01 21:57] senthilp commented on #126
Agree, we should do it for each component which emits an event that maps to a native DOM event. `originalEvent` LGTM.

[2018-05-01 22:00] seangates commented on #126
Agree, @yomed.

[2018-05-01 22:00] ianmcburnie commented on #126
Agreed.

[2018-05-01 22:15] DylanPiercey opened #127 "Dialog: Transition utility not working when children have transitions."
The transition utility currently works by trying to calculate how many transitions the dialog has and then waiting for them to complete before marking the entire transition as complete. This is currently causing issues since the children of the dialog can contain transitions that are unrelated to the dialog transitions and this trips up the utility.

[2018-05-02 17:58] tcorley opened #130 "Components do not support dynamic attribute passthrough"
For the example

[code]
results in

[code]

[2018-05-02 18:26] tcorley commented on #130
Because of the difficulty of separating component attributes and pass-thru HTML ones, I'd suggest adding support for an `htmlAttributes` attribute that will explicitly pass through to the top level component.

[2018-05-02 18:54] ianmcburnie opened #132 "Allow style pass through with marko helper"
From original PR #102:

# Description
Add style as a pass through

## Context

Given that marko treats `class` and `style` differently. We should allow the style to also be explicitly defined in the template, this way we don't run into trouble when using the ebay-button inside a nested component.

[code]

[code]

This doesn't add `style` to the `input['*']` object. And if we otherwise did:
[code]

[2018-05-02 19:05] #91 closed

[2018-05-02 20:56] #112 closed

[2018-05-03 17:38] #127 closed

[2018-05-03 20:58] tcorley commented on #130
This could also pass through style (in reference to #132)

[2018-05-03 21:13] hramakumar opened #137 "ebay-pagination: current page index looks clickable with blue color"
The current page index is clickable.

repro:
create a pagination component
set a page index as current
The current page is highlighted and is also clickable

expected behaviour: the current page index is highlighted and the index is disabled for clicking
We dont have a provision to set a page index as current and disable the page index from being clicked again.

blue color on the index is misleadi

[2018-05-04 18:47] hramakumar opened #139 "ebay-pagination: some page indexes are blue and some are black"
repro
go to  https://go/ebayui/test2
pagination indexes- some are blue and some are black.
pls fix the discrepancy

[2018-05-04 19:07] hramakumar opened #140 "ebay-pagination: many page index-line wrapping"
repro:
go to https://go/ebayui/test2
look at the pagination section- line wrapping scenario
It shows only until page index 9 but there are more that are not shown.-go to inspect elements- other links are hidden.
Refresh the page - you will see the line wrapping for an instance and then it goes away.

[2018-05-04 20:40] hramakumar opened #142 "ebay-carousel: with no element hidden- arrows are not disabled"
Repro:
go to https://go/ebayui/test2
search for 'All expanded - both arrows disabled' in the Carousel section
no items are hidden- still I see the arrows
expected behaviour:
The arrows should not show up if now of the cards are hidden

Resizing the browser fixes the problem

[2018-05-04 20:42] hramakumar commented on #142
![image](https://user-images.githubusercontent.com/13157115/39652015-f9f42724-4fa0-11e8-8526-8b168efcdd58.png)

[2018-05-04 21:03] hramakumar opened #143 "ebay-carousel: Starting index specified- yet starts from beginning"
Repro:
Go to https://go/ebayui/test2
look at "Starting index -start with card 3" in the Carousel section
It start from card 1
expected:
as the starting index is specified as 2 the carousal visible area is expected to start from card 3

(also in the page html, it shows hidden = false for all cards)

resizing the browser fixes the problem

[2018-05-04 22:59] ianmcburnie opened #144 "Documentation: provide examples of rendered HTML in component README"
For example, let's show that this Marko:

[code]

Produces this HTML:

[code]

I don't think we'll need to cover every permutation of attributes or options, just the most basic case should suffice.

[2018-05-04 23:25] seangates commented on #119
Merged.

[2018-05-04 23:25] #119 closed

[2018-05-04 23:43] DylanPiercey commented on #113
As far as I can tell this is fixed, can you confirm @hramakumar.

[2018-05-04 23:59] hramakumar commented on #113
@DylanPiercey  yes Now it goes to the top yet
when I open it, it opens in the old state and then goes to top.
In a fraction of second this happens. Just letting you know.

[2018-05-05 00:00] hramakumar commented on #113
https://go/ebayui/test

[2018-05-06 00:40] sharma46bhawana commented on #139
@ianmcburnie We see this issue because global header is adding a more specific style. What I can do is add more specificity to the achor tags but I wanted to avoid it if I could.

<img width="805" alt="screen shot 2018-05-05 at 5 37 06 pm" src="https://user-images.githubusercontent.com/6751429/39668730-3eb1153a-508b-11e8-9ba7-94ca107e35e2.png">

[2018-05-06 00:50] sharma46bhawana commented on #139
@hramakumar This is a skin issue, but I am not sure how to track it at correct place.

[2018-05-06 00:53] sharma46bhawana opened #146 "Pagination: clicking on pagination arrows gives incorrect el"
Clicking on the pagination arrow in the center gives the el as `span` instead of `a` tag.

This issue was initially found by @bsatasiya

[2018-05-07 19:25] yomed commented on #126
Fixed this for the button, now repurposing the issue for all components.

[2018-05-07 21:42] hramakumar opened #148 "ebay-carousel- cards with long text goes out of the card"
Repro:
go to https://go/ebayui/test2
search for "card with long text"

actual: the text goes outside the card
![image](https://user-images.githubusercontent.com/13157115/39726682-b4e831be-5204-11e8-8cad-571d27f3c302.png)

expected: The text gets truncated/stays within the card

[2018-05-07 21:46] hramakumar opened #149 "Carousel: layout and js breaks without any items"
go to https://go/ebayui/test2
search for "empty carousal"

actual:
![image](https://user-images.githubusercontent.com/13157115/39726863-551140ae-5205-11e8-895e-25fc028e7e5e.png)

[2018-05-07 23:14] yomed commented on #148
I don't think this is a bug for us. We don't have any knowledge of content inside the cards, so it's up to consumers to make sure that their internal content is ok.

[2018-05-07 23:31] ianmcburnie commented on #148
Yes, we can close this as invalid. It's up to the app developers to control the layout of their content inside the carousel.

[2018-05-07 23:45] #148 closed

[2018-05-07 23:47] yomed commented on #144
I'd like to keep this markup tied to the source of truth as much as possible -- i.e. generated from rendering the component rather than copy/pasta. The latter can turn into a maintenance headache.

[2018-05-08 19:13] hramakumar opened #150 "ebay-carousel: samsung note 4- unable to scroll when only one card is in view"
![right arrow doesnt work](https://user-images.githubusercontent.com/13157115/39777664-007a15d4-52b9-11e8-9116-2aac88431f8b.png)

Repro:
use samsung galaxy note 4
go to https://go/ebayui/test2
search for continuous in the carousel section
try to scroll right

[2018-05-08 19:16] yomed commented on #150
@hramakumar The carousel component has different adaptive behavior based on lasso flags. Can you pass a `touch` lasso flag in your test app?

Here are more details: https://github.com/eBay/ebayui-core/blob/d99d553085a34d7867228f84b2aee224514123fd/src/components/ebay-carousel/README.md#ebay-carousel-usage

[2018-05-08 19:24] hramakumar opened #151 "Carousel: discrete-third width- enough space to show only 2- the third card is skipped as we click the arrow"
Discrete-third width-
When there is enough space to show only 2
 the third card is skipped as we click the arrow.
it is expected that the number of slides increase if we show less number of cards due to space available

repro:
android phone with less screen size
go to https://go/ebayui/test2
search for "discrete - third width"
you see only two cards instead of 3
click next arrow on the right
The t

[2018-05-08 19:34] hramakumar opened #152 "Carousel: slide widget at the bottom is not selected"
Repro:
Android phone
go to https://go/ebayui/test2
some components do not have the slide status widget selected  at the bottom of the component
![after next click- card 3 is skipped](https://user-images.githubusercontent.com/13157115/39778764-129704cc-52bc-11e8-8c5c-605c0005b1c9.png)
there is no selected slide

[2018-05-08 19:34] hramakumar commented on #152
The last dot has to be selected

[2018-05-08 20:38] yomed commented on #152
@hramakumar Given that the app needs to control the content inside each card, can you do these tests in scenarios where the cards actually fit in the allotted width? You can remove the text (and provide more area for the entire carousel too).

[2018-05-08 21:34] hramakumar commented on #152
but in the above example the text fits inside the card

[2018-05-08 21:56] yomed commented on #152
Not exactly. There is too much text and too little space to fit the number of cards needed in these examples. I can see how this might be seen as a bug, but I think we should defer issues related to the content of the cards.

[2018-05-08 22:13] bhoomisatasiya opened #155 "Combobox: does not expand when using control+option+space keys in VoiceOver"

[2018-05-08 23:34] ianmcburnie commented on #139
@sharma46bhawana Please paste the conflicting skin styles in here and we can decide what to do.

@hramakumar In addition to the URLs, please ensure to add screenshots in tickets It makes things faster to triage and debug.

[2018-05-08 23:39] sharma46bhawana commented on #139
Hi @ianmcburnie I am seeing these conflicting styles:
<img width="683" alt="screen shot 2018-05-08 at 4 38 06 pm" src="https://user-images.githubusercontent.com/6751429/39788222-4bfed1dc-52de-11e8-901a-7ab3e4d547d2.png">
<img width="680" alt="screen shot 2018-05-08 at 4 36 49 pm" src="https://user-images.githubusercontent.com/6751429/39788223-4c35bb16-52de-11e8-9d00-9ca5eb7a10ea.png">

[2018-05-08 23:43] sharma46bhawana commented on #139
I can add `:link` pseudo selector that will make sure the correct color is rendered

[2018-05-09 00:01] ianmcburnie commented on #139
Yep, let's go with that. You might need the `:active` too. Please copy the screenshot above into a new Skin issue and target the 4.1.0 release.

[2018-05-09 02:12] sharma46bhawana commented on #137
@hramakumar Can you try removing the `href` input from the current page? It shouldn't be clickable again if there is no `href` and as it is the current page the `href` shouldn't be present anyway. Please let me know if that helps.

[2018-05-09 02:20] sharma46bhawana commented on #139
@ianmcburnie Added the issue in the skin: https://github.com/eBay/skin/issues/188

[2018-05-09 06:09] hramakumar commented on #137
@sharma46bhawana  Yes I agree. That should make it not clickable. My concern is just with the colour.
It looks like a clickable index.

[2018-05-09 20:07] yomed commented on #130
Thanks @tcorley, this will be fixed in `0.4.0` which will be out soon. FYI the issue with `style` is a bit different because `class` and `style` are special cases in Marko.

[2018-05-09 20:07] #130 closed

[2018-05-09 21:16] ianmcburnie opened #156 "Build: optimize babel-plugin-transform dependencies for MakeupJS"
Each [makeup-js](https://github.com/makeup/makeup-js) plugin includes the `babel-plugin-transform-object-assign` as a devDependency in order to compile its distributed bundle. We also include this plugin in our ebayui core dependencies (and maybe other such plugins). Lets investigate if this code is being bundled up and sent to client multiple times, and if so see what we can do to optimize this s

[2018-05-10 16:35] hramakumar opened #157 "Carousel: in iOS the horizontal scroll bar is invisible in continuous carousel"
Repo:
IOS phone- chrome browser
go to https://go/ebayui/test2
search for continuous carousal
touch and scroll the carousel
the horizontal scroll bar below the carousel is not displayed
will update the screenshot soon

[2018-05-10 16:50] hramakumar opened #158 "ebay-carousel: discrete half width and third width carousels not displayed properly in IE"
Repro:
   open discrete half width/third width carousel in ie
all slides are visible in first slide and second slide moves the entire .
![image](https://user-images.githubusercontent.com/13157115/39882024-7ab91d48-5437-11e8-83d9-72d0bfcc8fa5.png)

[2018-05-10 16:55] #150 closed

[2018-05-10 16:58] #142 closed

[2018-05-10 16:58] #143 closed

[2018-05-10 17:04] yomed commented on #158
@seangates @ianmcburnie This is first component that needs its own styles outside of Skin. Do you think we should compile the LESS and run autoprefixer and then ship the compiled CSS files? Or should we rely on apps to do their own processing?

[2018-05-10 17:08] yomed commented on #158
@hramakumar What version of IE?

[2018-05-10 17:56] hramakumar commented on #158
11

[2018-05-10 19:48] yomed opened #161 "Carousel: needs optimization of state handling"
Related PR: https://github.com/eBay/ebayui-core/pull/145

From @DylanPiercey, our resident Marko expert:

The current code is ok for now, but we should look to refactor a few things:
1) Remove `update_index` function, along with FIXMEs around `this.update()`;
2) Improve DOM performance of `performSlide()`

[2018-05-11 17:22] seangates opened #162 "Menu: still has empty span when there is no label"
Skin supports having an "icon only" button, but it require that icon to be the "only child". Therefore, we need to fix the menu's `<ebay-button>` to remove the extra span if there is no label, or if an empty label string is supplied.

[code]

[2018-05-11 18:25] yomed opened #163 "LESS is not currently compiled/processed"
While we transpile our JS for shipping, we don't apply this to the LESS files. The carousel is the first component to have this issue come up, because it has styling that isn't present in Skin. A few options:
1) Only allow styling in Skin, never in ebayui-core.
2) Allow styling, but ship the LESS files as-is so that pages can determine what processing to do
3) Allow styling, run compilation and au

[2018-05-11 18:41] senthilp commented on #163
I don't think Option 1 is always possible. Let's discuss between 2 & 3. We are currently doing 2, so the question is should be go to 3.

[2018-05-12 00:00] DylanPiercey opened #166 "Dialog: Missing `ebayui-no-skin` flag check."
Somehow this snuck through and it is not possible to scope the styles with the `ebay-dialog`.

Related PR incoming.

[2018-05-12 00:06] DylanPiercey opened #168 "Menu: tag missing"
The `ebay-menu-item` does not get the `tag` input set if there is set to `fake` and does not have an href. This causes Marko to explode.

PR incoming...

[2018-05-12 00:12] #158 closed

[2018-05-12 21:44] bhoomisatasiya opened #170 "Pagination: Prev , next button should support custom attributes."

[2018-05-12 21:45] bhoomisatasiya opened #171 "Pagination: Disabled next or Prev button should not emit event."

[2018-05-14 16:59] yomed commented on #157
@hramakumar This seems to be native browser behavior (which wouldn't be a bug).

[2018-05-14 17:14] #168 closed

[2018-05-14 17:15] #113 closed

[2018-05-14 17:15] #146 closed

[2018-05-14 17:32] #126 closed

[2018-05-14 17:44] ianmcburnie commented on #162
Not a blocker for 0.4.0. Moving to 0.5.0

[2018-05-14 17:48] ianmcburnie commented on #171
App team has workaround. Can wait till 0.5.0.

[2018-05-14 17:49] ianmcburnie commented on #170
App team has workaround. Can wait till 0.5.0

[2018-05-14 17:54] ianmcburnie opened #172 "Menu: use inline SVG for menu button icon"
When app team overrides the background color and foreground color of menu button, the icon remains fixed as black. We should change from using span with background svg to inline svg, so that the icon will inherit the foreground colour.

[2018-05-14 17:55] ianmcburnie commented on #139
Yes, let's close this. It should be fixed in 4.0.0-1

[2018-05-14 17:55] #139 closed

[2018-05-14 18:31] yomed commented on #151
Closing per card content issue like #152

[2018-05-14 18:31] #151 closed

[2018-05-14 18:31] #152 closed

[2018-05-14 22:14] hramakumar opened #174 "Dialog: 0.4.0-1 dialog left and right panel scroll is broken in mweb"
## How to reproduce
1. create a left or right panel dialog with content to scroll
1. open the page on an IOS device
1. open the dialog and scroll

## expected
![image](https://user-images.githubusercontent.com/13157115/40026319-c3e507c0-5789-11e8-9259-1b8003809791.png)

## actual
![image](https://user-images.githubusercontent.com/13157115/40026232-66156b4e-5789-11e8-9e70-cd282e60eddb.png)

[2018-05-14 22:16] ianmcburnie commented on #174
@hramakumar is this a regression since 0.3.0?

[2018-05-14 22:16] hramakumar commented on #174
**expected:**
![image](https://user-images.githubusercontent.com/13157115/40026319-c3e507c0-5789-11e8-9259-1b8003809791.png)

[2018-05-14 23:01] hramakumar opened #176 "Carousel: movement controls don't apply for native scrolling"
Filing this ticket to keep track of the issue as we have closed the old ticket.

In the mWeb use case, whether or not a start index is defined, the continuous carousel starts with the first card. Currently, a touch-enabled carousel with `type="continuous"` will use native scrolling which has more limited functionality.

**actual**
![image](https://user-images.githubusercontent.com/13157115/4002758

[2018-05-14 23:10] yomed commented on #176
Note: This is currently expected behavior, but we should look to improve it in the future. Using `touch` with type="continuous" will use native scrolling. For that case, we don't fire typical movement events, and developers also can't control position through `index`.

[2018-05-14 23:22] bhoomisatasiya opened #177 "Carousel: broken when updating index via parent state"
I am setting the Index to animate the carousel to selected index.
it works fine when I load the page from the server side.
but when Click a pill by scrolling to that pill, I make an ajax call,
which updated all the components on the page including the Carousel,
the selected index is not in the view port, and the right arrow is broken too.

![giphy](https://user-images.githubusercontent.com/1154547

[2018-05-14 23:29] yomed commented on #177
Related to #161
Users have a workaround by triggering a `resize` event manually.

[2018-05-15 00:30] hramakumar opened #178 "Carousel: frame can exceed fps budget at end of animation"

[2018-05-15 00:30] hramakumar commented on #178
![image](https://user-images.githubusercontent.com/13157115/40029981-7e6f22b2-579c-11e8-9fb5-d5ee2bd84c35.png)

[2018-05-15 00:32] hramakumar commented on #178
repro:
scroll action on discrete carousel

[2018-05-15 01:00] ianmcburnie commented on #178
@senthilp Would this be considered a blocker in terms of DoD?

[2018-05-15 01:05] yomed commented on #178
I'm not sure if this is a real issue. The entire animation runs at something like ~58fps, but if you look at individual frames, you'll hit a few that are higher.

[2018-05-15 01:12] ianmcburnie commented on #178
Yeah, I don't see any huge spikes which would signify jank. Just a few dips here and there.

[2018-05-15 01:13] ianmcburnie commented on #178
@hramakumar Remember that you can save the performance profile and attach it to this bug for us to inspect.

[2018-05-15 01:29] senthilp commented on #178
@ianmcburnie It is a DoD blocker in Buyer Experience. But we should not block the release for this. We should go ahead and be transparent in our Sprint review.

[2018-05-15 02:52] mlrawlings commented on #178
Does the frame-rate degrade further when there is real-world content in the carousel, not just a placeholder?

[2018-05-15 15:46] ianmcburnie commented on #174
@DylanPiercey Can you please take a look?

[2018-05-15 17:00] #171 closed

[2018-05-15 21:30] hramakumar opened #180 "ebay-dialog: in IE when dialog opens up, The parent screen goes to the top"
In IE  when the dialog open up the background screen goes to the top instead of staying where it is.

before dialog opens
![image](https://user-images.githubusercontent.com/13157115/40084674-ca5abf00-584c-11e8-8dea-7933a8301646.png)

after dialog opens
![image](https://user-images.githubusercontent.com/13157115/40084698-d7d967da-584c-11e8-8442-f5ed859e847a.png)
 **expected**

![image](https://user

[2018-05-15 21:33] ianmcburnie commented on #180
Seems like a non-blocker if IE11 only, as it does not affect functionality.

[2018-05-15 21:46] DylanPiercey commented on #180
This was a simple fix, just created a PR.

[2018-05-16 14:42] bhoomisatasiya opened #182 "Menu : type="fake", button font-family and links font-family do not match"
ebay-Menu with type fake, has button and links combination, the font-family for button and links does not match, making the button color a little lighter.
<img width="1639" alt="screen shot 2018-05-16 at 7 41 19 am" src="https://user-images.githubusercontent.com/11545472/40124106-a2e872b0-58dc-11e8-8eaf-c55c329db527.png">
<img width="1630" alt="screen shot 2018-05-16 at 7 41 06 am" src="https://us

[2018-05-16 16:14] yomed commented on #182
This is an existing issue being tracked in Skin https://github.com/eBay/skin/issues/83

[2018-05-16 16:15] ianmcburnie commented on #182
We have an open question regarding setting Market Sans outside of the ebay-font loading mechanism:

https://github.com/eBay/skin/pull/195/files#r188684603

[2018-05-16 16:58] bhoomisatasiya opened #184 "Combobox: depends on the wrapper to have a width, this is an issue when we have dynamic text length"
ebay-select takes the width of the parent wrapper, I think it should take the width of the label,
- when expanded it should support reverse open,
- on our page I have to give the wrapper a min width, which has chances of breaking if the text is longer
and when the text is shorter, the arrow is too far from the label,  its a problem when we use borderless select

[2018-05-16 17:40] yomed commented on #172
I think this would need changes in Skin to make `svg.expand-btn__icon` a smaller size.

[2018-05-16 21:12] #180 closed

[2018-05-16 21:21] bhoomisatasiya opened #186 "Button: add support for text wrapping"

[2018-05-16 21:35] ianmcburnie commented on #186
I don't think that our primary and secondary buttons should wrap. Ever. We should choose content that *fits*, and that includes localized text. Look around on GitHub or the desktop OS and see there are no multiline buttons in the UI.

[2018-05-16 21:43] seangates commented on #186
I agree. No text wrapping. I believe our design partners would agree.

[2018-05-16 21:46] gbeckpdx commented on #186
Agreed. I haven't seen that anywhere nor see it looking great beyond the short intention of the CTA.

[2018-05-16 22:04] seangates commented on #186
We won't support text wrapping of buttons.

[2018-05-17 03:45] bhoomisatasiya commented on #186
Humm in certain cases it  a little difficult to find smaller text string, just so that it can fit in the button. I think the button should support the wrapping, or reduce the font size and padding.
Here is an example of three column layout, column 3 has fixed width,
<img width="1043" alt="screen shot 2018-05-16 at 8 43 08 pm" src="https://user-images.githubusercontent.com/11545472/40155702-09065c2

[2018-05-17 04:18] ianmcburnie commented on #186
Who is writing the text for these buttons? I hope it's not engineers ;-)

[2018-05-17 18:18] tcorley opened #188 "ebay-dialog: Clicking within dialog whitespace closes it?"
I'm not sure if this is part of the pattern, but tapping/clicking within the dialog that's not content causes it to close.

[2018-05-17 22:10] #42 closed

[2018-05-17 22:20] CestDiego opened #190 "Dialog: Rotating device crops the whole page in two"
Using a dialog and then rotating a mobile device crops the content of the page.

[2018-05-18 19:25] hramakumar commented on #188
This happens only in the white space at the bottom of the content.

[2018-05-18 19:28] tcorley commented on #188
Here's a screen grab from clicking in the margins
https://www.useloom.com/share/b17b47f1f1d040b39b3a1df7331a13cf

[2018-05-18 19:38] hramakumar commented on #188
oh ok. I see. so any section of the page outside the content borders

[2018-05-21 18:10] ianmcburnie opened #193 "Create issue creation template"
More details to follow

[2018-05-21 18:17] #157 closed

[2018-05-22 18:50] #120 closed

[2018-05-22 18:50] #121 closed

[2018-05-22 18:52] #190 closed

[2018-05-22 18:53] #188 closed

[2018-05-22 18:58] yomed commented on #44
Fixed per https://github.com/eBay/ebayui-core/pull/129

[2018-05-22 18:58] #44 closed

[2018-05-22 21:30] #161 closed

[2018-05-22 21:31] #177 closed

[2018-05-22 21:31] yomed commented on #177
@bhoomisatasiya Thanks for the bug report. This will be fixed in `0.5.x`.

[2018-05-23 00:05] yomed commented on #178
@senthilp From what I can see, the animation itself runs fine. At the end of the animation, the very last frame takes a few extra ms to do update/paint/composite. Those steps are expected for a transform animation, so I still don't have a good sense of whether or not there's an actual issue here.

[2018-05-23 01:42] yomed opened #197 "Carousel: starting index cuts off content in continuous with native scrolling"
A little hard to tell in the picture, but basically it has a starting index of 2, which makes all the content inaccessible before the third card.

Movement is currently handled differently for the native scrolling continuous case (per https://github.com/eBay/ebayui-core/issues/176), but we should fail more gracefully here.
<img width="559" alt="screen shot 2018-05-22 at 6 39 37 pm" src="https://us

[2018-05-23 07:07] senthilp commented on #178
@yomed Fair enough. 18-20ms is still good. But how do we suggest this as a guideline to other teams? Is there a particular pattern that we can grant an exception? I do not want teams to come up with random excuses and miss the frame rate.

[2018-05-23 19:18] #193 closed

[2018-05-23 19:36] senthilp commented on #178
Agree, this issue can be closed. But we need to track it somewhere.

[2018-05-23 20:52] yomed commented on #45
@hramakumar Can you verify if this is still an issue? The menu expansion was refactored recently.

[2018-05-23 23:39] #162 closed

[2018-05-24 22:52] hramakumar opened #200 "Radio: clicking corner generates an event with value: "undefined" - option is not selected"
## eBayUI Version: 0.5.0-0

when you click near the borders of the radio button. the click does not work.

![image](https://user-images.githubusercontent.com/13157115/40517486-68eee97e-5f6a-11e8-9b5a-ea9ebb22e21c.png)

video: https://www.useloom.com/share/0af190c2fde1434dbac2515ce5de26ad

## Workaround

[2018-05-24 22:57] hramakumar opened #201 "Radio: FPS issue"
## eBayUI Version: 0.5.0-0

## Description
when I select a radio option I see a peak.
fps comes down to 12-25

reproducible in both marketplace and test page

https://go/ebayui/market
https://go/ebayui/test2
most of the time is consumed in scripting.
## Workaround

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/40517936-cacf6a2c-5f6c-11e8-88bb-5c035d4faf46.png)

[2018-05-24 23:00] hramakumar commented on #201
will attach the profile

[2018-05-24 23:16] hramakumar commented on #201
[Profile-radio.zip](https://github.com/eBay/ebayui-core/files/2037441/Profile-radio.zip)

[2018-05-25 18:16] DylanPiercey opened #202 "Icon: SPA support for ebay-stamper"
# Feature Request

## Description
Currently the `ebay-stamper` component does not work properly when used in a SPA.

## Potential Solutions / Notes
* Expose the `ebay-stamper` and allow teams to manually specify which svg's to inline.
* Setup all symbols in an external svg on a cdn.
* Potentially expose the logic for getting the icons used in a page.

[2018-05-29 19:20] bhoomisatasiya opened #204 "BUG: Select: checked icon for selected item per page option is cut on the bottom in IE 11"
# Bug Report
Checked icon for selected item per page option is cut on the bottom in IE.

## eBayUI Version: 0.5.0-0

## Workaround
Workaround would be to override locally, but that is not desired.

## Screenshots
![_thumb_1171641](https://user-images.githubusercontent.com/11545472/40680358-b33176fe-633a-11e8-88d3-6a7b39b28756.png)

![image 2](https://user-images.githubusercontent.com/11545472/4068

[2018-05-29 20:04] seangates commented on #204
@bhoomisatasiya Can you at least put the version of eBayUI in there? Thanks!

[2018-05-29 20:10] seangates commented on #204
@bhoomisatasiya Also, which version of IE?

[2018-05-29 20:35] bhoomisatasiya commented on #204
ebayui-select  "version": "0.5.0-0",
IE 11

[2018-05-30 15:10] BryceEWatson opened #205 "Pagination: buttons not centered vertically"
# Bug Report

## eBayUI Version: 0.4.0 & 0.5.0-2 (Beta)

## Description
The buttons are not being vertically centered, and there is padding added to the previous/next buttons which makes it obvious. See screenshot below.

**Update** This seems to be an issue with skin when ds6 + ds4 styles are combined. I believe a fix would be to add `align-items: center` to the `.pagination` class in https://git

[2018-05-30 15:43] seangates commented on #205
@BryceEWatson Can you add which browsers you've tested this in?

[2018-05-31 23:21] CestDiego opened #206 "Icon: requires a `body`. When serving content through AJAX we do not have a body."
# Bug Report

## eBayUI Version: 0.5.0-2

## Description
Create a route in ajax that just does this:
[code]
in the controller, send down json to the browser so the user can inject it.
[code]

Observe how there is no ebay-icon transform done in the response.

[2018-05-31 23:34] bhoomisatasiya opened #207 "Carousel: causes entire page freeze in IE 11"
# Bug Report
V0.5.0-2 ebay-carousel is freezing in IE
## eBayUI Version: V0.5.0-2

## Description
ebay-carousel is freezing the whole page after couple of actions/clicks on the carousel. Not able to do any actions. scorll, click on the page. only page refresh restores the page. I am not seeing any errors in the console either.

## Workaround

## Screenshots

[2018-05-31 23:38] senthilp commented on #207
@bhoomisatasiya Which version of IE is this?

[2018-06-01 00:12] bhoomisatasiya commented on #207
Its IE 11.
<img width="379" alt="screen shot 2018-05-31 at 5 12 28 pm" src="https://user-images.githubusercontent.com/11545472/40814582-d7fab56a-64f5-11e8-84db-2ec95eec0c3c.png">

[2018-06-01 00:15] bhoomisatasiya commented on #207
![carousel-ie-issue-2](https://user-images.githubusercontent.com/11545472/40814636-2eff7c60-64f6-11e8-9f56-638d4c3aecf8.gif)

[2018-06-05 21:09] oxala opened #208 "Select: attributes pass through"
Hey guys,

I'm trying to use `ebay-select` component on my page and stumbled upon some limitations.

There are cases, when i need to pass `aria-required` or `aria-invalid`, etc. And i expect such attributes to be passed-through to the `select` element that component produces. But in reality it's being appended to the root element instead.

As far as i believe, the only attribute to be applied to t

[2018-06-05 21:44] ianmcburnie commented on #208
@seangates please can you take a look? We should try and get this into 0.5.0 release.

[2018-06-05 21:49] seangates commented on #208
@ianmcburnie Yes, I asked Gleb to create the issue. He and I discussed what it would take to make this usable for him. 👍

[2018-06-07 19:43] ianmcburnie commented on #205
Bryce made the fix in skin. When we update to skin 5.0.2 this issue should be resolved.

[2018-06-07 19:51] ianmcburnie commented on #200
This should be resolve when we update to latest skin patch release.

[2018-06-07 19:54] hramakumar commented on #200
@ianmcburnie I already verified this issue while testing 0.5.0-2
This can be closed

[2018-06-07 20:02] ianmcburnie commented on #174
This was fixed in 0.4.0.

[2018-06-07 20:02] #174 closed

[2018-06-07 20:08] ianmcburnie commented on #137
Closing as the current colour is defined by DSL.

[2018-06-07 20:08] #137 closed

[2018-06-07 23:41] PrashantAshok commented on #201
Had a look at this in the marketplace/test page. The scripting time is actually less than 4~5ms. The fps is normal too. The widget is also not performing any animations or complicated scripting.

@DylanPiercey, feel free to pitch in case I missed anything.

<img width="584" alt="screen shot 2018-06-07 at 1 38 18 pm" src="https://user-images.githubusercontent.com/5200733/41131589-431416ae-6a71-11e8

[2018-06-08 14:56] DylanPiercey commented on #201
We have already discussed this one and it can be closed 🙂. Happens because the browser paints the focus ring when you click and we update the dom after release of the click. This causes two frames of arbitrary spacing with potentially no intermediary frames. As @PrashantAshok mentioned the scripts here aren’t causing any sort of bottle neck.

[2018-06-08 16:15] ianmcburnie commented on #201
Thanks for the detail @DylanPiercey and @PrashantAshok. Closing.

[2018-06-08 16:15] #201 closed

[2018-06-08 16:16] ianmcburnie commented on #200
Thanks!

[2018-06-08 16:16] #200 closed

[2018-06-08 20:30] ianmcburnie commented on #206
@DylanPiercey Feel free to close if you feel this is invalid or by design.

[2018-06-12 19:06] bhoomisatasiya opened #211 "Carousel: on Render if a new ebay-carousel-item is added, new item is not accessible , the right arrow doesnt work."
# Bug Report

eBayUI Version: 0.5.0-0

## Description
on Render if a new ebay-carousel-item is added, new item is not accessible , the right arrow doesnt work. It seem on render the total width is not getting calculated to accommodate  new carousel item.

## Workaround

## Screenshots
First time load:
![screen shot 2018-06-12 at 12 06 07 pm](https://user-images.githubusercontent.com/11545472/41311

[2018-06-12 19:10] abiyasa opened #212 "ebay-menu: does not close on pressing escape while focus on main button"
# Bug Report

## eBayUI Version: 0.5.0

## Description

**Actual**: The ebay-menu closes only when you press escape key while the focus is on the menu item. If the focus is on the main button, it does not close when you press escape key.

**Expected**: The menu should closes when you press escape key whether the focus is on the menu item or on the main button.

**How to reproduce**

- Click the ma

[2018-06-12 20:37] ianmcburnie commented on #212
FYI I know we do this on the skin ds6 site, but it's not strictly a requirement (see W3C design patterns and MIND patterns), more of a nice-to-have. The only requirement for button is ENTER and SPACEBAR. We will probably add ESC too though as it does feel useful and doesn't seem to cause any issues.

[2018-06-13 09:01] abiyasa commented on #212
Thanks! I didn't know the escape key behavior is different between menu & select.
I agree that this should be nice-to-have thing instead of a bug.

[2018-06-13 20:27] DylanPiercey commented on #211
This was fixed in 0.5.0-2 (confirmed by @bhoomisatasiya).

[2018-06-13 20:27] #211 closed

[2018-06-13 22:32] ianmcburnie opened #214 "A11Y: revisit attribute name consistency"
For v1, let's try and align our component attribute names. I propose the following:

## All components

Rename `accessibility-*` to `a11y-*-text`

In carousel for example, `accessibility-status` becomes `a11y-status-text`

## ebay-breadcrumb

Rename `heading-text` to `a11y-heading-text`
Rename `heading-level` to `a11y-heading-level`

## ebay-combobox

Rename `label` to `value` (as we are setting t

[2018-06-14 20:18] ianmcburnie commented on #206
Fix will be available in 0.6.0.

[2018-06-14 20:18] #206 closed

[2018-06-14 20:19] PrashantAshok opened #215 "Menu: support "size" attribute"
# Feature Request

## Description
Make `ebay-menu` support size attribute similar to how `ebay-button` supports `size="small"` attribute.

## Context
To support cases where a `ebay-button` (`size="small"`) would be placed alongside `ebay-menu`

## Screenshots
<img width="319" alt="screen shot 2018-06-14 at 12 16 40 pm" src="https://user-images.githubusercontent.com/5200733/41435993-4b473c34-6fd5-1

[2018-06-14 20:19] ianmcburnie commented on #202
Fix will be available in 0.6.0.

[2018-06-14 20:19] #202 closed

[2018-06-15 20:14] trg opened #216 "Infinitely Looping, Auto-Playing Carousels"
# Feature Request

Autoplaying, Infinitely looping slideshow

## Description

- Auto-playing / Auto-pagination.  The carousel paginates itself without user interaction.
- The carousel loops around to the first slide/set of slides when the user reaches the end of the slides, however to the user the slides always appear to slide in from the correct direction.

## Context

Ebay.com's desktop homepage

[2018-06-15 20:25] trg opened #217 "Menu: label can't be an icon; chevron toggle can't be hidden"
# Feature Request

## Description

Currently, the ebay-menu does not let the developer customize the icon that is to the right of the label.  With the introduction of ebay-icon, I would like to be able to choose contextually relevant icons for the dropdown menu open/closed states.

[2018-06-15 20:29] ianmcburnie commented on #217
Yes, good idea, we could probably add new attributes to the menu root tag:

* icon-collapsed
* icon-expanded

The value would be passed through to the <ebay-icon> tag internally.

[2018-06-18 20:42] ianmcburnie commented on #217
To avoid abuse, or perhaps people getting a little *too* creative, I'm thinking of limiting this to a subset of our icons.

@trg Which icons did you have in mind for your use case?

This also has a dependency on Skin, as we need to add SVG support to the DS6 expand button. Not only that, but because skin currently just flips the icon 180 degrees, we probably need to refactor the markup to allow fo

[2018-06-18 21:27] scttdavs opened #218 "Remove `cursor: pointer` for all buttons"
# Bug Report

## eBayUI Version: 0.5.0

## Description
Put this under bug report as I don't think it is a feature. Really it is more like a missed requirement maybe.

https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b

The hand cursor should be used by links as they have weak affordance. Buttons, on the other hand, have strong affordance (well designed ones at least),

[2018-06-18 22:56] ianmcburnie commented on #218
I totally agree that buttons that very obviously look like buttons should not have a hand cursor. I've referenced that same article myself a few times :-)

In summary though, the stance up to now has been:

* All primary and secondary buttons: no hand cursor
* All icon buttons: show hand cursor
* All links: show hand cursor

I've always been a little on the fence regarding icon buttons. Especially

[2018-06-20 08:28] abiyasa commented on #218
Interesting. Do we have this cursor behavior (to show not to show hand cursor on hover) documented somewhere?

For us, it's not clear if Skin button intentionally not showing hand cursor on hover. We usually interpret this as "it depends on your use case or app" so we always add hand cursor for any clickable element to make it consistent. Maybe it's nice to have a guideline on this issue.

[2018-06-20 21:38] ianmcburnie commented on #218
Skin button is intentionally not showing a hand cursor. As Scott says, the hand cursor is what distinguishes a link from a button for mouse users. It get's a little funky for fake buttons though... I've gone with showing a hand cursor in that case as a clue about it's link behaviour.

If you look at HTML's built-in clickable elements, such as checkbox, radio, select, none of them show a hand curso

[2018-06-21 22:59] PrashantAshok opened #219 "Menu: Support "priority" attribute"
# Feature Request

## Description
Make ebay-menu support `priority` attribute similar to how ebay-button has the priority attribute.

## Context
To support cases where a `ebay-button` (priority="primary") would be placed alongside `ebay-menu`

## Screenshots
<img width="312" alt="screen shot 2018-06-20 at 4 41 57 pm" src="https://user-images.githubusercontent.com/5200733/41749584-1ff34e0a-756c-11e

[2018-06-25 20:20] anfengi opened #220 "Carousel: The rightmost image is cut off when element margin is overridden"
# Bug Report

## eBayUI Version: 0.4.0

## Description
If carousel images have same width/height, when application overrides `.carousel__list li` margin, on desktop the rightmost image in the carousel is cut off.

## Workaround
Not override carousel element margin

## Screenshots
![screen shot 2018-06-25 at 1 15 43 pm](https://user-images.githubusercontent.com/40370947/41873477-ecdc1d9c-7879-11e8-

[2018-06-25 23:05] seangates opened #221 "Combobox (previously Select): when starting with zero items, adding items dynamically doesn't enable the expander"
# Bug Report

## eBayUI Version: 0.5.x

## Description
When the combobox starts with zero items, the expander is never initialized. Therefore when items are added, the combobox never initializes the expander.

## Workaround
~No workaround.~ Yes, if the app developer re-renders the component in their app.

## Screenshots
n/a

[2018-06-25 23:09] seangates opened #222 "Combobox (previously Select): when disabled, the combobox still expands"
# Bug Report

## eBayUI Version: 0.5.x

## Description
When the combobox is in a disabled state, the expander still expands the items in a dropdown.

## Workaround
No workaround.

## Screenshots
![image](https://user-images.githubusercontent.com/105656/41880295-7945df50-789a-11e8-824a-b387bfb17664.png)

[2018-06-28 04:15] hramakumar opened #223 "discrete carousal scroll is not working"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description

go/ebayui/test2
go to discrete carouse and try scrolling it

repro:
https://www.useloom.com/share/ed02f3edca314291a116bf3aa5191834

## Workaround

[2018-06-28 04:22] hramakumar opened #224 "Combobox: when text is long it gets displayed over the component down arrow at the right"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
 when text is long it gets displayed over the component down arrow at the right
https://www.useloom.com/share/d6894758310e4a8fbddf3838f296a051

## Workaround

[2018-06-28 04:41] hramakumar opened #225 "ebay-select: options does not look like button type anymore"
# Bug Report

## eBayUI Version: x.x.x

## Description
the ebay-select option does not look like button type anymore. It looks like a regular combobox
pls check the look in the screenshot and let me know if this is a bug or not

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/42013521-8badf8c6-7a52-11e8-9b5c-066a36e871ff.png)

[2018-06-28 04:45] seangates commented on #225
Yeah, it's not supposed to, because it's now a native select. You'll need to add `ebay-combobox` to your tests, and you'll see the difference between the two.

[2018-06-28 04:46] seangates commented on #225
Therefore, it's not a bug. I'll close this. 👍

[2018-06-28 04:46] #225 closed

[2018-06-28 04:47] hramakumar opened #226 "ebay-select: the down arrow on the right does not switch to up arrow when the ebay select component is expanded"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
the down arrow icon on the right does not switch to up arrow when the ebay-select component is expanded

repro: go to https://go/ebayui/test
click on any of the ebay-select components in the test page
the expand arrow does not change to ^ arrow mark

https://www.useloom.com/share/3a72b363ba784bda9743981b04345695

## Workaround

## Screenshot

[2018-06-28 04:49] seangates commented on #226
Which browser/OS? Mac browsers (Chrome, Safari, Firefox) cover up the chevron, but it appears Windows is different?

[2018-06-28 05:02] hramakumar commented on #226
this happens Windows desktop and Android tablet - all browsers

[2018-06-28 05:05] seangates commented on #226
Which version of Windows? It doesn't happen for me with IE11 on Windows 8.1.

![image](https://user-images.githubusercontent.com/105656/42014253-87488e16-7a5e-11e8-8111-2e7118698e13.png)

[2018-06-28 05:07] hramakumar commented on #226
mine is windows 7

[2018-06-28 05:10] hramakumar commented on #226
actually yes in ie it doesn't happen. check chrome and firefox you should be able to reproduce

[2018-06-28 06:19] seangates commented on #226
After some research this evening, I can't find any way to detect that a select menu is open, whether through CSS, JavaScript, or otherwise. I even tried to change the chevron to an inline SVG, but that won't work either, because I simply never know when the `<select>` is actually open (or closed, for that matter).

Therefore, I'm going to close this as there is no solution. We'll simply have to li

[2018-06-28 06:19] #226 closed

[2018-06-28 06:21] seangates commented on #226
Also, I should note, that this is expected browser behavior, so we don't have any way to solve this other than to tell teams to use the `ebay-combobox`.

[2018-06-28 17:47] hramakumar opened #227 "ebay-select: the the component size increases with the length of the longest option available"
# Bug Report

## eBayUI Version: 0.6.0

## Description
go to https://go/ebayui/test
go to ebay-select section - long text
it has an option with long text.

Issue 1:  the entire component is increased in width
Issue 2: when we expand, the option with long text is truncated. We get to see the entire long text only when the option is selected.

https://www.useloom.com/share/3bcc442485e949c4a75bccb84d

[2018-06-28 17:56] hramakumar opened #228 "Combobox: when there are many options - When expanded, there is no scroll inside the component. It scrolls with the page"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
when there are many options - When expanded, there is no scroll inside the componenet. It scrolls with the page

repro:
https://go/ebayui/test2
go to ebay-combobox nested - too many options - scroll
expand it

Issue: it scrolls with the page.
There is no scroll bar inside the component

https://www.useloom.com/share/49d0bea18e9d4d6987acebba6

[2018-06-28 19:43] hramakumar opened #229 "ebay-combobox: device iphone x- clicking on the component - blinking cursor is displayed"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
device iphone x- clicking on the ebay-combobox - blinking cursor is displayed
![cursor on combobox](https://user-images.githubusercontent.com/13157115/42057002-cda4bae8-7ad0-11e8-83e1-87c55d7a579b.png)

[2018-06-28 19:43] hramakumar commented on #229
This happens in all browsers

[2018-06-28 19:54] hramakumar opened #230 "ebay-select: in iphone- once expanded, clicking outside the area does not collapse the expanded options"
# Bug Report

## eBayUI Version: 0.6.0

## Description
First of all: pls look into the screenshot tell me if this look is ok?

About the issue:
Iphone x chrome and safari
ebay-select once expanded, clicking outside the area does not collapse the expanded options
after modifying the option without clicking on 'done' when I click outside to cancel the change I couldn't do it.
The modified change get

[2018-06-28 20:13] seangates commented on #230
This is expected behavior.

[2018-06-28 20:13] #230 closed

[2018-06-28 20:15] seangates commented on #229
"all browsers" is pretty broad. In which did you test?

[2018-06-28 21:41] hramakumar opened #231 "ebay-select: OS chrome browser - once expanded - there is a close icon on the right instead of 'done'"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
In chrome browser IOS, ebay-select -expanded - there is a close icon on the right instead of 'done'
clicking on close behaves the same way as 'done' in safari

repro:
IOS chrome browser
https;//go/ebayui/test
click on any of the ebay-select components.
you see a close icon 'x' instead of 'done' as in safari.
This looks confusing as it takes

[2018-06-28 21:42] hramakumar commented on #229
chrome and safari

[2018-06-28 22:04] ianmcburnie commented on #186
So, after much discussion with content strategists, design and localization teams, we have decided to support text wrapping *only* in the edge-cases where a fixed width has been applied to a button.

Again though, fixed-width buttons goes against our guidance, and should only be used in specific circumstances, but given that the default behaviour of HTML is to wrap text on fixed width button eleme

[2018-06-28 23:17] ianmcburnie commented on #223
@DylanPiercey please investigate.

[2018-06-28 23:35] seangates commented on #231
We can't do much about this because it's the way the browser works. Users would encounter this all sites with a native `<select>`.

[2018-06-28 23:45] ianmcburnie commented on #224
This may need fixing on the skin side.

[2018-06-29 00:42] hramakumar opened #232 "Select: Nexus 10: android tablet - clicking on the component again does not close the options list"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
Android tablet Nexus 10 Safari and chrome
https://go/ebayui/test
click on ebay-select and expand the options list
now click on the top of the component to collapse it
It collapses and then opens again

## Workaround

[2018-06-29 17:59] hramakumar opened #234 "ebay-select: Currently selected option is not highlighted in the options list - no tick mark or bold text"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
Android tablets Nexus 10 and Samsung galaxy tab - chrome browser -There is no way to see which option is currently selected in the options list
There is no tick mark or bold text.

## Workaround

## Screenshots
![selected option not bold](https://user-images.githubusercontent.com/13157115/42107138-22648aee-7b8b-11e8-9b8c-4ee2c366d3b7.png)

[2018-06-29 18:53] ianmcburnie commented on #223
Source of problem is icon component.

[2018-06-29 19:22] ianmcburnie commented on #232
Assigning to @seangates for investigation/scoping only.

[2018-06-29 21:53] CestDiego opened #235 "Dialog does not scale well in smaller widths"
# Bug Report

## eBayUI Version: x.x.x

## Description
Size down a window to something close to 600px

## Screenshots
![image](https://user-images.githubusercontent.com/3291619/42116450-45583002-7bc5-11e8-80d5-95646cd76045.png)

![image](https://user-images.githubusercontent.com/3291619/42116462-4f26689c-7bc5-11e8-950f-145653e1a602.png)

[2018-06-29 22:06] hramakumar opened #236 "ebay-select: mac the option list opens over the component"
# Bug Report

## eBayUI Version: 0.6.0-0

## Description
when second option is selected and when the option list is expanded the first option goes over the components initial position

pls feel free to close it as wont fix if this is as per the design.

repro:
mac desktop - safari or chrome or ie
Windos - ie(not button type but the rest of the issue happens)
https://go/ebayui/test
ebay-select clic

[2018-06-29 23:34] #236 closed

[2018-06-29 23:35] hramakumar commented on #236
Sean confirmed that its the expected behaviour

[2018-07-02 17:58] #63 closed

[2018-07-02 17:58] #123 closed

[2018-07-02 17:59] ianmcburnie commented on #132
@DylanPiercey please verify this was fixed in Marko.

[2018-07-02 18:09] #178 closed

[2018-07-02 18:15] #205 closed

[2018-07-02 18:16] ianmcburnie commented on #207
Not an issue. The issue was with app page.

[2018-07-02 18:16] #207 closed

[2018-07-02 18:25] ianmcburnie commented on #222
Fixed.

[2018-07-02 18:25] #222 closed

[2018-07-02 18:58] ianmcburnie commented on #234
Closing as wont fix as we have no control over the browser's rendering of select overlay. Apps should use combobox if they require custom rendering.

[2018-07-02 18:58] #234 closed

[2018-07-02 22:22] yomed commented on #219
Currently waiting on Skin 5.1.0-1

[2018-07-02 22:39] ianmcburnie commented on #219
Skin 5.1.0-1 is now ready.

[2018-07-02 23:11] yomed commented on #45
Verified by @hramakumar. Fixed per https://github.com/eBay/ebayui-core/pull/129

[2018-07-02 23:11] #45 closed

[2018-07-02 23:12] yomed commented on #46
Verified by @hramakumar. Fixed per https://github.com/eBay/ebayui-core/pull/129

[2018-07-02 23:12] #46 closed

[2018-07-03 20:49] yomed commented on #232
@seangates Did you end up looking into this one at all? I reproduced this issue on a virtual Nexus 10 through Android Studio, and this looks like expected browser behavior. I see the exact same behavior in interacting with basic `<select>` tags.

[2018-07-03 21:17] seangates commented on #232
I have not looked at this. I would actually welcome help setting up Android Studio. It was difficult for me to set up and use in the past.

[2018-07-03 21:33] yomed commented on #232
@hramakumar Closing, as this is default browser/device behavior.

[2018-07-03 21:33] #232 closed

[2018-07-03 21:36] hramakumar commented on #232
ok

[2018-07-03 21:45] hramakumar opened #241 "ebay-carousel: carousal navigations are very slow"
# Bug Report

## eBayUI Version: 0.6.0-1

## Description
Looks like carousal takes a while to move slides
go to https://go/ebayui/test2
click right arrow on any discrete carousal
it takes some time delay to move to the next slide

https://www.useloom.com/share/40e79ec813364fa992996e0cb5f2b23c

[2018-07-04 01:43] nm123github opened #242 "Using StorybookJS with ebayui-core"
# Feature Request
As the [website](https://storybook.js.org/) describes, StorybookJS is a "The UI Development Environment You'll ♥️ to use". Marko support [has been added](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.6) to StorybookJS (currently available in alpha) and will there in the next major release. I propose using StorybookJS as one of the ways to exhibit ebayui-core c

[2018-07-05 18:56] yomed commented on #149
In addition to the layout issue, the the js call stack can run out. Since there are no items, `lastIndex` becomes -1. Then the index continuously loops between 0 and -1, since it uses `lastIndex` as the upper bound.

[2018-07-05 18:56] yomed commented on #241
Closing in favor of consolidation of "no items" behavior in this ticket: https://github.com/eBay/ebayui-core/issues/149

[2018-07-06 02:38] ajay2507 commented on #155
@ianmcburnie Can I work on this issue?.

[2018-07-06 22:46] #215 closed

[2018-07-06 23:09] #208 closed

[2018-07-09 16:07] trg commented on #217
^ Synced up on Slack.

[2018-07-09 16:11] seangates commented on #217
@yomed @trg If we could post the icons here (for documentation and transparency), that would be helpful for the rest of us. 😉

[2018-07-09 16:18] yomed commented on #217
Here's a screenshot showing the DS6 overflow menu:
![image](https://user-images.githubusercontent.com/3595986/42462715-e2a1435e-8358-11e8-9755-9078e48c5785.png)

Given this use case, I believe we should 1) expose something like `no-default-icon` to hide the default chevon icon, and 2) allow arbitrary HTML for the label, which would allow use of a single `<ebay-icon>`.

[2018-07-09 16:21] DylanPiercey commented on #132
The original issue of the style object not being properly converted to css was fixed in Marko however I just tested this out with the `ebay-button` and noticed that the style is not being passed in under the `*` property. Will chat with @mlrawlings when he gets in today to figure out the best way to move forward with this one. My thoughts are that we should just special case style for now but lets

[2018-07-09 16:25] seangates commented on #217
Thanks, @yomed.

[2018-07-09 16:54] yomed commented on #217
@senthilp This would be HTML through Marko like:
[code]

[2018-07-09 16:57] senthilp commented on #217
Got it, this works and matches our design. I earlier misunderstood that you are suggesting to use the `label` attribute on `<ebay-menu>` for passing in HTML.

[2018-07-09 17:08] ianmcburnie commented on #217
Could this be adapted to support two different icons for collapsed and expanded state?

[2018-07-09 17:15] yomed commented on #217
@ianmcburnie We can do that, but it wouldn't be for this use case. That would basically entail applying this same behavior to allow arbitrary HTML for the icon portion. Just to note, if we allow users to just pass in the icon name, then the menu would have to include all possible icons that might be used.

[2018-07-09 17:18] ianmcburnie commented on #217
We don't want to allow all icons. Just a subset.

[2018-07-09 17:31] yomed commented on #217
There are 2 separate issues here:
1) This issue was created for having an icon as a label, and having an option to remove the default chevron toggle.
2) Your comments reflected the possibility of customizing the default chevron toggle.

For both of these cases -- if you want to only allow certain icons, you need to include all icons in that set on the page. So if our subset is 5 icons, then every

[2018-07-09 17:37] ianmcburnie commented on #217
Yep, I'm trying to understand how both of those issues could be solved with arbitrary HTML. I want to make sure we can solve the 2nd issue before we bake in the 1st. It's still not clear to me how we would handle two states. Are you proposing something like this:

[code]

[2018-07-09 17:40] yomed commented on #217
Yeah, it would be something like that for the 2nd issue. I don't see why we need to handle the 2nd issue now, since it seems we don't have an actual use case for it.

[2018-07-09 17:42] ianmcburnie commented on #217
We don't need to handle it right now. But I like to design things, or at least consider things, with the future in mind. Especially when it comes to public APIs like this and Skin.

[2018-07-09 17:44] ianmcburnie commented on #217
From a user point of view, setting an attribute is easiest, but yes it comes at a cost on the performance side like you say. I'd like us to investigate whether we can lazy load those icons in some manner.

[2018-07-09 17:55] yomed commented on #217
I think that would be overcomplicating things, because these are fundamentally different issues.

Skin allows users to put any icon they want into buttons -- so why not expand buttons as well?

The chevron toggle itself is a fundamental part of the menu design, so I agree we should restrict those customizations more closely. But that's not really related to the first issue, except that they both i

[2018-07-09 23:12] #172 closed

[2018-07-10 14:53] ianmcburnie commented on #242
@nm123github this sounds and looks like a great idea!

[2018-07-10 15:22] ianmcburnie commented on #217
So I guess here are the options on the table:

1A Arbitrary HTML handling the use case only
[code]

1B Arbitrary HTML handling future/potential use case

[code]

NOTE: `settings-alt` icon does not exist. It is a theoretical alternative for the expanded state. DS4 had some different states for icons (e.g. `notifications-null`), but the concept has not been carried over into DS6.

2A Attribute handl

[2018-07-10 15:36] ianmcburnie commented on #217
Actually, @yomed. See my 1st comment right at the top. Couldn't we pass through the attribute name to <ebay-icon> internally? So a dev never has to manually add the ebay-icon tag, but we use it under the hood. I might be missing something though. Thoughts?

[2018-07-10 16:07] nm123github commented on #242
Great 👍. Next step for me would be to setup a storybook environment with all the components. After we ok the final setup we can discuss steps on where we can host it.

[2018-07-11 14:47] abiyasa commented on #242
Nice!  @nm123github Do you know if we can support lasso from storybook? It seems that it uses webpack by default.

[2018-07-11 14:51] nm123github commented on #242
@abiyasa , you're right, storybookJS uses webpack. No lasso support.

[2018-07-11 19:07] #219 closed

[2018-07-12 00:41] PrashantAshok opened #249 "Icon: Skin icons missing in ebay-icon"
# Bug Report

## eBayUI Version: 0.6.0

## Description
24 icons from Skin is missing in `ebay-icon` symbols [folder](https://github.com/eBay/ebayui-core/tree/0.6.0/src/components/ebay-icon/symbols).
E.g. `<ebay-icon type="inline" name="info"/>` doesn't work.
This is error that shows up:
[code]

## Workaround
Add the svg file manually to the app & use it.

[2018-07-12 03:04] ianmcburnie commented on #249
@hramakumar Did you see this issue on QA?

[2018-07-12 03:40] seangates commented on #249
@ianmcburnie There are quite a few missing. I've logged them in a spreadsheet, and will share with you.

[2018-07-12 04:58] PrashantAshok commented on #249
The list:``` ["filter-grid", "filter-single", "filter-list", "home", "info", "messages", "following", "send", "refresh", "add", "sign-out", "user-profile", "flag", "photo-rotate", "photo-crop", "photo-select-all", "photo-select-none", "photo-brightness", "photo-gallery", "photo-gallery-more", "delete", "thumbs-up", "thumbs-up-selected", "thumbs-down", "thumbs-down-selected", "red-laser"]```

[2018-07-12 05:02] ianmcburnie commented on #249
0.6.1 branch created in readiness. We should put this fix out in a patch rather than wait for 0.7.0 which will need to go through QA cycle.

[2018-07-13 00:51] brandonlai opened #253 "Spacing issue between radio__icon and field_label"
Using CDN version of ds6 skin produces different results for radio than in documentation.

![screen shot 2018-07-12 at 5 49 59 pm](https://user-images.githubusercontent.com/8424407/42666786-0978d1ae-85fc-11e8-9983-7d53e77fa3b0.png)

[code]

[2018-07-13 05:55] seangates commented on #253
@ianmcburnie I'm not sure how yet, but the DS4 `field.less` CSS is bundled at the very beginning of the documentation CSS (not the CDN CSS, though).

Maybe you can help me look through the Gulp process to find out what's up? Maybe it's caching that `field.less` file somewhere in the process?

@brandonlai You will probably need to handle the spacing on your own, as this is a bundling issue with our

[2018-07-13 05:55] #253 closed

[2018-07-13 17:14] yomed commented on #242
@nm123github This is really useful as a way to show developers our components. What do you think about having a static build of this that can hosted on Github Pages? We could either have it in this repo directly, or to start out we could have it in a repo that you own, and we could link to it.

Here's some quick info on the static build, but I haven't looked at the details: https://github.com/stor

[2018-07-13 17:22] seangates commented on #242
+1 for a static version of Storybook.

[2018-07-13 19:11] #197 closed

[2018-07-13 19:11] #220 closed

[2018-07-13 19:12] #176 closed

[2018-07-13 19:14] #149 closed

[2018-07-13 19:15] #249 closed

[2018-07-13 20:00] ianmcburnie commented on #253
@PrashantAshok and I decided to add the DS4 field CSS to the DS6 docs, because the checkbox and radio examples use it. We decided not to add field to DS6 until we were sure it was a good idea to retain it or just have teams use something like flex box or grids for the layout in future.

This does mean though that teams will need to manually copy and paste the css for field (from below), which obvi

[2018-07-13 20:08] yomed commented on #155
@bhoomisatasiya I tried to reproduce this issue. In Safari, the key combo seems to work fine. In Chrome, the key combo does not open the `<ebay-select>`, but it doesn't open a regular native `<select>` either. I'm closing, since browser behavior is maintained. Please let me know if you still think this is an issue.

[2018-07-13 20:11] ianmcburnie commented on #155
I believe this ticket was created before the select/combobox split. I still see the issue for combobox, so I will update the title and re-open.

[2018-07-13 20:12] senthilp commented on #253
@ianmcburnie This is a very common use case. Should we consider adding field CSS to DS6 in the next release or maybe add extra classed for flexbox, which developers can use?

[2018-07-13 20:13] ianmcburnie commented on #253
I think we will add it to DS6 for v6 as we are now trying to keep DS4 and DS6 in sync in terms of features.

[2018-07-16 15:59] yomed commented on #56
Fixed for our users (just not for us inside the repo) via https://github.com/mlrawlings/complain/commit/4f363905544b4f2c34c28075136a9d6b5e793999

[2018-07-16 16:03] yomed opened #256 "Icon: svg files are manually copied from Skin"
# Feature Request

## Description

It would be nice to have a build tool to automatically import svg icon files from Skin. This can help reduce errors from manually copying and pasting the markup. It can also help us keep up to date when there are changes to Skin. The 2 main areas are: 1) the svg files themselves, and 2) references to the icons in the `examples/` .

[2018-07-16 16:08] yomed commented on #140
IMO we should document this limitation in the pagination docs and close this bug.

[2018-07-16 16:35] ianmcburnie commented on #140
Agreed. Let's make that the scope of this ticket.

[2018-07-16 16:50] yomed commented on #182
This was fixed in Skin for the menu case https://github.com/eBay/skin/issues/83

[2018-07-16 16:50] #182 closed

[2018-07-16 18:02] #56 closed

[2018-07-16 18:08] ianmcburnie opened #257 "New Component: Textbox"
Implement ebay-textbox.

User story: provide Marko ebay-textbox component that can output DS4 and DS6 textbox, plus it's variants (e.g. disabled, readonly, invalid).

https://ebay.github.io/skin/#textbox
https://ebay.github.io/skin/ds6/#textbox

[2018-07-16 18:10] ianmcburnie opened #258 "New Component: Tabs"
Placeholder. More details to follow...

User story: Marko implementation of Skin's [tab component](https://ebay.github.io/skin/#tab)

Mind Pattern: https://ebay.gitbooks.io/mindpatterns/content/disclosure/tabs.html

Keyboard Behaviour Module: https://github.com/makeup-js/makeup-roving-tabindex

[2018-07-16 18:16] #218 closed

[2018-07-16 19:13] #125 closed

[2018-07-16 21:19] nm123github commented on #242
Here is a static deployed version of StorybookJS.
https://nm123github.github.io/ebayui-core/
generated off
https://github.com/nm123github/ebayui-core/tree/ebayui-core-storybook

I will keep updating it with newer components/add-ons and pushing changes to the same url.

[2018-07-16 21:22] senthilp commented on #242
@nm123github This is great. Is it possible that you make it part of the eBayUI repo itself and have the static hosting within the repo. Something like https://ebay.github.io/ebayui-core ?

[2018-07-16 23:40] nm123github commented on #242
hey @senthilp , yes that is possible. That would mean adding storybook changes to this repo. I'll create a PR at some point to integrate storybook changes. After that, we could just use [storybook-deployer](https://github.com/storybooks/storybook-deployer) to deploy directly into GitHub pages.

[2018-07-17 03:45] ianmcburnie commented on #258
Incase you miss my update above, we should try and leverage the [roving-tab-index](https://github.com/makeup-js/makeup-roving-tabindex) module again for the keyboard behaviour.

[2018-07-17 20:58] yomed opened #261 "Demo: examples can show out of order"
# Bug Report

## eBayUI Version: 0.7.0

## Description

We should update component `example` folders to use 2 digit numbering like `01 02 03` rather than `1 2 3`. In the latter case, 10 is considered before 1 in folder ordering. This is only strictly needed once a component hits 10 examples, but we might as well update them all for consistency and future-proofing. We should also remove the current

[2018-07-17 21:26] oxala opened #262 "ebayui-dialog class attribute"
# Bug Report

## eBayUI Version: 5

## Description
When i set a `class` for `<ebayui-dialog>` i expect this class to be rendered on the root element of ebayui-dialog, so i can control the style (if needed) from my component. (using `> .dialog` etc...). Right there is another element rendered between my class dialog and my component (.dialog-placeholder).

## Workaround
The current workaround is to

[2018-07-17 21:30] oxala opened #263 "ebayui-dialog outside click close"
# Bug Report

## eBayUI Version: 5

## Description
When i click on the margin part of the dialog content (orange color on the screenshot)
![image](https://user-images.githubusercontent.com/1775318/42846469-e71c2446-89cd-11e8-927f-af538d594311.png)
The dialog is being closed. It should not be closed.

## Workaround
Don't click on the orange area of the screenshot.

[2018-07-17 21:48] oxala opened #264 "Dialog: add option to remove 'X' button"
# Feature Request

## Description
I need to be able to have a dialog that user cannot close by clicking outside. It should not have an X as well.

## Context
The use-case - when we need to force user to choose (let's say Accept or Deny) something in the dialog.

[2018-07-17 21:52] oxala commented on #262
I have a bad example here, since i have className `dialog` as a custom class name. :-(

But anyway, `.dialog` is coming from the ebayui-dialog component (hence - the coupling). My app should not know about it existence. Because internally within ebayui-dialog it can be changed to whatever without breaking my app.

[2018-07-17 22:01] yomed commented on #262
Right, I would avoid hooking into the Skin classes as much as possible to avoid implicit coupling. That said, Skin intentionally does not namespace these classes, so any users of Skin have to avoid using those same names in their applications. What's your use case for overriding the styles?

[2018-07-17 22:02] ianmcburnie commented on #264
@oxala Can you please share a real life example or situation?

[2018-07-17 22:20] DylanPiercey commented on #262
I think the `dialog-placeholder` element is a remnant of the original plan to have a dialog that portaled to the body. As we've discussed before I think it would make sense to revisit that functionality when we move to Marko v4, however in Marko v4 this extra div is not needed. I can double check to see if I am using this div for anything currently but I think we could remove it.

[2018-07-18 06:34] seangates commented on #242
Great work, @nm123github! I'm pretty stoked about this.

[2018-07-18 12:04] abiyasa opened #268 "Carousel: next button alignment failed when navigating links via keyboard"
# Bug Report

## eBayUI Version: 0.6.1

## Description

When you have links inside carousel (linked cards), you can navigate through the items via keyboard. However, when the carousel Next button get keyboard focus (after cycling focus through carousel item), the Next button position is off and not right aligned.

Steps to reprocude:

- Have a carousel with several links inside (e.g http://app.uim

[2018-07-18 15:21] yomed commented on #268
This looks like a bug with not setting hidden carousel-item focusables to be unfocusable.

[2018-07-18 16:35] DylanPiercey commented on #268
As far as I can tell this is fixed in 0.7.0-0 prerelease.

[2018-07-18 17:42] yomed commented on #217
I have this working in Marko v3 on https://github.com/eBay/ebayui-core/tree/217-menu-icon-label
Unfortunately there are some issues in Marko v4 in preserving transcluded content on client render. The team is aware of the issues: https://github.com/marko-js/marko/issues/912

I have not yet been able to figure out any workaround for this specific case.

[2018-07-19 19:32] ianmcburnie commented on #268
@hramakumar can verify and close.

[2018-07-19 19:34] ianmcburnie commented on #263
@DylanPiercey This is fairly low priority, but please do a quick investigation/scoping effort if you get a chance.

[2018-07-19 19:38] ianmcburnie commented on #264
Sounds good. We have accessibility concerns around forcing users into a potentially stressful decision they might have arrived at by mistake (e.g. after clicking the wrong button). An 'x' or tap outside allows users to defer making any such decision.

[2018-07-19 20:00] oxala commented on #263
My bad. I should have upgraded `ebayui-core` before creating this issue. Closing.

[2018-07-19 20:00] #263 closed

[2018-07-19 21:43] hramakumar opened #276 "carousel: unable to override the carousel margin with gap attribute"
# Bug Report

## eBayUI Version: 0.7.0-1

## Description
carousel: unable to override the carousel margin with gap attribute

## Workaround

## Screenshots

                         <div class="grid__cell grid__cell--8of16 grid__cell--8of16-lg grid__cell--4of8-sm" draggable="true" ondragstart="drag(event)">

                            <h3>Continuous - overriding gap value- issue #220 hems2</h3>

[2018-07-19 21:46] DylanPiercey commented on #276
Fixed in https://github.com/eBay/ebayui-core/pull/275

[2018-07-19 23:11] hramakumar opened #277 "Carousel: scrolling till the end does not disable the carousel right arrow - galaxy s5 and s6"
# Bug Report

## eBayUI Version: 0.7.0-1

## Description
carousel: touch and move till the end . It  does not disable the carousel right arrow. clicking on the next arrow takes to a card.
This happens everytime in samsung galaxy s6
repro:
https://go/ebayui/test2
 move the cards in the continuous carousel till the end.
The next arrow is still enables and clicking on it moves the cards

## Workaroun

[2018-07-19 23:20] hramakumar commented on #268
ok will do.

[2018-07-20 19:43] hramakumar opened #278 "carousel: continuous carousel mweb should not display next and previous arrow buttons"
# Bug Report

## eBayUI Version: 0.7.0-1

## Description
carousel: continuous carousel mweb should not display next and previous arrow buttons
## Workaround

## Screenshots
![mwer_cont_carousel_with_arrows](https://user-images.githubusercontent.com/13157115/43022012-86d1281c-8c1a-11e8-9508-ea393508ebcf.png)

[2018-07-20 21:49] ianmcburnie opened #280 "New Component: Switch"
This will be available for DS4 and DS6 in upcoming Skin v6 release. Should be a simple component to squeeze into v1.0.0.

Sneak peak:

<img width="665" alt="screen shot 2018-07-20 at 2 48 27 pm" src="https://user-images.githubusercontent.com/38065/43026780-0addc99c-8c2c-11e8-9b43-68b27b297449.png">

New markup:

[code]

[2018-07-20 21:51] #276 closed

[2018-07-23 21:49] hramakumar commented on #278
verified

[2018-07-23 21:52] #278 closed

[2018-07-23 23:44] tws2000 opened #283 "Drag and Drop"
# Feature Request
A component or util that provides drag and drop functionality for touch and mouse devices. Would normalize any differences between browsers and devices (ie, Windows touch, iOS). Would handle accessibility.

[2018-07-24 17:52] nm123github commented on #242
just FYI updated static-version with all components+examples for now.
https://nm123github.github.io/ebayui-core/

[2018-07-24 19:39] seangates commented on #242
This is amazing! 🎉 Thanks for working on this!

[2018-07-24 19:46] seangates opened #285 "Icon: Abstract out stamping capabilities for use by external components"
# Feature Request

## Original PR details 👇

I've coped the PR description from @dsathyakumar below as it is helpful to understand this issue's motivation.

----

## Description
Expand `ebay-icon` capabilities to stamp custom inline icons.

## Context
- Currently `<ebay-icon/>` stamps inline SVG icons that are available in `/symbols` folder within it
- More often, there are repeated custom icons g

[2018-07-24 20:57] senthilp commented on #242
Thanks, @nm123github this is great. Will you be issuing a PR to the main repo, so it gets hosted at https://ebay.github.io/ebayui-core/ ?

[2018-07-24 21:05] nm123github commented on #242
Hey @senthilp , yes i am going to send a PR shortly.

[2018-07-24 22:32] hramakumar opened #287 "combobox-even after the cursor issue is fixed..the combobox wont collapse unless the done link is clicked"
# Bug Report

## eBayUI Version: 0.6.0

## Description
IOS- Chrome and safari
combobox-even after the cursor issue is fixed
https://github.com/eBay/ebayui-core/issues/229
The event is not triggered unless the done link is clicked- unable to collapse the options list without clicking done.
## Workaround

## Screenshots

[2018-07-24 22:33] hramakumar commented on #287
@dasarianudeep  can you please attache the screenshot?

[2018-07-24 23:02] dasarianudeep commented on #287
Please find the screenshot
![img_0590](https://user-images.githubusercontent.com/12702284/43170654-05db5cac-8f5b-11e8-9ad4-79becf7a2b71.PNG)

[2018-07-24 23:04] dasarianudeep commented on #287
Even the actual DS6 combobox works the same. http://ebay.github.io/skin/ds6/#combobox

[2018-07-25 01:08] yzhao888 opened #288 "Combobox: needs accessibility support"
# Bug Report

## eBayUI Version: 0.6.0

## Description

ebay-combobox doesn't provide a way to specify accessibility text for voice-over use case.

I'm following https://www.coolfields.co.uk/2011/04/accessible-forms-should-every-input-have-a-label/ to provide accessibility to the dropdown. The <input> tag needs either an id or a title attribute.
It would be nice to have a way to pass in a string a

[2018-07-25 01:09] yzhao888 commented on #288
This is also highlighted from WAE tool.

 1 . The input with id= needs a title or label: 1) title attribute, 2) label text from a wrapped label (the label tag wraps the input tag) or 3) label text from a referrence label (the label for attribute references the input id attribute). Try <label for='inputElement'>Input Label</label><input id='inputElement' />

[2018-07-25 06:05] ianmcburnie commented on #288
Yes, thanks for reporting this.

Please ensure ID can be set on input element. We do not need title attribute (as it's inaccessible to keyboard users)

[2018-07-25 06:52] seangates commented on #288
😱 Thanks for reporting this.

[2018-07-25 14:16] abiyasa opened #289 "Carousel: cannot scroll items without Prev/Next button on touch device"
# Bug Report

## eBayUI Version: 0.6.1

## Description

The carousel Prev & Next button only appears when you hover the mouse. However, since there is no hover event on touch/mobile device (or mobile), those buttons are only visible when carousel get focus.

This is not a problem when you can tap the carousel item to gain focus. Unfortunately, it's a problem when carousel items are linked items (s

[2018-07-25 16:31] seangates commented on #289
@abiyasa We're stretched thin, to say the least. I will work with @ianmcburnie to see if we can get release notes out for v0.7.0 as soon as possible.

[2018-07-25 16:32] #289 closed

[2018-07-25 18:22] abiyasa commented on #289
Thanks @seangates ! Sorry, I didn't mean to push you guys for the release notes updates.
I thought I saw release note for v0.5.0 before and it was deleted somehow, but I realized was confused this one with Skin v5.x 😬

[2018-07-25 18:32] seangates commented on #229
So, we fixed the cursor issue, but we still need to figure out the collapse part of this issue. Leaving open until that can be figured out.

[2018-07-25 18:34] seangates commented on #289
Oh! Gotcha. Yes, the numbering was very similar for a little while there. Getting closer to v1.0, though! Exciting!

[2018-07-25 18:48] hramakumar opened #290 "Carousel - autoplay: 1 slide - carousel should not display the next/prev and play buttons"
# Bug Report

## eBayUI Version: 0.8.0-1

## Description
Carousel - autoplay: when there is only one slide to show, the carousel should not display the next/prev and play buttons

actual: the next,prev and play buttons are displayed even when there are no more slides to show

expected: next and prev buttons should not be displayed or should be enabled. The play button should not be displayed as th

[2018-07-25 19:41] hramakumar opened #291 "carousel-autoplay: broken in devices(when flag is set to touch)- after the first slide rest of the slides are blank"
# Bug Report

## eBayUI Version: 0.8.0-0

Happens on all devices Android and IOS, All browsers

## Description
carousel-autoplay: broken in devices(when flag is set to touch)- after the first slide rest of the slides are blank.
It works fine in desktop.
## Workaround

https://www.useloom.com/share/6946b5fac58c4e2e86ce2cb8e59fd046

[2018-07-26 00:03] #217 closed

[2018-07-26 00:05] #216 closed

[2018-07-26 00:05] #261 closed

[2018-07-30 18:20] #291 closed

[2018-07-30 21:42] ianmcburnie commented on #257
Moving this to 0.9.0.

[2018-07-30 21:42] ianmcburnie commented on #258
Moving this to 0.9.0.

[2018-07-30 21:48] ianmcburnie commented on #280
Moving this to 0.9.0. Good first issue.

[2018-07-31 16:34] ianmcburnie commented on #280
Just a heads up that the markup for the 0.9.0 version must match the 5.1.x version of Skin and will be for DS4 only.

The 1.0.0 version will match the 6.0.x version of skin and will also support DS6. The only difference in skin 6.0.x is that two new classnames are required, so I feel we might as well do the bulk of the work now, and the do a quick update later.

[2018-07-31 16:49] ianmcburnie commented on #290
Fixed in 8.0.0-1

[2018-07-31 16:49] #290 closed

[2018-07-31 16:52] ianmcburnie commented on #132
Moving this back to 0.9.0. It can potentially wait until 1.0.0 too.

[2018-07-31 17:40] ianmcburnie opened #294 "Carousel: minor a11y fixes"
# Bug Report

## eBayUI Version: 0.8.0

## Description

A few updates needed to the markup for accessibility (a11y).

### 1. Fix Live Region for Voiceover (fixed in #297)

An additional span is required inside live region:

[code]

should be:

[code]

Reason: this is required to trigger a11y subtree change & announcement in voiceover.

### 2. Add Support for Clipped Heading

We should also allow t

[2018-07-31 17:40] RajaRamu opened #295 "ebay-button - handleKeydown is not sending originalEvent like handleClick"
## eBayUI Version: 0.6.1

## Description
handleKeyDown is handled inside the `ebay-button` and emits `button-click` event. `originalEvent` is undefined which getting passed

## Workaround
Here is what we should do,
#1 src/common/event-utils/index.js - pass events back to callback
[code]
#2 src/components/ebay-button/index.js

[code]

[2018-07-31 18:34] #262 closed

[2018-07-31 18:49] ianmcburnie opened #296 "Carousel: autoplay should not trigger live region"
# Bug Report

## eBayUI Version: 0.8.0-1

## Description

The live region should not announce when autoplay is enabled. This is distracting and creates a barrier for users of assistive technology.

To simplify things, I propose permanently dropping role="status" from the markup (for all variations of carousel) then we can simply flip aria-live between a value of `off` and `polite` based on whether

[2018-07-31 19:28] hramakumar opened #298 "menu: reverse does not work"
# Bug Report

## eBayUI Version: 0.8.0-1

## Description
                 <ebay-menu label="eBay Menu" style="margin-left:200px">
                        <ebay-menu-item>item 1 this is a very very very long text</ebay-menu-item>
                        <ebay-menu-item>item 2</ebay-menu-item>
                        <ebay-menu-item>item 3</ebay-menu-item>
                    </ebay-menu>
I use the

[2018-07-31 19:53] ianmcburnie commented on #296
Fixed and merged.

[2018-07-31 19:53] #296 closed

[2018-07-31 20:18] yomed commented on #298
Can you see if this is a bug in isolation? If not, can you determine what the conditions are for the bug to occur?

[2018-07-31 20:43] hramakumar commented on #298
yes happens occurs in isolation as well

as mentioned above I used the style="margin-left:200px and expected the options to be left aligned but its not.

[2018-07-31 20:47] hramakumar commented on #298
https://10.0.0.210:8080/ebayUIStaging

[2018-07-31 20:50] seangates commented on #298
I think you mean right aligned?

[2018-07-31 20:51] hramakumar commented on #298
yes. my bad.
Right aligned

[2018-07-31 21:33] ianmcburnie opened #299 "Pagination: add support for button tag and pure client-side behaviour"
# Feature Request

## Description

I've ran into a few cases where pure client-side pagination is being used. The backend service does not have any URLs for the href, therefore anchor tags cannot be used (at least not without abusing them with invalid href values). For example, when pagination through feedback results.

Of course for pages like SRP, even when re-rendering results on the client, th

[2018-07-31 21:54] oxala opened #300 "Limit combobox visible area."
# Feature Request

## Description
There should be a way to limit amount of visible options inside combobox. As right now, it's very difficult to scroll through combobox with hundreds or in some cases thousands of entries.

## Screenshots
![image](https://user-images.githubusercontent.com/1775318/43489346-99033cd6-94d1-11e8-846e-ab303429094a.png)

[2018-07-31 21:57] yomed commented on #298
@hramakumar You would need to add the `reverse` boolean attribute, which isn't present in your example above. I.e.:

[code]

[2018-07-31 21:59] seangates commented on #300
Can you report that over here? => https://github.com/eBay/skin/issues

[2018-07-31 21:59] seangates commented on #300
Then I'll close this one.

[2018-07-31 22:00] seangates commented on #300
Wait ... we are already tracking this: https://github.com/eBay/ebayui-core/issues/228

[2018-07-31 22:00] #300 closed

[2018-07-31 22:35] seangates commented on #300
No worries! Is it blocking you?

[2018-07-31 23:37] hramakumar commented on #298
got it.
I am closing it

[2018-07-31 23:37] #298 closed

[2018-08-01 00:44] yomed commented on #295
Thanks for the bug report. It will be fixed in `0.8.x`.

[2018-08-01 20:40] trg commented on #217
@yomad Is it accurate that this component does not work with Marko 4?

[2018-08-01 20:50] yzhao888 opened #302 "Pagination: invalid aria-current value on pagination__item"
# Bug Report

## eBayUI Version: 7.0.1

## Description

in ebay-pagination generated pagination__item that are not currently selected, they have aria-current='', this is an invalid value.
per https://tink.uk/using-the-aria-current-attribute/, for page not currently selected, they should not have aria-current attribute at all.
This is also reported in WAE tool.

## Workaround

No
## Screenshots

N/

[2018-08-01 20:50] yomed commented on #217
@trg It does work in v4 -- we ended up using some workarounds. The workaround is only needed when it is not inside another component, noted here: https://github.com/eBay/ebayui-core/pull/273/files#diff-e9d5842ff3425e2177264650b9495759R1

There are some minor UI issues that are still pending fixes, here:
https://github.com/eBay/skin/issues/261

[2018-08-01 23:56] ianmcburnie commented on #302
Super quick fix might be to set the value to `false` instead of empty, but yes ultimately the attribute should be removed if the item is not the current item.

[2018-08-01 23:57] #295 closed

[2018-08-02 00:00] ianmcburnie commented on #268
Assuming this got fixed.

[2018-08-02 16:29] CestDiego opened #303 "Button: does not respect "type" attribute in input"
Use Case:
[code]

Expected behavior

[code]

Actual behavior

[code]

This seems to be a limitation of Marko3

[2018-08-03 02:03] sidsakhadeo opened #308 "<ebay-button> should respect the "type" attribute in input"
# Bug Report

## eBayUI Version: 0.7.1

## Description
`<ebay-button>` doesn't respect the `type` attribute set by the user in the input. Currently, it's hardcoded to `type="button"` (seen [here](https://github.com/eBay/ebayui-core/blob/master/src/components/ebay-button/template.marko#L6)) but this should support types `submit` and `reset` too.

## Workaround
The workaround is quite simple and I c

[2018-08-03 02:06] sidsakhadeo commented on #308
Just noticed this is a duplicate of #303

[2018-08-03 02:06] #308 closed

[2018-08-03 17:56] sendlo opened #309 "Carousel: code coverage is low"
## eBayUI Version: 0.8.0

## Description
Latest code coverage for the carousel component is pretty low (79%) and that's dragging overall coverage low.
Looks like adding tests for handleScrollEnd will probably bring it up to standards.

[2018-08-03 21:03] yomed commented on #280
@ianmcburnie Why not support DS6 from the start? The differences in that version are additive, so it should be fully backwards compatible with DS4.

[2018-08-03 21:08] ianmcburnie commented on #280
DS6 switch is only available in skin v6 branch. We can't set 0.9.0 to use skin v6 due to the many other breaking changes. We want to line up all those breaking changes with v1.0.0 of coreui.

[2018-08-03 21:28] sendlo commented on #280
So the 0.9.0 version will be based on 5.1.x skin.
The 1.0.0 version will have the same markup, but will be based on skin 6.0.0 and support DS4 and DS6.  And the only change from 0.9.0 to 1.0.0 will be 2 new classnames?

Is that an accurate summary?

[2018-08-03 21:42] ianmcburnie commented on #280
Yes, that's how I see it.

[2018-08-03 21:42] seangates commented on #280
Skin v5.2.x, but yeah, @yomed.

[2018-08-06 17:56] #257 closed

[2018-08-07 04:09] seangates opened #315 "ebay-icon: DS4 icons are not part of the symbols library"
# Bug Report

## eBayUI Version: 0.8.0

## Description
Currently, the only icons in the `ebay-icon/symbols` directory are for DS6. We need to be able to support different design systems' icons. One solution is to possibly use the `skin-ds#` Lasso flag which gives us this information. I don't believe we need Skin to be tied to the components, though, which puts us in a tough spot.

Please let me kn

[2018-08-07 16:19] sendlo commented on #315
The only other options I can think of is to have different icon names for DS4 icons, or set some additional flag on the component.  But in both cases that means the client has to update the component when moving version of skin, which is a non-starter.

I think its OK to base this off of the skin lasso flag, with a default to the latest style, since it represents a design change anyway.

Does the

[2018-08-07 16:42] DylanPiercey commented on #315
What's the issue with using lasso flags for this?

The way I see it we would do something like:

[code]

[2018-08-07 18:32] seangates commented on #315
And in `browser.json` we do the check, then send the appropriate template to the bundler?

[2018-08-07 18:48] sraone opened #316 "Carousel: Items are not visible when items count is less than items-per-slide"
# Bug Report

## eBayUI Version: 0.8.0

## Description
Items are not visible when the items count is less than `items-per-slide`;

[code]

If `data.items` length is less than 5(which is `items-per-slide`), the component would not displaying any items in `carousel`.

https://github.com/eBay/ebayui-core/blob/d2d28a6d9d35f205a8a2d53987db9dd91289ea66/src/components/ebay-carousel/index.js#L40

If items

[2018-08-07 20:56] sendlo commented on #309
@DylanPiercey   Low priority.  If you can't get your test case working, ignore this for now.

[2018-08-07 21:02] #303 closed

[2018-08-07 21:22] martin-ebay opened #317 "pagination in ie11 throws an error"
# Bug Report

## eBayUI Version: x.x.x

## Description
trying to use the pagination buttons in ie11 throws an error.

## Workaround
The fix is to fix the conditional in emitAndFire.js as it is checking

[code]
the window.CustomEvent object exist in ie11 but ie11 does not support `new CustomEvent`.

[2018-08-07 21:46] sendlo commented on #316
@sraone  I'm changing this to an enhancement because this is intentional.  When "items-per-slide" is set we expect the client to pass the correct number of items to fill a whole page for each slide.  We drop any extra items that don't fit a full slide.

But we'll update the documentation to make sure this is clear.

[2018-08-07 21:50] yomed opened #320 "Revisit event naming"
# Feature Request

## Description

`checkbox-select`, `radio-select`, `switch-select` can be misleading, since they fire for both selection and deselection. These are opposed to events where they are actually only used for selection, like `pagination-select` and `tab-select`.

If we want to change the name, we should change them all at the same time.

Brought up in #310

[2018-08-07 21:52] #280 closed

[2018-08-07 21:52] #258 closed

[2018-08-07 22:04] yomed commented on #320
Earlier discussion https://github.com/eBay/ebayui-core/pull/134#issuecomment-390281822

[2018-08-07 22:12] DylanPiercey commented on #315
Yeah, the browser json for each icon folder would look like:

[code]

[2018-08-07 22:15] yomed commented on #317
Better feature check: https://github.com/Modernizr/Modernizr/blob/5eea7e2a213edc9e83a47b6414d0250468d83471/feature-detects/customevent.js#L23

[2018-08-07 22:26] seangates commented on #315
My gut just tells me "don't tie yourself to the horse" ... a.k.a. decouple from the design system. And this ties us to the design systems we're using.

It's just hard not to do it since the icon names are 1:1 with the design system names, essentially tying us to certain stamped icon IDs. I guess that's an okay tradeoff in this scenario.

[2018-08-07 22:32] sendlo commented on #315
yep.  I see your concern, but in this specific instance I think its the best option.

[2018-08-08 00:42] yomed opened #324 "CI: BrowserStack can't run on PRs from forks"
# Bug Report

## eBayUI Version: 0.8.0

## Description

We've had a few PRs recently from external contributors who opened up PRs from their personal forks:
https://github.com/eBay/ebayui-core/pull/304
https://github.com/eBay/ebayui-core/pull/319

In both of these, builds failed at the automated browser tests. But when putting those exact commits in an upstream branch, the builds passed fine. In d

[2018-08-08 16:58] seangates commented on #315
Let's prioritize this work as part of 1.0.0.

[2018-08-08 16:59] sendlo commented on #324
To avoid merging their code without a full browserstack run, we could ask all external PRs to go to a "bugfix" branch which runs the headless Chrome.  Once its on the bugfix branch we can do a quick PR to master with the full tests.

Its extra maintenance for us, but less risk of a broken master branch.

[2018-08-08 17:14] sendlo opened #325 "Carousel: a11y fix - clipped heading"
# Bug Report

## eBayUI Version: 0.9.0

## Description
Add Support for Clipped Heading
Final issue from: https://github.com/eBay/ebayui-core/issues/294

We should also allow the option of this outer span being a heading element too (h1 - h6), in the case where the page/app does not have a visible heading preceding the carousel.

[code]

Could be:

[code]

Reason: all carousels should be preceded b

[2018-08-08 17:15] #294 closed

[2018-08-08 17:15] sendlo commented on #294
3 of 4 issues fixed.  I opened another ticket to track the final issue:
https://github.com/eBay/ebayui-core/issues/325

[2018-08-08 18:47] PrashantAshok opened #327 "Menu: Emits incorrect element on client side rerender"
# Bug Report

## eBayUI Version: 0.8.0

## Description
**Repro Steps**
1. First time server render, `event.el` emitted has the right `el` that was clicked.
2. On subsequent client side re-render, `event.el` emitted has the incorrect (older) `el` that was clicked.

Looks like `this.itemsEls` needs to be recalculated on re-render (onRender) as well. A quick test seems to fix the issue. Relevant code

[2018-08-08 18:58] sendlo commented on #327
@yomed  Let's see if we can get this in the final 0.9.0 release.  I can create a second pre-release with this later this week.

[2018-08-08 23:32] yomed commented on #317
Thanks for the bug report and PR -- Fix is out in `0.9.0`

[2018-08-08 23:32] #317 closed

[2018-08-08 23:44] yomed commented on #320
All of our current events, with some notes around which are inconsistent:

Old | New | Notes
--- | --- | ---
`breadcrumb-select` |  |
`button-click` |  |
`carousel-update`  |  |
`carousel-next`  |  |
`carousel-prev`  |  | inconsistent with `pagination-previous`
`carousel-slide`  |  |
`carousel-play` |  |
`carousel-pause` |  |
`checkbox-select` | `checkbox-change` | inconsistent with selection
`com

[2018-08-09 00:33] sendlo commented on #320
OK. You sold me.
My vote is to use the "*-change" events for those you mention.
And "*-prev".
And "*-hide".

I see menu-select is still a select, but by your logic that's because its always a select action, never a "de-select".

Thanks for the clear summary.

Any objections?

[2018-08-09 00:48] DylanPiercey commented on #320
Sounds good although I still need to take some time to look over everything. One thing to note is that the ‘eBay-dialog’ close event is based off of the native dialog close event. Not picky over close vs hide but that’s why it is what it is.

[2018-08-09 01:00] sendlo commented on #320
I don't think we NEED to stick with those.  I think its more important to be understandable and consistent.  For example, our menu uses the "select" event at the item level, but native select elements use the change event at the root level.
And I personally think show/hide makes more sense than show/close.

[2018-08-09 01:07] DylanPiercey commented on #320
I don’t disagree. However one of our core goals was to be like the DOM. @senthilp what do you think?

[2018-08-09 01:35] senthilp commented on #320
Yes, that is right. Being close to DOM is one of the values. For dialog, the existing event name `dialog-close` seems appropriate. This is not a silver bullet, for some scenarios we may need adjust them accordingly.

[2018-08-09 16:37] sendlo commented on #320
OK. Works for me.  So lets change notice to close then, for consistency.

[2018-08-09 17:52] hramakumar opened #329 "Switch: disabled not working"
# Bug Report

## eBayUI Version: 0.9.0-0

## Description
switch disabled is not working. It is enabled.
https://www.useloom.com/share/a6667fb22a1c49fc84726b817921bc7d

the issue is reproducible in marketplace as well

[2018-08-09 18:53] hramakumar opened #331 "tab: clicking on the fake tab has no indication that the tab is selected"
# Bug Report

## eBayUI Version: 0.9.0-0

## Description
When I click on the fake tab I dont see any indication which tab is selected before navigating to the new url.
This looks confusing when the tabs have no clear borders.
What I assume the expected behaviour here is
the tab get selected first then the navigation to the url happens.

Pls correct me if I am wrong

https://www.useloom.com/share/f

[2018-08-09 18:59] yomed commented on #331
This is expected, as it's the way it works in Skin: https://ebay.github.io/skin/#tab

[2018-08-09 22:13] #324 closed

[2018-08-09 22:43] seangates commented on #331
The idea of fake tabs, though, is that they are usually full page changes (taking a user to a different route). We are simply showing the tab design in the page, and then taking someone away from the current page.

BTW, this is the way fake tabs have been in DS4 as well. So, this is not a "broken" experience from Skin's point of view.

[2018-08-09 23:36] senthilp commented on #331
Point taken. We can close the issue if everyone agrees.

[2018-08-09 23:46] seangates commented on #331
Looks like me @sendlo, and @yomed agree. Closing.

[2018-08-09 23:46] #331 closed

[2018-08-10 00:14] yomed commented on #327
One workaround for the interim -- Don't rely on `event.el`. Instead, use `event.index` to get the correct `el`.

[2018-08-10 00:40] nm123github commented on #242
Few quick updates.

- Added a few add-ons to the [current deployment](https://nm123github.github.io/ebayui-core/).

1. [Accessibility addon](https://github.com/storybooks/storybook/tree/master/addons/a11y) which could help with accessibility
![image](https://user-images.githubusercontent.com/8527474/43932399-b36cd298-9bf8-11e8-96fd-2b1d64279efc.png)

2. [Notes addon](https://github.com/storybooks/

[2018-08-10 16:35] DylanPiercey commented on #325
Since the status is clipped/hidden do we still need to provide the ability to change the span to any heading? Or would just using an h2 suffice? This way we could have a boolean attribute like `a11y-heading` or `no-heading` instead of just a pass through tag name.

[2018-08-10 16:40] DylanPiercey commented on #320
One other thing that I think we should change is that the `ebay-dialog` and `ebay-notice` both use `aria-` prefixed accessibility attributes while everything else uses the `accessibility-` prefix. Maybe there is some reason for this that I have missed though.

My personally vote is that these become `a11y-` so that they don't necessarily conflict with pass through `aria-` htmlAttributes while also

[2018-08-10 17:14] yomed commented on #320
@DylanPiercey Yeah, we should do that for v1. There's actually another issue for it here https://github.com/eBay/ebayui-core/issues/214

[2018-08-10 19:11] hramakumar opened #334 "dialog: button click - when a dialog is opened and closed...The button disappears"
# Bug Report

## eBayUI Version: 0.8.0 and 0 .9.0

## Description
This is an existing  bug

## Workaround

https://www.useloom.com/share/1076cbb9d0a947e89a220ff728dbbb97

[2018-08-10 19:26] #329 closed

[2018-08-10 19:26] #302 closed

[2018-08-10 19:27] yomed commented on #320
Does anyone else have an opinion regarding `carousel-previous` vs `carousel-prev`?

I'd be inclined to go with `previous` since we don't abbreviate other terms (and I don't think the native API does either).

[2018-08-10 19:28] hramakumar commented on #329
verified

[2018-08-10 21:40] hramakumar opened #336 "textbox: iphone - touch outside the textbox- cursor still stays in the textbox"
# Bug Report

## eBayUI Version: 0.9.0-1

## Description
text box does not loose focus when clicked outside.

repro:
iphone
chrome browser
open the https://go/ebayui/test
click on any text box
click in some area outside the textbox

actual: the focus is still there in the textbox and cursor is bliking
expected: textbox should loose focus (works fine in desktop)

[2018-08-10 21:57] hramakumar opened #337 "switch: performance issue android- click acts slow"
# Bug Report

## eBayUI Version: 0.9.0-1

## Description
android samsung galaxy s6
go to https://go/ebayui/test2
look for switch at the end of the page
click on the switch
you can visually see the switch working slow

## Workaround

## Screenshots

[2018-08-10 22:18] hramakumar opened #338 "tab: performance issue- > 100 fps"
# Bug Report

## eBayUI Version: 0.9.0-1

## Description
The tab click causes high fps number in test page.
https://go/ebayui/test
click on an unselected tab
note the fps going over 100

https://www.useloom.com/share/64c96edb354b4eeeb999dc925d29f0e1

[2018-08-12 06:46] hramakumar commented on #338
sorry my bad...got confused.

[2018-08-12 06:46] #338 closed

[2018-08-13 04:11] seangates commented on #336
This is expected behavior. Use any other site and you will notice that every other form on an iPhone works this way.

[2018-08-13 04:11] #336 closed

[2018-08-13 17:08] yomed commented on #327
Fixed in `0.9.0-2`

[2018-08-13 17:08] #327 closed

[2018-08-13 17:32] hramakumar commented on #336
No The issue happens in chrome as well and its not the same behaviour everywhere
I checked it against ebay write a review page. We need to maintain the same behaviour.

[2018-08-13 17:34] hramakumar commented on #336
https://www.qa.ebay.com/urw/write-review/1005727280?_itm=100750061347

[2018-08-13 18:02] yomed opened #342 "Switch: upgrade for DS6"
# Feature Request

## Description

Switch was only DS4, so once Skin v6 is out, we need to update the component to use the new classes.

[2018-08-13 21:03] hramakumar commented on #334
verified

[2018-08-13 21:03] #334 closed

[2018-08-13 22:53] hramakumar opened #344 "textbox: broken in ie - no blinking cursor"
windows IE latest version
# Bug Report

## eBayUI Version: 0.9.0-2

## Description
unable to type in text box.
blinking cursor is missing.

## Screenshots
https://www.useloom.com/share/be7dc4eb495f4ca0a0dc391eefffeb1f

[2018-08-13 22:54] dasarianudeep commented on #344
@hramakumar Can you confirm it is only in IE 11 and not Edge?

[2018-08-13 22:58] hramakumar opened #345 "tab: IE 11- too many tabs, long text labels- overwrites over the other"
# Bug Report

## eBayUI Version: 0.9.0-2

## Description
in ie the when tab label length is long it overwrites over the next tab's label.

actual(ie):
![image](https://user-images.githubusercontent.com/13157115/44062486-68bd6bce-9f11-11e8-830a-d37a21dcbbc4.png)

expected(chrome):
![image](https://user-images.githubusercontent.com/13157115/44062513-8976322e-9f11-11e8-802a-c0a1779ab691.png)

[2018-08-13 23:11] hramakumar commented on #344
yes It does not work in IE 11

[2018-08-13 23:29] hramakumar opened #347 "textbox: firefox - clicking on a prefilled text box always take cursor to the start of the value text"
# Bug Report

## eBayUI Version: 0.9.0-2

windows firefox
## Description
clicking on the textbox takes us to the start of the value text in the pre-filled in textbox.
expected behavior is It should take the blinking cursor to the exact location when the click happens in the text box

actual behaviour(firefox):
https://www.useloom.com/share/1e181ac02b12412cb626f2b294b24c5b
expected behaviour(chrome

[2018-08-13 23:35] yomed commented on #344
FWIW, looks like a double click gets the textbox focus correctly in IE11  ¯\\_(ツ)_/¯

[2018-08-14 16:36] RajaRamu commented on #229
I pulled `ebayui-core@0.8.0` and cursor issue is still there on device. Fix below works only in desktop browsers not on real devices,
[code]
This issue is happening in all IOS  and some android devices(safari, chrome and firefox).
Fix is,
#1 - change input:text to input:button - https://github.com/eBay/ebayui-core/blob/master/src/components/ebay-combobox/template.marko#L9
#2 - Adding `text-align:l

[2018-08-14 16:37] RajaRamu commented on #287
I pulled `ebayui-core@0.8.0` and cursor issue is still there on device. Fix below works only in desktop browsers not on real devices,
[code]
This issue is happening in all IOS  and some android devices(safari, chrome and firefox).
Actual fix is,
#1 - change input:text to input:button - https://github.com/eBay/ebayui-core/blob/master/src/components/ebay-combobox/template.marko#L9
#2 - Adding `text-

[2018-08-14 16:46] yomed commented on #347
@hramakumar What version of Firefox?

[2018-08-14 16:46] seangates commented on #287
It must be a text input for accessibility reasons.

[2018-08-14 16:47] seangates commented on #229
It must be a text input for accessibility reasons.

[2018-08-14 16:51] #344 closed

[2018-08-14 16:52] msendlakowski commented on #344
Found that the issue was in the test environment.  Caused by the drag events on the container holding the text fields.

[2018-08-14 16:55] dasarianudeep commented on #347
It is occuring in latest version of FF as well. Let me dig into it...

[2018-08-14 17:07] hramakumar commented on #347
This could be a test issue as well...The test page drag and drop does not work fine with textbox.
Looks like it is working fine in marketplace

[2018-08-14 17:07] hramakumar commented on #347
lets close this

[2018-08-14 17:10] #347 closed

[2018-08-14 19:44] nm123github commented on #242
This [project](https://github.com/nm123github/ebayui-storybook) pulls ebayui-core as a dependency and sets-up stories.

Deployed at: https://github.com/nm123github/ebayui-storybook

[2018-08-14 19:49] seangates commented on #242
Would it be worth it to set up another repo under the eBay org for this to live in?

Personally, I believe that's the way to go. Thoughts?

/cc @sendlo @senthilp @ianmcburnie @nm123github @yomed @DylanPiercey

[2018-08-14 20:39] nm123github commented on #242
If we want to host it on a https://ebay.github.io url, thats probably necessary.

[2018-08-15 00:15] msendlakowski opened #352 "Documentation: standardize on patterns for deprecation"
# Feature Request

## Description
We should discuss and document how we want to notify user's of deprecated features.

## Context
See https://github.com/eBay/ebayui-core/pull/346#issuecomment-413041149

[2018-08-15 16:13] yomed commented on #337
I can see this issue on both Chrome simulator and a real Android device. But, this issue is exactly the same for an HTML checkbox input on any site. Closing, since it is not our issue.

[2018-08-15 16:13] #337 closed

[2018-08-15 23:56] yomed commented on #309
Not much to verify here `Overall coverage increased (+5.0%) to 93.287%`.

[2018-08-15 23:56] #309 closed

[2018-08-16 04:34] DylanPiercey commented on #277
IIRC the issue here was that the card was too big which is a use case we don't and shouldn't support since then the carousel item could never be fully seen. @hramakumar can you verify that's what this was? If so I think we can close this one.

[2018-08-16 16:02] scttdavs opened #355 "ebay-menu with icon label flips both the icon and chevron when opened"
# Bug Report

## eBayUI Version: 0.8.0

## Description
Same as the title of this issue.

[code]
this css applies to both the icon label and the chevron. Some icons appear to move when they are flipped due to this. It should only flip the chevron, if it exists.

## Screenshots
![icon-jump](https://user-images.githubusercontent.com/3631216/44220286-2a0ece80-a14c-11e8-9f06-526b4bbdce7a.gif)

[2018-08-16 16:04] seangates commented on #355
Being tracked here: https://github.com/eBay/skin/issues/261

[2018-08-16 16:06] seangates commented on #355
I'll leave it open for now, as this is _slightly_ different than reported earlier, but in the same wheelhouse.

[2018-08-16 16:09] yomed commented on #345
I think we should defer this until we decide on the details for tab wrapping.

[2018-08-16 16:18] seangates commented on #345
From what I understand from design, tabs should wrap. https://ebay-eng.slack.com/archives/C72MEP885/p1533590388000228

And also, as reference, there is wrapping in the spec: https://ebay.invisionapp.com/share/CWN9X1JF6MA#/278353515_Tabs

[2018-08-16 16:19] seangates commented on #345
Granted, their examples are only two lines of wrapping, which is very hard to make that specific constraint in CSS.

[2018-08-16 16:25] msendlakowski commented on #316
@sraone We ended up making a change that should support this.  Pages of the carousel can now show "partial pages" so your use cases should be covered.

[2018-08-16 16:25] #316 closed

[2018-08-16 16:27] #132 closed

[2018-08-16 16:40] msendlakowski commented on #204
@seangates looks like a skin issue, can you take a look

[2018-08-16 16:54] msendlakowski commented on #229
Current discussion is to modify this component to have a "readonly" version that uses a button rather than a textbox.  And change the role from "combobox" to "listbox" for a11y.

[2018-08-16 17:05] msendlakowski commented on #287
Current discussion is to modify this component to have a "readonly" version that uses a button rather than a textbox. And change the role from "combobox" to "listbox" for a11y.

[2018-08-16 17:12] scttdavs commented on #355
Definitely related. I was able to confirm it was rotate by toggling the transform style and watching it jump.

[2018-08-16 17:41] msendlakowski commented on #155
I see this behaving as expected, if I understand the issue correctly.
http://app.uimarketplace.svc.32.tess.io/?tag=ebay-combobox#examples

I'm closing the ticket, but I've reached out to @bhoomisatasiya to confirm when she's back at work.

[2018-08-16 17:41] #155 closed

[2018-08-16 18:02] seangates commented on #186
Resolved via https://github.com/eBay/skin/pull/172.

[2018-08-16 18:36] hramakumar commented on #61
I think I saw this happening sometimes in select as well. But that was long time back. Combobox was fine.
I am sorry I myself borrow the iphone from a different team during testing and I give it back after the testing.
I don't have it right now. I will get it back only next week.

[2018-08-16 18:37] yomed commented on #61
@msendlakowski You should be able to debug it on the iOS Simulator.

[2018-08-16 18:53] seangates commented on #61
**All**, let me know if you need help getting to the simulator. It's a little ... quirky.

[2018-08-16 18:55] seangates commented on #345
@yomed Should we close this so we don't have dupe issues between here and Skin?

[2018-08-16 19:02] yomed commented on #345
This is a Skin issue, but actually slightly different than the other issue. The other one is just that wrapping doesn't happen. This one is for text overlappping other tabs in IE11 specifically. See the IE vs Chrome screenshots above. Most likely an IE flexbox bug.

[2018-08-16 19:33] seangates commented on #345
Okay. Should we create a new one then?

[2018-08-16 21:35] hramakumar commented on #277
@DylanPiercey @msendlakowski https://github.com/eBay/ebayui-core/issues/278
as part of this fix we removed the right and left arrows in mweb continuous carousels.
I guess we dont need to worry abt this issue anymore.
pls let me know if I am missing something.

[2018-08-16 21:35] #277 closed

[2018-08-16 22:28] yomed commented on #355
There are 2 pieces here. The rotation is fixed in #356. The icon movement is fixed in Skin, so it'll be fixed here once we pick up their next release.

[2018-08-17 21:30] hramakumar opened #359 "switch-clicking on the corner generates an event with value: "undefined""
# Bug Report

## eBayUI Version: 0.9.1

## Description
clicking corner generates an event with value: "undefined".
The issue is very similar to https://github.com/eBay/ebayui-core/issues/200

[2018-08-17 21:49] sraone commented on #316
@msendlakowski thank you. I tested its working as expected

[2018-08-17 22:05] martin-ebay opened #360 "Pagination display bug"
# Bug Report

## eBayUI Version: 0.9.1

## Description
when implemented pagination with 9 items there are issues with responsive / mobile displays.

Say on mobile 5 page items are visible out of 9, and page 5 is the active page.  On mobile you will see 1-5 instead of 3-7 as expected.

It appears as the pagination component is only applying hidden attributes to items starting from the end of the li

[2018-08-20 19:02] sraone opened #361 "Carousel: Async/Lazy items for next page"
# Feature Request
Carousel should allow loading the next page items from Ajax call as user navigating to next/prev pages.

[2018-08-20 23:50] DylanPiercey opened #364 "Carousel: Left align when few items"
# Bug Report

## Description
Currently the `ebay-carousel` centers items when there are not enough to fill the entire slide.
After chatting with design we decided that these should be floated left.

[2018-08-20 23:55] DylanPiercey commented on #364
Just checked this out finally and realized that this is already the case. The issue is the marketplace styles (the marketplace centers all of the components by default). This is a non issue.

[2018-08-20 23:55] #364 closed

[2018-08-21 18:09] msendlakowski commented on #287
Update: The combobox component will be recommended only when the user needs true combobox functionality.  So it won't be viable until we get the "type-ahead" functionality going.

For normal "select" behavior we will recommend the `ebayui-select` component.  The dweb UI for this component is getting fixed to match the design pattern.
https://github.com/eBay/skin/issues/325

[2018-08-21 18:16] msendlakowski commented on #345
Closing as I moved this to skin

[2018-08-21 18:16] #345 closed

[2018-08-21 18:30] msendlakowski commented on #361
Thanks.  Its a good suggestion.

I think what we would probably do is allow you to update your items and rerender the carousel.  You would have to listen for the 'next/previous' events and manage the ajax request on your own.  (You would probably want to do that at least one page ahead of the current slide.)

@DylanPiercey   If they need this now, can they update the items and then call `setStateD

[2018-08-21 18:36] msendlakowski commented on #359
@hramakumar Can you add a loom video and browser details.  I can't reproduce this with the latest code.

[2018-08-21 18:56] msendlakowski commented on #229
I'm removing this from the milestone.  Applications should use the `ebayui-select` field unless they need the type-ahead feature, which is not available yet.

[2018-08-21 18:59] msendlakowski commented on #287
Removing from this milestone because applications should use the `ebay-select` component until the combobox has the type-ahead functionality.

[2018-08-21 19:09] DylanPiercey commented on #361
@msendlakowski this is possible now. If you re-render the carousel with new items it will update accordingly.

Something that may be required to support this is to allow the default navigations to be postponed and to show a loading state while we are waiting for the Ajax call to be appended. Ultimately all of this should be able to take place (and should take place) on the users side.

I'd also sa

[2018-08-21 20:01] msendlakowski commented on #299
We need to make sure we support the next/previous controls as buttons too.

[2018-08-21 20:43] seangates commented on #204
Yes, this is a Skin issue. I've seen it. Can you migrate this over there?

[2018-08-21 22:08] seangates opened #365 "Select/Combobox: encompass native and custom styling in a single component"
# Feature Request

## Description
Currently, the combobox is based on a read-only `<input>` with a combobox aria role. Because of the way some browsers handle the focus of a readonly `<input>` it produces an undesirable experience for users.

By changing the current combobox, only slightly, to use a `<button>` to open/close the listbox, along with a hidden `<select>` to capture form input, we can

[2018-08-21 22:59] sraone commented on #361
@msendlakowski @DylanPiercey thanks for quick response. The issue is when I manually update the state `items` array(inserting or removing), it's re-render the carousel and the user lose his current state.

For example, if user navigated to second slide and state is updated with next slide items, the re-render would take the user back to first page. It would be bad experience for user or blocker.

[2018-08-21 23:06] DylanPiercey commented on #361
@sraone gotcha. The way I would normally recommend doing this would be to sync your components state with the carousel state (index in this case) so that when you rerender your items the selected index from the user is persisted.

In this case what you would want to do in this case is listen for the `carousel-update` event and update the state of your component to keep track of the index so that w

[2018-08-21 23:26] sraone commented on #361
@DylanPiercey Thanks again for a quick workaround. But I could see a flicker for a moment. Is there a way to avoid the flicker?

[2018-08-21 23:34] DylanPiercey commented on #361
@sraone are you able to put up a gif or something of what you are seeing? My guess is that it's flickering because you are actually fetching the data from the server as soon as they click next but the carousel starts moving before the response happens. This is what I was referring to when I mentioned that to support this we would need to have a way for you to prevent the `prev/next` buttons to wai

[2018-08-21 23:54] sraone commented on #361
@DylanPiercey Yes, I am already preloading items for 2 slides on initial load. When the user is navigated to next page, again I am preloading items for next 2 slides. But changing the state manually, that re-rendering entire carousel and causing this issue.

[2018-08-22 14:45] yomed commented on #359
I can reproduce the issue, and made a small Skin fix https://github.com/eBay/skin/pull/332

[2018-08-22 17:41] msendlakowski commented on #204
Moved to Skin: https://github.com/eBay/skin/issues/334

[2018-08-22 17:41] #204 closed

[2018-08-22 17:47] msendlakowski commented on #228
Moved to skin: https://github.com/eBay/skin/issues/335

[2018-08-22 17:47] #228 closed

[2018-08-22 18:14] #214 closed

[2018-08-22 18:14] #288 closed

[2018-08-22 18:14] #320 closed

[2018-08-22 20:45] msendlakowski commented on #224
Moving this back to the backlog since we are not recommending that the combobox be used until the typeahead functionality is there.
To see the fix see this commit:
https://github.com/eBay/skin/pull/330/commits/754c031b30f86a866f6fcc8396895193ba1d0dc2

But there was a weird display issue on focus/blur of the input.  See this comment:
https://github.com/eBay/skin/pull/330#issuecomment-414919920

[2018-08-22 21:44] yomed commented on #365
I thought we were postponing combobox work until we have typeahead functionality for that. And in the mean time we can basically revert `select` to an earlier version of itself that had a listbox for use on desktop.

[2018-08-22 21:48] seangates commented on #365
@yomed This task needs to be rewritten with the newly agreed track we just came up with.

[2018-08-23 17:35] martin-ebay opened #368 "Pagination next / previous always disabled if using hijax"
## eBayUI Version: 1.0.0

## Description
if you have the hijax option on the pagination component the previous and next buttons are always disabled based on a false positive that is only checking for !href value, and not accounting for the hijax

## Workaround
no work around, need to update the component to support hijax with no href for this to work correctly

[2018-08-23 17:39] DylanPiercey commented on #368
This is fixed in https://github.com/eBay/ebayui-core/pull/367, it may be worth doing a hotfix for this though.

[2018-08-24 16:42] msendlakowski opened #369 "Combobox: Selected option in scrollable options list needs to remain visible"
# Bug Report

## eBayUI Version: 1.0.0-0

## Description
Skin fixed an issue on the combobox where the size of the item list is now limited, and introduces a scroll.   However, if a keyboard user starts navigating down the list and gets beyond the visible area then the selected options aren't visible.

We need to keep the scroll of the options container in sync with the selected item.

This is als

[2018-08-24 17:17] #61 closed

[2018-08-24 17:34] msendlakowski opened #370 "Market is broken with the v1 beta release"
# Bug Report

## eBayUI Version: 1.0.0

## Description
The Market page is broken for v1.0.0

## Screenshots

![screen shot 2018-08-24 at 10 33 37 am](https://user-images.githubusercontent.com/1562843/44598827-336deb80-a789-11e8-93c0-a10118ce8d1d.png)

[2018-08-24 18:46] DylanPiercey opened #371 "Breadcrumbs: add support for button tag and pure client-side behaviour"
Similar to #299 we need to make it so that breadcrumbs can be buttons when there is no href.

[2018-08-24 19:05] yomed commented on #256
Code is in. Nothing to verify here.

[2018-08-24 19:05] #256 closed

[2018-08-24 22:01] martin-ebay opened #374 "Pagination not displaying enough items when selecting last couple of pages"
# Bug Report

## eBayUI Version: 1.0.0

## Description
If you are using the pagination--fluid option and have selected a page near the end of the total pages the wrong number of items are displayed. And at a few resolutions the too many items where visible and where wrapping into a hidden part of the view.

## Workaround
pull in the latest ebay/skin once https://github.com/eBay/skin/pull/350 has b

[2018-08-25 00:43] msendlakowski opened #376 "Discussion: Conflicting ways to update component states"
From Chris Cinelli on the Slack channel:

Why on dialog (other components seem to follow the same pattern) you have 3 different ways to close and open the dialog:

1.  `open` prop in the "HTML"
2.  `show()/close()`
3.  `observer.observeRoot(this, ['open']);` for addressing `dialog.open = true`

The `open` prop with an external state seemed sufficient.
The problem is not having multiple ways to do

[2018-08-27 18:36] hramakumar opened #378 "Menu: label texts and icons are broken"
# Bug Report

## eBayUI Version: 1.0.0

## Description
All menu  texts and icons are broken

repro
go to http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging/ds4

scroll to the the menu area

## Workaround

## Screenshots
![menutextandicon](https://user-images.githubusercontent.com/13157115/44678442-379a4300-a9ed-11e8-96cd-4206f604f8df.png)

[2018-08-27 19:07] hramakumar opened #379 "combobox: combobox content is empty(ds4 and ds6)"
# Bug Report

## eBayUI Version: 1.0.0

## Description
in ds4 and ds6 pages combobox content is empty
repro
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStagingIsolation/ds4?type=combobox_2

## Workaround

## Screenshots
![comboboxds4](https://user-images.githubusercontent.com/13157115/44680058-89dd6300-a9f1-11e8-89b7-75bcb69f0c73.png)

https://www.useloom.com/share/0e62b06d98054eec8c088dd

[2018-08-27 19:25] hramakumar opened #380 "button: disabled buttons shading is light - looks confusing with other secondary buttons"
# Bug Report

## eBayUI Version: 1.0.0

## Description
disabled buttons are lighter in shade when compared to secondary buttons.
in design docs
https://ebay.github.io/skin/#button
disabled buttons have darker shades

actual:
![button_disabled](https://user-images.githubusercontent.com/13157115/44680969-06714100-a9f4-11e8-9f4a-bff28d391750.png)

expected:
![expected_disabled](https://user-images.gi

[2018-08-27 19:46] hramakumar opened #381 "notice: mweb - notice status top border coloring is absent"
# Bug Report

## eBayUI Version: 1.0.0

## Description
samsung galaxy s6 , chrome browser.
in notice component the border color has Is absent

**_actual_**:

![screenshot_20180827-123941](https://user-images.githubusercontent.com/13157115/44681914-ccee0500-a9f6-11e8-8446-a62e59dcbf48.png)

**_expected_**:

![notice_expected](https://user-images.githubusercontent.com/13157115/44681955-eabb6a00-a9f6

[2018-08-27 19:53] yomed commented on #376
I agree that it's confusing. I think that setting state declaratively through Marko is sufficient, and that we don't need the methods or DOM observers.

[2018-08-27 20:56] seangates commented on #376
Also, keeping observers and methods just means we open things up to abuse by developers who manipulate an element's state, usually without them having a knowledge of how proper Marko state management should be done.

And it will simplify our code, which is also less code sent to the browser.

[2018-08-27 21:13] yomed commented on #378
@seangates Should we create `chevron-down-bold` and `chevron-up-bold` for ds4 that are just straight copies of `chevron-down` and `chevron-up`?

[2018-08-27 21:18] yomed opened #382 "Menu: needs new Skin class for no-text"
# Feature Request

## Description

As of Skin v6, we need to add `expand-btn--no-text` when there is no text (icon-only and toggle-only cases).

## Context

https://github.com/eBay/skin/pull/333

[2018-08-27 21:34] PrashantAshok opened #383 "Menu: Support expand-btn--no-text"
# Feature Request

## eBayUI Version: 0.9.0

## Description
Support menu with no label. Relevant details [here](https://github.com/eBay/skin/pull/333)

[2018-08-27 23:05] yomed commented on #383
Duplicate of #382 created about 2 minutes beforehand 😆

[2018-08-27 23:05] #383 closed

[2018-08-27 23:14] hramakumar opened #385 "ebay-select: mweb IOS - when expanded - empty option list is shown"
# Bug Report

## eBayUI Version: 1.0.0

## Description
go to http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging/ds4 in Iphone x
in chrome or safari
expand any of the ebay select component in the test page
it shows an empty optionlist

## Workaround

## Screenshots
![ada627e4-54bc-4413-af17-cd22cfb2f834](https://user-images.githubusercontent.com/13157115/44691643-5233e280-aa14-11e8-8547-b

[2018-08-28 15:39] yomed commented on #385
@hramakumar You'll need to update your markup to use `text="..."` rather than `label="..."` for the attribute. This was done as part of #346

[2018-08-28 15:39] #385 closed

[2018-08-28 15:40] yomed commented on #379
Perr #346, please update your `label` attributes to `text`.

[2018-08-28 15:40] #379 closed

[2018-08-28 17:05] yomed commented on #378
@hramakumar For the text issue, use the `text` attribute instead of `label`.

[2018-08-28 17:17] seangates commented on #380
Doing a quick comparison ...

**Using the DS4 site for buttons:**
![image](https://user-images.githubusercontent.com/105656/44738931-92966d80-aab3-11e8-99dd-3f059cadc93b.png)

**Using the eBayUI demo site:**
![image](https://user-images.githubusercontent.com/105656/44739018-d4271880-aab3-11e8-84b2-8e77ad299c24.png)

**Your test page:**
![image](https://user-images.githubusercontent.com/105656/4473

[2018-08-28 17:19] seangates commented on #380
I see, you took this from the existing Skin site. Let me have a look.

[2018-08-28 17:52] hramakumar commented on #378
@yomed yes the text is not an issue anymore...Lets narrow down the scope of this bug to icons.

[2018-08-28 18:41] ZZS77 opened #387 "Menu dropdown - hover to show full text for truncated text."
# Feature Request
eBay-menu dropdown hover to show full text

## Description
When hover over for truncated text it doesn't show the full text. For example, German text tends to be longer.

## Screenshots
![image](https://user-images.githubusercontent.com/42783072/44743443-5ebd4700-aab7-11e8-8c10-626f1ae9024a.png)

[2018-08-28 19:45] hramakumar opened #388 "Menu: borderless menu - text starts from the very left without any margin space"
# Bug Report

## eBayUI Version: 1.0.0-2

## Description
in borderless menu text starts at the very left border without any space.

repro:
go to http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStagingDesktop/ds4
in menu section, look at the borderless menu.

## Workaround

## Screenshots
https://www.useloom.com/share/0deea39f20ae4a03ab0e3459f5dd6aff

[2018-08-28 19:45] hramakumar commented on #388
The same with ebay-select as well

[2018-08-28 19:47] msendlakowski commented on #387
Thanks.  We'll get some feedback from the design team on how to handle this and update the issue.

[2018-08-28 20:01] hramakumar commented on #387
I believe selecting the option will show the entire string though

[2018-08-28 20:21] hramakumar opened #389 "combobox: IOS- mweb - combobox doesnt expand the second time"
# Bug Report

## eBayUI Version: 1.0.0-2

## Description
In Iphone x -  chrome and safari
go to http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging2/ds4
scroll to the combobox section
expand any of the combobox
collapse it
try expanding the same again

## Workaround

## Screenshots

[2018-08-28 20:33] hramakumar opened #390 "button: too much of space is wasted at the left and right margins"
# Bug Report

## eBayUI Version: 1.0.0

## Description
When text label comes in centre it looks like too much of space is wasted at the left and right margins.
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStagingIsolation/ds4?type=dialog_scrolling.

## Workaround

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/44749263-dc3c8380-aac6-11e8-8606-6d850e7845eb.png)

[2018-08-28 20:38] seangates commented on #390
As designed.

[2018-08-28 20:38] #390 closed

[2018-08-28 20:41] hramakumar opened #391 "dialog: header comes as a white strip at the top and the body is grey"
# Bug Report

## eBayUI Version: 1.0.0-2

## Description

The dialog header comes as white strip at the top while the body is grey.
I know this is how  it looks like in the skin doc.
This looks bad to me.
Let me know what you guys think.

## Workaround

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/44749658-09d5fc80-aac8-11e8-8fa8-57191b778b12.png)

[2018-08-28 20:43] j05eph commented on #387
Is there a reason we're not showing full text? It seems arbitrary to concatenate at dropdown width.

[2018-08-28 20:47] seangates commented on #391
As designed.

[2018-08-28 20:47] #391 closed

[2018-08-28 20:53] hramakumar opened #392 "Breadcrumb - IOS- hyper links- root is black and the rest are blue"
# Bug Report

## eBayUI Version: 1.0.0-2

## Description
In phone x  -  safari and chrome
the breadcrumb hyper links- some are black and some are read.
repro:
go
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging/ds4
scroll down to the breadcrumb section

## Workaround

## Screenshots
![ee2f5b3f-cfbc-4466-9640-80f70d270dfd](https://user-images.githubusercontent.com/13157115/44750252-b238

[2018-08-28 20:55] seangates commented on #392
This (on face value) appears to be a Skin issue.

[2018-08-28 20:57] seangates commented on #389
When changing this to a `<input type="button" ...` I see some styling issues. I will need a Skin PR to fix both things.

![image](https://user-images.githubusercontent.com/105656/44750473-b917d100-aad2-11e8-8d5c-89201783b4d8.png)

[2018-08-28 20:59] msendlakowski commented on #392
@hramakumar  if it looks like a styling issue, can you file it on the skin repo?   (We won't blame you for getting a few wrong)

@seangates It looks like they should all be black.  Do you know if a11y approved of that?

[2018-08-28 21:04] seangates commented on #392
@msendlakowski This was spec'd for only DS6. If this is DS6's version we know what the colors should be. If it's DS4 we will need to simply align it to whatever we "think" DS4 should look like.

[2018-08-28 21:07] hramakumar commented on #392
@msendlakowski  done.
https://github.com/eBay/skin/issues/355

[2018-08-28 21:32] msendlakowski commented on #387
This is a custom UI, not a standard HTML `<select>` element, so the default is to take the width of the parent.  We'll have to add logic to make it expand to fit the content.  And we'll have to add custom logic to have it move left or right to stay in the page view.

We should be able to address this in the v1.1.0 release.

[2018-08-28 21:35] yomed commented on #387
@msendlakowski In DS6, the menu fits to the content by default. We'd have to decide whether we want to backport that functionality to DS4.

[2018-08-28 22:45] msendlakowski commented on #387
Actually, I see the DS4 menu is expanding too. @ZZS77 can you provide a link to where you are seeing this behavior, and what version of the components you are using?

![screen shot 2018-08-28 at 3 44 24 pm](https://user-images.githubusercontent.com/1562843/44755064-6db4f100-aad9-11e8-947b-dea6db24bf40.png)

[2018-08-28 22:48] seangates commented on #224
@msendlakowski Since this is done in Skin, is there anything still to be done in eBayUI?

[2018-08-28 23:29] msendlakowski commented on #392
Closing this, as its moved to skin

[2018-08-28 23:29] #392 closed

[2018-08-28 23:47] msendlakowski commented on #388
@seangates where are the requirements for this?  I don't see them in invision, for DS4 or DS6.
So frustrating.

I see a big underlined form element, but that doesn't match what we've done.

[2018-08-28 23:48] msendlakowski commented on #388
And the current DS6 one doesn't underline on hover either.  Should I change that?

[2018-08-28 23:56] msendlakowski commented on #388
@hramakumar  The closest requirement I could come for DS4 is the borderless listbox here:
https://ebay.github.io/skin/#listbox

And it doesn't have any padding either.  And that matches the DS6 design.

So I'm going to remove the background color so its not as obvious, but leave the rest alone.  Unless I can find different requirements.

[2018-08-29 00:09] hramakumar commented on #388
But if you see there the option text before and after expanding stays aligned
![image](https://user-images.githubusercontent.com/13157115/44757635-f6855a00-aae4-11e8-8afc-accf85253bd1.png)

but here its not aligned.
The expanded options are moved slightly to the right
![image](https://user-images.githubusercontent.com/13157115/44757684-2fbdca00-aae5-11e8-8ab4-7caec3ec5da9.png)

[2018-08-29 00:10] hramakumar commented on #388
this is how the menu with border looks
![image](https://user-images.githubusercontent.com/13157115/44757695-4106d680-aae5-11e8-8480-d25174fde619.png)

there is clearly this discrepency

[2018-08-29 00:36] msendlakowski commented on #388
This is the same as in DS6 though.  This is a screenshot from DS6.
![screen shot 2018-08-28 at 5 30 24 pm](https://user-images.githubusercontent.com/1562843/44758249-2bdf7700-aae8-11e8-8db6-12127ec77e94.png)

And the closest thing I see in the old skin version is this, which doesn't have the padding either:
![screen shot 2018-08-28 at 5 34 45 pm](https://user-images.githubusercontent.com/1562843/4

[2018-08-29 00:55] #370 closed

[2018-08-29 05:18] seangates commented on #388
What we basically did was normalize the pattern for an inline borderless listbox that underlined on focus, given that's the only affordance it should have (no outline, no border, no background). Otherwise, the padding would make any of those look wrong. Therefore, underline or font color are our only choices. I chose underline as that is what was existing in DS4.

Here are the requirements we were

[2018-08-29 16:31] msendlakowski commented on #381
@hramakumar @seangates it looks like the correct behavior on 7- screens is to lose the border color.
What do you think?

This is from the 7- version of the skin website:
![screen shot 2018-08-29 at 9 27 29 am](https://user-images.githubusercontent.com/1562843/44801454-f7160300-ab6d-11e8-9848-efdad4e3f85a.png)

This is from one instance of it that I am aware of in production:
![screen shot 2018-08-

[2018-08-29 16:35] seangates commented on #381
I believe that's correct behavior as designed. It is very similar in DS6, where there are no background colors behind the icon but rather the icon colors change.

[2018-08-29 17:24] msendlakowski opened #394 "New Component: Item tiles"
# Feature Request
New component.

## Description
No requirements defined, so starting by working with the design team to define them.

[2018-08-29 17:31] msendlakowski commented on #389
For this release we are recommending that applications use `ebay-select` for mobile and the read-only version of the 'ebay-combobox' only for desktop.  This strategy will be rethought in a future release.

[2018-08-29 17:32] msendlakowski commented on #287
For this release we are recommending that applications use `ebay-select` for mobile and the read-only version of the 'ebay-combobox' only for desktop.  This strategy will be rethought in a future release.

[2018-08-29 17:33] msendlakowski commented on #229
For this release we are recommending that applications use `ebay-select` for mobile and the read-only version of the 'ebay-combobox' only for desktop, which is being updated to avoid the cursor issue.  This strategy will be rethought in a future release.

[2018-08-29 17:37] msendlakowski commented on #394
Just saw the requirements in the internal repo

[2018-08-29 17:37] #394 closed

[2018-08-29 17:40] msendlakowski commented on #224
@seangates I'll verify when the next build is out and close it.

[2018-08-29 17:41] #381 closed

[2018-08-29 20:59] ZZS77 commented on #387
Hmmm. Here is the link: https://www.ebay.com/slr/prd/status @msendlakowski

[2018-08-29 21:27] seangates commented on #387
@ZZS77 That is a custom-built menu in the Seller Hub components. I cannot share the code here as it's inside the eBay network. Suffice it to say, that is not our eBayUI component.

[2018-08-29 21:36] msendlakowski commented on #387
@ZZS77  We're closing this since its not a skin or eBayUI issue.  Ideally your team can move to ebayUI components and the issue should go away.  Otherwise you're going to have to do a custom solution for your implementation.

[2018-08-29 21:36] #387 closed

[2018-08-29 21:42] ZZS77 commented on #387
@seangates It is not custom built menu. I am using ebayui-core. The version is 0.9.1.

[2018-08-29 21:54] seangates commented on #387
@ZZS77 You sent us a production link, which does not have our menu. Our menu uses the `.menu` class.

[2018-08-29 21:56] seangates commented on #387
@ZZS77 Apologies. You're using the `.fake-menu`. Let me look closer at this.

[2018-08-29 22:08] seangates commented on #387
Oh, but 0.9.1 doesn't have DS4 CSS in it. Something doesn't make sense.

[2018-08-29 23:02] seangates commented on #387
Okay! Got to the bottom of it. They are using our component, v0.9.1, which _does_ currently truncate. This is fixed in v1.0.0-2 beta version and they will try that and let us know.

They'll also have to remove some Skin overrides they made so the button looked like a DS4 button.

[2018-08-30 18:26] hramakumar opened #396 "Carousel: autoplay - IE 11- clicking play button couple of times freezes the page - IE edge- play button stops until mouse moved"
# Bug Report

## eBayUI Version: 1.0.0-2

## Description
IE 11 - windows 7 - clicking play button couple of times freezes the page
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStagingIsolation/ds4?type=carousal_21
 IE edge- windows 10 -  play button stops working until mouse moved away and brought back to the component

[2018-08-31 02:18] #396 closed

[2018-08-31 02:19] #389 closed, assigned to seangates

[2018-08-31 02:21] #380 closed, assigned to seangates

[2018-08-31 21:47] hramakumar opened #398 "combobox: Desktop- borderless - when expanded the option list width does not align"
# Bug Report

## eBayUI Version: 1.0.0-3 skin 6.0.0-6

## Description
In desktop chrome browser
when expanded the option list width does not align with the component head
actual(in ds4 it happens in borserless combox and in d6 it happens in all comboboxes)
![image](https://user-images.githubusercontent.com/13157115/44937070-5752a380-ad2c-11e8-8f80-0e97abb68908.png)

expected
![image](https://user-

[2018-09-01 00:18] #374 closed

[2018-09-04 18:39] hramakumar opened #399 "textbox: win7 and ie 11 and firefox-long text- when focus removed- it does not move to the start of the text"
# Bug Report

## eBayUI Version: 1.0.0-4 and skin 6.0.0-7

## Description
when long text is typed in a text box and the clicked outside.

expected:
the text box value string is expected to be displayed from the start

actual:
it doesnt move to the beginning. it displays from somewhere in the middle.

## Screenshots
before
![image](https://user-images.githubusercontent.com/13157115/45050817-1e21788

[2018-09-04 18:57] hramakumar opened #400 "pagination: ds4-firefox- selected page index- improve color contrast"
# Bug Report

## eBayUI Version: 1,0,0-4 and skin 6.0.0-7

## Description

![image](https://user-images.githubusercontent.com/13157115/45051687-a012a100-b039-11e8-82e1-d6bdbbc9b0b1.png)

[2018-09-04 19:29] msendlakowski commented on #400
We can't fix this because we have to keep to the original DS4 skin design.  The applications will have to make sure their background color is appropriately light colored.  In the current DS4 skin demo its white.

[2018-09-04 19:29] #400 closed

[2018-09-04 19:53] hramakumar commented on #378
verified

[2018-09-04 19:54] hramakumar commented on #380
verified

[2018-09-04 19:55] hramakumar commented on #396
verified

[2018-09-05 00:36] seangates opened #402 "Tabs: document differences in fake tabs"
# Bug Report

## eBayUI Version: 1.0.0

## Description
Per @DylanPiercey, the fake option on `ebay-tabs` does not prevent default on the links in the examples.

We should <strike>correct this and </strike>make sure the documentation accurately shows how to use the fake tabs.

[2018-09-05 16:05] DylanPiercey commented on #402
To be consistent here we should probably change tabs to use the same pattern as the pagination and breadcrumb components: https://github.com/eBay/ebayui-core/issues/299

[2018-09-05 22:06] martin-ebay opened #403 "Select: event has incorrect selected value"
# Bug Report

## eBayUI Version: 1.0.0

## Description
selecting the first element when the second element is already selected returns second element as the component value instead of the first as expect in the on-change event.

## Workaround
need to update the setSelectedOption function and pull the _this2.update() out of the map loop.

[2018-09-10 20:42] PrashantAshok opened #405 "Menu: Support hoverable link (and stealth button) activated menu"
# Bug Report

## eBayUI Version: 0.9.1

## Description
Based on [mindpatterns](https://ebay.gitbooks.io/mindpatterns/content/navigation/fakemenu.html) & demo [site](http://ebay.github.io/mindpatterns/navigation/fakemenu/), shouldn't `ebay-menu` support opening the menu on mouse hover? Or atleast for `type=fake`?

## Workaround
None

[2018-09-11 00:05] martin-ebay opened #407 "ebay-select: arrow icon cut off in Edge with DS6"
The right portion and looks like maybe a bit of the bottom of the icon are clipped like so

![screen shot 2018-09-10 at 5 03 12 pm](https://user-images.githubusercontent.com/37809937/45330707-90082f00-b51b-11e8-999f-ba77114c072e.png)

Edge  version 41.16299.611.0

[2018-09-11 20:28] msendlakowski commented on #407
See in progress skin issue https://github.com/eBay/skin/pull/386

[2018-09-11 20:28] #407 closed

[2018-09-11 20:35] msendlakowski commented on #398
@hramakumar Can you add a test URL and DS6 screenshot

[2018-09-11 20:39] msendlakowski commented on #398
This works as designed.  According to the invision specs:

![screen shot 2018-09-11 at 1 37 50 pm](https://user-images.githubusercontent.com/1562843/45386353-05c9d480-b5c8-11e8-9c63-bbee1a7e6d02.png)

[2018-09-11 20:39] #398 closed

[2018-09-11 20:50] msendlakowski commented on #405
I think we only have to support hover if the fake-menu type is a link.  In this case its a button so if I'm reading the patterns right, click is OK.

But we should create a "hover" version of the component, so putting this is the backlog for @ianmcburnie to review.

[2018-09-11 21:01] msendlakowski opened #408 "Select: add unit tests for select onChange bugfix"
# Feature Request
Add unit tests to cover https://github.com/eBay/ebayui-core/pull/404

## Context
This PR had unit tests, but they didn't fail before making the changes, so they weren't effective.

[2018-09-11 21:02] #403 closed

[2018-09-12 00:02] msendlakowski commented on #402
@DylanPiercey Are you suggesting that we remove the "fake" attribute, and just render each `ebay-tab-heading` as either an `a` or `button` based on whether or not it has an href?  If so, I agree.

[2018-09-12 00:06] msendlakowski commented on #402
@seangates What is the use case for adding `prevent default`?  If its a fake tab then it should be a navigation link to another page so we shouldn't want to prevent default.  Right?

[2018-09-12 00:49] seangates commented on #402
@msendlakowski I'm advocating for whatever the breadcrumb pattern is.

[2018-09-12 21:05] sraone opened #409 "Carousel: Cannot find module "process" from "/@ebay/ebayui-core$1.0.2/dist/components/ebay-icon""
# Bug Report

After migrating to 1.0.2, I am getting an error `Uncaught Error: Cannot find module "process" from "/@ebay/ebayui-core$1.0.2/dist/components/ebay-icon"` due this carousel is not showing next and previous buttons.

## eBayUI Version: 1.0.2

## Screenshots

![image](https://user-images.githubusercontent.com/1853563/45453148-d59c3780-b694-11e8-8b34-39e2ff4b7ebe.png)

![image](https://us

[2018-09-12 22:27] seangates commented on #409
@sraone What version of Marko and Marko Widgets are you running?

[2018-09-12 22:32] sraone commented on #409
@seangates marko@3.14.3 and marko-widgets@6.6

[2018-09-13 19:45] sraone opened #410 "Carousel: Items are not re-rendering(seeing old state) when parent state is updated"
# Bug Report
Items are not re-rendering(seeing old state) when parent state is updated

## eBayUI Version: 1.0.4

## Description
I am using a `carousel` items are bound from the state. When the state is replaced with new items, `carousel` still showing old items.

`template.marko`

[code]

`index.js`

[code]

## Screenshots

with initial state

![image](https://user-images.githubusercontent.com/18

[2018-09-13 21:40] yomed commented on #410
@DylanPiercey @mlrawlings It looks like the `renderBody` doesn't get updated correctly on the new input. Starting with `[1, 2]` and updating to `['a', 'b', 'c', 'd']` will result in `1 2 c d`.

[2018-09-14 17:26] sraone commented on #410
@msendlakowski I don't think its marko issue because items are rendering as expected if I remove `carousel` component.

[2018-09-14 17:30] hramakumar opened #411 "Select: after clicking an option the button text remains selected/highlighted (IE11)"
# Bug Report

## eBayUI Version: 1.0.3

## Description
 IE clicking an option has the entire component selected
clicking outside once again ouside the component takes the focus away.
## Workaround

## Screenshots
step 1:
![image](https://user-images.githubusercontent.com/13157115/45565667-09986980-b809-11e8-9dac-447208e3f779.png)
step 2:
![image](https://user-images.githubusercontent.com/13157115/

[2018-09-14 19:07] msendlakowski opened #412 "Market: Inline icon example not loading"
# Bug Report

## eBayUI Version: 1.0.4

## Description
Example for inline icon doesn't finish loading

## Workaround
None

## Screenshots
![screen shot 2018-09-14 at 12 07 15 pm](https://user-images.githubusercontent.com/1562843/45570225-bf1de980-b816-11e8-9c68-c2912fb7ff68.png)

[2018-09-14 19:43] msendlakowski commented on #410
Thanks.  I'll take a closer look.

[2018-09-14 23:35] sraone commented on #409
@msendlakowski I found very interesting things while debugging.
I found that `process` is not registered in `global` scope in my application because it's not registered as `built-in` module by `lasso-require`. But when tried testing the component in the new sample application, `process` module is available in global scope and `ebay-icon` is working as expected. I compared `lasso-modules-meta` file

[2018-09-15 00:38] msendlakowski commented on #409
@DylanPiercey @mlrawlings  This seems like more of a lasso issue.  Can you provide guidance?

[2018-09-15 02:08] msendlakowski commented on #8
@seangates @yomed
Based on our skin discussion we need a JS solution for line-clamp.  This is something I created a while ago.

https://github.corp.ebay.com/eBayUI/ebayui-ellipsis

Do you have any other solutions or should I modify this for the component?

Also, whatever solution we come up with, I'm thinking to add it as a common utility. What do you think?

[2018-09-17 11:40] DylanPiercey commented on #409
@sraone do you know why you have two `process` dependencies? (`yarn list process`)
Either way I'll take a look.

[2018-09-17 14:18] DylanPiercey commented on #409
Thinking on this more, you really shouldn't ever be sending down two versions of any builtin shim (`process` in this case). I am still curious why you have two `process` dependencies especially a direct dependency? You should never have to manually include any of the browser shims yourself.

If you need the latest version of the `process` shim I'd recommend updating Lasso to v3.

[2018-09-17 15:34] seangates commented on #410
@sraone Can you try the `1.1.0` branch and let us know if the change worked for you?

If you need help with how to test this branch let me know. I can assist.

[2018-09-17 15:52] seangates commented on #409
Looks like `marko-widgets-playground` (via `browser-refresh` and `browserify`) might be the culprit:

[code]

[2018-09-17 15:56] seangates commented on #409
Ignore my (now deleted) previous comment.

[2018-09-17 17:40] sraone commented on #409
@DylanPiercey `process` is not a direct dependency but there is another module in an app which is using the different version of 'process`.

![image](https://user-images.githubusercontent.com/1853563/45639236-4ad88580-ba64-11e8-9813-7d6d5491d025.png)
![image](https://user-images.githubusercontent.com/1853563/45639251-575cde00-ba64-11e8-81ff-3977cad2b00d.png)

`yarn` list

![image](https://user-ima

[2018-09-17 17:53] DylanPiercey commented on #409
@sraone gotcha. Maybe we should support this then.

[2018-09-17 21:14] gbeckpdx commented on #72
https://playbook.corp.ebay.com/PlaybookApp#/executional-guidelines/product-design-system/patterns/expansions

[2018-09-18 23:15] msendlakowski opened #418 "Use property-observer on button to update state based on disabled attribute"
# Feature Request
Allow user's to update the button disabled state directly on the button element using property-observer.

[2018-09-18 23:22] sraone opened #419 "Carousel: "Error: No widget found" when w-id on child component"
# Bug Report

## eBayUI Version: 1.0.4

## Description
Facing an error `Error: No widget found` when trying to add another component with `w-id` within `ebay-carousel-item`. But, same is working fine if I take out the `w-id` attribute.

[code]

[code]

[2018-09-19 17:19] seangates opened #421 "Storybook: Update Storybook site with tailored examples"
# Feature Request

## Description
The (soon to be) Storybook site shows a default Markdown based on the current Markdown file for each component. The first couple of components (breadcrumb, button, carousel) have tailored example code for each. We should expand this to be tailored examples for each of the components. The current examples live in a `readme.md.js` which would be replicated in each c

[2018-09-19 18:56] ianmcburnie opened #422 "Tabs: keyboard a11y is not consistent with MIND patterns"
# Bug Report

## eBayUI Version: 1.0.4

## Description

When navigating tabs with arrow keys, tab panel should change automatically.

https://ebay.gitbooks.io/mindpatterns/content/disclosure/tabs.html

## Workaround

Pressing SPACEBAR on a tab will change the tab panel.

[2018-09-20 18:33] ianmcburnie commented on #186
Reopening as this was not fully resolved. The resolution in skin (referenced in previous comment) truncates the text, but we now want to support wrapping when buttons have a fixed width. We could keep the truncation behaviour available via modifier if we wish.

[2018-09-20 18:37] ianmcburnie commented on #186
Skin blocker: https://github.com/eBay/skin/issues/391

[2018-09-28 20:53] PrashantAshok opened #426 "Carousel: Do not animate after first render"
# Feature Request

## Description
When the starting index of the carousel > 0, it animates to that slide once the page loads. It should not animate for first render either server side or after page transition after SPA.

## Context
Can be reproduced on http://app.uimarketplace.svc.32.tess.io/?pkg=@ebay/ebayui-core&tag=ebay-carousel.

[2018-09-28 20:58] DylanPiercey commented on #426
Just going to post a work around here until we can get to this:

[code]

Basically this just waits for the carousel to update/calculate it's styles and then allows it to animate after that.

---

Also as I mentioned offline, ideally we would either implement a solution to just make this work with server side rendering, or pick one of the possibilities (IE: Either the first update just snaps, or an

[2018-10-01 17:47] hramakumar commented on #411
when you select an option. The collapsed ebay-select shouldn't be in the selected stated. in step 2 you can see the blue area.

[2018-10-01 17:51] hramakumar commented on #224
it is fixed
![image](https://user-images.githubusercontent.com/13157115/46306005-de7f7b00-c567-11e8-9370-6413d68e2627.png)

[2018-10-01 17:51] #224 closed

[2018-10-01 23:08] abiclub23 opened #427 "Textbox - Support for emitting events"
# Bug Report

## eBayUI Version: 1.0.5

## Description
When I add events on the ebay-textbox tag, the event doesn't get triggered.
`<ebay-textbox placeholder="Search for something" name="search-items" on-input('filterItems')  fluid/>`
The `input` event doesn't get triggered

[2018-10-03 21:20] scttdavs opened #431 "Carousel items allowed to grow too big."
# Bug Report

## eBayUI Version: 1.0.4

## Description

We have titles in our carousel items that need to be a certain number of lines (let's say just one line) and we truncate it. The width is set to 100% on these elements. But the carousel items are styled with flex-basis by ebayui, not width. So the elements are allowed to grow to however long the truncated text would be.

Adding a `width` to t

[2018-10-03 21:26] scttdavs opened #432 "Carousel: touch scroll will not allow scroll to last item"
# Bug Report

## eBayUI Version: 1.0.4

## Description

When there is not a full page of items on the last page (let's say only 1 where we show 2 items per page), I cannot touch scroll to it. Tapping the next button works however. Touch scrolling between other pages works correctly, it is only the partial last page that has an issue.

## Workaround

Tapping next button?

## Screenshots

![snap-gri

[2018-10-09 18:04] hramakumar opened #434 "combobox: disabled- arrow icon"
# Bug Report

## eBayUI Version: 1.0.5 -  there are high chances that this is a skin issue. if so pls move this accordingly

## Description
go to https://go/ebayui/test2
scroll down to the combobox section.
look at the arrow in the disabled combobox
![image](https://user-images.githubusercontent.com/13157115/46688736-faf86480-cbb2-11e8-847b-c56f8c96946a.png)

[2018-10-09 18:05] ianmcburnie commented on #434
@hramakumar Is this a regression from previous version? Or a new found issue?

[2018-10-09 18:06] hramakumar commented on #434
previous version...I have addressed it as 1.0.5

[2018-10-09 18:11] hramakumar opened #435 "Add EBAYUI signature attribute with version value to all components"
# Bug Report

## eBayUI Version: N/A

## Description
Pls add a ebayui attribute with version as value to all the components. This is will help us identify the ebayui components from the other components. This will also help us and the teams onboarding our components to write test automation.

[2018-10-09 18:28] hramakumar opened #436 "checkbox: android Samsung S6-chrome - touch select does not work with ease"
# Bug Report

## eBayUI Version: 1.0.6

## Description
ebay - check box when its small it touches the border pretty often and that does not trigger the action.
use a samsung S6. go to https://go/ebayui/test2
go to check box section and try selecting the checkboxes. Select does not happen with ease.

once zoomed it, it works fine.

## Screenshots

[2018-10-11 17:57] sraone commented on #361
Hi, Is there any plan to fix this issue?

[2018-10-11 17:59] sraone commented on #409
@DylanPiercey Is there any plan for fixing this issue in coming releases?

[2018-10-11 20:48] ianmcburnie commented on #434
Fixed in Skin. Will be available in Skin v6.1.0 and Core v1.1.0

[2018-10-11 20:48] #434 closed

[2018-10-12 19:15] ianmcburnie commented on #418
Fix is in 1.1.0. Thanks Yoni.