[2018-10-12 19:15] #418 closed

[2018-10-12 19:18] ianmcburnie commented on #410
Fixed in v1.1.0 branch.

[2018-10-12 19:18] #410 closed

[2018-10-12 19:19] ianmcburnie commented on #427
Closing. Fix went into 1.1.0 branch.

[2018-10-12 19:19] #427 closed

[2018-10-12 19:27] ianmcburnie commented on #409
@sraone Is this a blocker or do you currently have a workaround in place? We are trying to prioritize and schedule these carousel related issues for our upcoming patch, minor and major releases.

[2018-10-12 19:40] ianmcburnie commented on #376
Answer: because this follows the same paradigm as HTML and the DOM. We are striving to be HTML-like, rather than Marko-like, so that any future migration to web-components/custom-elements will be more seamless:

https://medium.com/@senthil_hi/building-a-ui-component-in-2017-and-beyond-1f6d5c4d464

The `open` prop is entirely sufficient *if* you come from a stateful Marko world, and subscribe to th

[2018-10-12 19:44] ianmcburnie commented on #402
@msendlakowski That is correct. Fake tabs should NOT prevent default. The only time it should prevent default is if it is progressively enhanced into a real tab. But that is very rare.

[2018-10-12 19:48] ianmcburnie commented on #352
In skin if I want to deprecate something I will usually mark it as deprecated in the code comments and release notes. I will also try and give some clue as to which major version it will be removed permanently. Usually it's the next one, but if the deprecated thing is fairly harmless or still used widely, I will leave it around longer (but removed from all documentation).

[2018-10-12 19:55] ianmcburnie commented on #399
Closing. This is browser behaviour. You can validate here:

https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_form_submit

[2018-10-12 19:55] #399 closed

[2018-10-12 20:00] ianmcburnie commented on #186
Skin buttons have now been refactored to support text wrap by default like native HTML buttons. This breaking change will go into skin v7.0.0, and most likely ebayui v2.0.0.

Closing.

[2018-10-12 20:00] #186 closed

[2018-10-12 20:03] ianmcburnie commented on #184
Closing as this in no longer valid. Combobox no longer depends on a wrapper width.

Related PR: https://github.com/eBay/skin/pull/360

[2018-10-12 20:03] #184 closed

[2018-10-12 20:07] ianmcburnie commented on #365
Closing this as the feature request is now a little out of sync with the new addition of editable Combobox and new Listbox module in Skin. I will create a new ticket, but I think we all agree the general sentiment is an "uber" dropdown component that makes life a little easier for devs.

[2018-10-12 20:07] #365 closed

[2018-10-12 20:11] ianmcburnie commented on #405
@msendlakowski is correct. For a11y reasons, buttons should not be activated on hover.

[2018-10-12 20:22] ianmcburnie commented on #242
Fantastic work! I'm going to close this ticket now as the original request is complete.

[2018-10-15 19:00] DylanPiercey commented on #409
@sraone I released a new version of `lasso-require` which updates it's dependencies which should resolve this issue. If you upgrade the dependencies that rely on `lasso-require` then you should be good 😃.

[2018-10-15 19:00] #409 closed

[2018-10-15 19:03] DylanPiercey opened #439 "Carousel: In mobile occasionally the final scroll position can be off by a bit."
# Bug Report
Currently we determine when the native scrolling has finished by polling the `scrollLeft` of the carousel element. In chrome it (no longer?) seems to be updating this every animation frame. This means that the final resting position of the carousel can be off by however much inertial scrolling is remaining.

## eBayUI Version: 1.0.6

## Description
Open the chrome dev tools or chrome

[2018-10-15 19:04] sraone commented on #419
@ianmcburnie yes, its kind of block because I can't have `w-id` for any child components.

[2018-10-15 19:15] DylanPiercey opened #440 "Carousel: Hide paddles when peek enabled for mobile devices"
# Feature Request

## Description
Currently on mobile the paddles are always visible to allow the proper affordance needed for accessibility. This can also be achieved (and is done  on the eBay home page) by using a peeking carousel.

As discussed earlier today I recommend that we change it so that in mobile peek carousels no longer display paddles. This declutters the already space constrained mo

[2018-10-15 19:31] ianmcburnie commented on #440
I like the suggested approach. Remember that the paddles must appear when they gain keyboard focus (aka "Stealth buttons").

[2018-10-15 19:36] seangates commented on #440
Do both need to appear, or just the one with focus?

[2018-10-15 19:39] ianmcburnie commented on #440
Good question! I think it would be nice if both appeared.

[2018-10-16 17:23] #419 closed, assigned to DylanPiercey

[2018-10-18 18:31] hramakumar opened #447 "caraousal- DWEB - carousal is not working"
# Bug Report 1.0.7-0 and skin 6.0.5

## eBayUI Version: 1.0.7-0 and skin: 6.0.5

## Description
carousal stopped moving slided

repro:
will update soon
## Workaround

## Screenshots
https://www.useloom.com/share/1a35390cdb8c47a9bd78c91fe91d8adf

[2018-10-18 19:47] hramakumar commented on #447
for some reason it happened only in my local..after deploying it to test pool.it works fine. closing it as of now

[2018-10-18 19:47] #447 closed

[2018-10-23 00:25] hramakumar opened #448 "Dialog: right panel close icon position (Safari)"
# Bug Report

## eBayUI Version: 1.0.6 and skin 6.0.3

## Description
repro:
open a rightpanel scrollable dialog in iphone 8 plus
issue  - check for the position of the close button - it should be slightly misplaced on the top right corner.If you dont see it first. then try closing and opening it multiple times.

## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/1315

[2018-10-23 00:41] hramakumar opened #449 "Dialog: right panel pinch and zoom issues (Safari)"
# Bug Report

## eBayUI Version: 1.0.6 and skin 6.0.3 (existing issue)

## Description
open the right panel scrollable dialog...try moving the dialog towards left- it moves out of focus. also try using two fingers to zoom in and  zoom out...sometimes it gets stuck outside in the background area.
repro:
in iphone 8 plus safari
go to http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging/ds4

[2018-10-23 17:40] seangates commented on #448
@hramakumar I can't reproduce this. Can you confirm the steps?

![image](https://user-images.githubusercontent.com/105656/47379534-67498c80-d6b8-11e8-9e98-bfc766fdf652.png)

[2018-10-23 18:07] hramakumar commented on #448
i believe you are trying issue 1
try moving the screen a little more to the left a little
if that does not help then try it in the test page instead of the local

[2018-10-23 18:08] hramakumar commented on #448
also try opening and closing the dialog multiple times

[2018-10-23 18:20] hramakumar opened #450 "Dialog: close button issues with scrollable right panel"
# Bug Report

## eBayUI Version: 1.0.7 and 6.0.5

## Description
Repro

repro:
open a rightpanel scrollable dialog in iphone 8 plus
check for the position of the close button - it should be slightly misplaced on the top right corner. try closing and opening it multiple times. once after we get the misplaced the close icon.
then try zooming the dialog a little
issue  - a new close button appears at

[2018-10-23 18:21] hramakumar commented on #448
and also are you using iphone 8 plus?

[2018-10-23 18:55] seangates commented on #448
Yes, using iPhone 8 Plus. Responded via Slack:

[2018-10-23 20:50] DylanPiercey opened #454 "Carousel: Native scrolling animation slow in IOS"
# Bug Report

## eBayUI Version: 1.0.7

## Description
Currently the native inertial scrolling deceleration in mobile safari is much slower than chrome which makes the snap animation look a bit too delayed.

## Screenshots

![carousel-ios-native-scrolling](https://user-images.githubusercontent.com/4985201/47389788-8a7d3780-d6ca-11e8-95a6-5aadbff313e5.gif)

[2018-10-23 21:29] ianmcburnie commented on #440
Fix merged to 1.1.0 branch.

[2018-10-23 21:29] #440 closed

[2018-10-23 21:37] ianmcburnie commented on #435
Perhaps we should make this a data attribute?

`data-ebayui-version="1.1.0"`

Or maybe use a JSON string if we think there is other useful meta-data to store?

`data-ebayui='{"version":"1.1.0", "debug":"true"}'`

My preference is the former.

[2018-10-23 21:38] seangates commented on #435
I prefer the former.

[2018-10-23 21:40] ianmcburnie commented on #435
Ideally though, we don't have to do this and can sniff the signature some other way. Like with xpath. I really don't polluting our markup with stuff that has no benefit to the user.

[2018-10-24 17:15] ianmcburnie commented on #435
@DylanPiercey Is this something that could be handled with a transformer?

I think we have ultimately settled on:

`data-ebayui="1.1.0"`

I wonder if the version number might represent any kind of security risk though? In terms of making it easier to identify a page with a known vulnerability? Probably not a big deal, but just throwing it out there.

[2018-10-24 17:28] seangates commented on #435
It was proposed:
[code]

[2018-10-24 17:31] ianmcburnie commented on #435
I added ‘core’ into the attribute name, just in case we might want to differentiate with app components when they come along. But i’m also open to dropping that and having just `data-ebayui`.

[2018-10-24 17:35] seangates commented on #435
Some variants:
[code]
... to spark discussion.

[2018-10-24 18:45] seangates opened #456 "Textbox: add icon capabilities"
# Feature Request

## Description

The textbox has been spec'd in DS4 & DS6 with prefix and postfix icons. These prefix and postfix icons should be added to the component and allowed to be configured by the developer.

## Context

This capability is already available in Skin for DS4 and DS6.

## Screenshots

![image](https://user-images.githubusercontent.com/105656/47453647-831d6300-d78a-11e8-903c

[2018-10-24 21:02] DylanPiercey commented on #435
Should this also signify which component it is? IE: `data-ebayui-carousel`?

[2018-10-24 21:04] seangates commented on #435
I don't think that's necessary, since that can be derived from class names, right? The attribute + class name for xpath should be sufficient.

[2018-10-24 21:05] hramakumar commented on #435
yes correct

[2018-10-25 17:12] ianmcburnie commented on #439
Fix went out in 1.0.7.

[2018-10-25 17:12] #439 closed

[2018-10-25 17:13] ianmcburnie commented on #432
Fix went out in 1.0.7.

[2018-10-25 17:13] #432 closed

[2018-10-25 19:28] ianmcburnie commented on #454
Fix merged to 1.1.0.

[2018-10-25 19:28] #454 closed

[2018-10-26 16:12] PrashantAshok opened #460 "Select: Selecting first element emits the wrong data"
# Bug Report

## eBayUI Version: 0.9.1

## Description
`ebay-select` is not returning the right `index/selected/el` when you try to select the first element. For. e.g. the select has 3 elements, when you try to select the first element it returns index: 1.
Use marko 4.13.7 you would notice the bug.

## Context
It should invoke `this.update()` outside the `.map` function.

[code]
Make this change,

[2018-10-26 22:05] seangates opened #462 "Button: add fixed height and trunctation options"
# Feature Request

## Description
The button module from Skin was recently updated to support wrapping and overflow to match the way native HTML buttons work. In the scenario when buttons are given a fixed width, they may cause overflow for the buttons text, and in certain cases the text needs to be truncated. Truncation will force the button to single line of text and add the ellipsis. Although t

[2018-10-29 20:39] ianmcburnie commented on #8
I guess adding a `pill` boolean to ebay-button is the simplest way to go, but if there are going to be some button attributes not suitable or relevant to the pill, I wonder if it's worth creating an ebay-pill which acts as a simplified facade to ebay-button?

[2018-10-29 22:21] seangates commented on #8
Well, a lot of the attributes will be handled with state inside the `ebay-pill` component (e.g. checked state) so we wouldn't want to expose those the same was as the `ebay-button`. It's a button ... but more of a button type with limited button options.

So, I'm 100% in line with your thinking.

[2018-10-30 20:34] ianmcburnie commented on #460
Fix went out in v0.9.2. Closing.

[2018-10-30 20:34] #460 closed

[2018-10-30 23:24] hramakumar opened #463 "Carousel:continuous - chrome - Native scrolling animation slow in android"
# Bug Report

## eBayUI Version: 1.1.0

## Description
pls refer to the issue for IOS here.
https://github.com/eBay/ebayui-core/issues/454

its the same in android

https://www.useloom.com/share/ae118b3f471a4ace9a428843c6c6571e

[2018-10-31 17:33] hramakumar opened #464 "Carousel: continuous- auto-adjust - decrease 20% snap back threshold for large slides"
# Bug Report

## eBayUI Version: 1.1.0

## Description
Since there has to be atleast 20% of the next slide to be in view to auto adjust to the next slide. When the slide is is big it is required to move  the slide more than usually expected, without removing the finger,  to get to the next slide
We need to reduce this threshold
https://www.useloom.com/share/de1c3f0c5dd64cb79128ff32206ca0df

This i

[2018-10-31 17:38] hramakumar opened #465 "Carousel: adjust speed and reach of the carousel "flick" movement"
# Bug Report

## eBayUI Version:1.1.0

## Description
In IOS Safari, after the auto adjust feature added in 1.1.0, it is no longer easy to get to the end of the carousel (>10 cards) in one flick.
The flick speed and the speed with which the carousel moves does not match.

[2018-10-31 17:48] hramakumar opened #466 "Carousel: continuous -the white space that appears and disappears when we try to scroll past the last card is no longer present"
# Bug Report

## eBayUI Version: 1.1.0

## Description
the white space that appears and disappears when we try to scroll past the last card is no longer present.
With the current design it looks more like the carousel is stuck in the position when I try to scroll past the last card.

[2018-10-31 17:53] hramakumar opened #467 "Carousel: auto adjust to the right when cards are moved to the left"
# enhancement

## eBayUI Version: 1.1.0

## Description
when cards are moved to left, the users are viewing it to their right and we expect the auto adjust to adjust the card to the right instead of left.

https://www.useloom.com/share/e91a5233c39043618bf0aacd3cb789cb

when cards moved to the right- the cards are auto-adjusted to the left
when moved to left- the cards are still auto-adjusted to th

[2018-10-31 18:05] ianmcburnie commented on #67
This task will be unblocked by first pre-release of skin 7.0.0. At the time of writing, DS4 tooltip is done in skin, and that would be enough to start this task.

[2018-10-31 21:27] hramakumar opened #468 "Carousel- continuous-chrome android- left scroll/reverse scroll movements need the the next card to be exposed 80% instead of 20%(as in right side scroll), to auto-adjust."
# Bug Report

## eBayUI Version: 1.1.0

## Description
right scroll movements need the next card to be exposed 20% to auto-adjust to the next card
but for left scroll we expect the threshold to be same but instead, it is 80%
https://www.useloom.com/share/e91a5233c39043618bf0aacd3cb789cb

here we expect the auto adjust to take in card 2 but instead, it snaps back to card 3

[2018-10-31 21:52] ianmcburnie commented on #468
Not entirely convinced yet that this is a blocker, but @DylanPiercey is this potentially a quick fix?

[2018-10-31 22:06] hramakumar commented on #468
this hinders the reverse scroll functionality and there is no workaround . The user has to scroll a lot more to move to the next slide. This is not as subtle as https://github.com/eBay/ebayui-core/issues/464 as this is 80% it looks more obvious which is why I filed it as blocker and yes I spoke with dylan , he is working on the patch.

[2018-10-31 22:08] ianmcburnie commented on #468
Thanks for the clarification @hramakumar

[2018-10-31 22:10] DylanPiercey commented on #468
Patch is here: https://github.com/eBay/ebayui-core/pull/469 a very simple fix.

[2018-10-31 22:29] senthilp commented on #468
Less optimal is the feedback that I received from Hemnath. It is a trade-off now. Can we make the call on Friday?

[2018-10-31 22:39] ianmcburnie commented on #468
Well, there's also a few of us that don't think it's less optimal. This is highly subjective territory of course! Let's demo it on Friday and make the call then.

[2018-11-01 22:38] ianmcburnie commented on #468
This issue is fixed. Closing ticket, but we will still discuss the larger topic of whether we want to keep the new scrolling experience.

[2018-11-01 22:38] #468 closed

[2018-11-05 18:18] seangates opened #470 "Carousel: update LESS variables because of Lasso changes in Skin v7"
This issue is created to track an issue which arises by splitting the DS6 and DS4 variables in Skin based on the `skin-ds6` Lasso flag. The issue is described in https://github.com/eBay/skin/pull/406/files.

Therefore, we must update the carousel to support the appropriate variables with whichever design system is used.

The issue was found when attempting to switch to DS4 in the demo app of this

[2018-11-05 22:07] seangates commented on #466
How can this be both a bug and an enhancement?

[2018-11-05 22:07] seangates commented on #467
Title says but, but issue says enhancement. Which is it?

[2018-11-05 23:28] seangates commented on #466
(Per the labels.)

[2018-11-09 18:05] DylanPiercey opened #476 "Carousel: Switch to native scroll snapping implementation."
# Feature Request

## Description
Currently we have a hybrid approach of using native scrolling with snap points taken care of by JS. The shortcomings of this approach has been performance degradation and lack of control in some cases. As discussed we have opted to try using the native scroll snap points for browsers that support it.

[2018-11-16 18:36] ianmcburnie commented on #476
Merged to 1.2.0 branch. Needs verification in 1.2.0-0 release.

[2018-11-16 18:36] #476 closed

[2018-11-16 18:36] ianmcburnie commented on #466
Merged to 1.2.0 branch. Needs verification in 1.2.0-0 release.

[2018-11-16 18:36] #466 closed

[2018-11-16 18:36] ianmcburnie commented on #465
Merged to 1.2.0 branch. Needs verification in 1.2.0-0 release.

[2018-11-16 18:36] #465 closed

[2018-11-16 18:37] ianmcburnie commented on #463
Merged to 1.2.0 branch. Needs verification in 1.2.0-0 release.

[2018-11-16 18:37] #463 closed

[2018-11-16 22:06] dkallus opened #480 "Dialog: Unable to scroll on body after quickly re-rendering dialog multiple times"
# Bug Report

## eBayUI Version: 1.0.7 and Skin 6.0.5

## Description
I’m using `ebay-dialog` full screen and (1) if I re-render dialog soon after it's first opened and (2) then close the dialog by clicking (X) button, scrolling on main page/body is still blocked.

## Screenshots
Screenshot of body styles after has already been opened and then re-rendered again:
<img width="342" alt="css_dialog_op

[2018-11-17 00:10] ianmcburnie commented on #480
Thanks for finding and creating this issue @dkallus!

[2018-11-20 05:53] seangates commented on #421
Tracked here: https://github.com/eBay/ebayui-storybook/issues/3

[2018-11-21 20:23] hramakumar opened #482 "Combobox: when options have long text, the font size of option is bigger than usual -ds4-IOS-"
# Bug Report

## eBayUI Version: 1.0.7-skin 1.1.0

## Description
when options have long text, the font size of option is bigger than usual

## Workaround

## Screenshots
![combo jpg](https://user-images.githubusercontent.com/13157115/48866579-22347b00-ed88-11e8-92be-b2650dc9ade5.png)

[2018-11-21 21:47] seangates commented on #482
I'll have a look.

[2018-11-21 22:16] DylanPiercey opened #483 "ebay-icon: Support server side only rendering (split component)."
# Feature Request

## Description
Currently the `<ebay-icon>` needs to be rendered under a component because it expects that component to pass it the appropriate icons to render. This means that if you use the `ebay-icon` on a static page for example it will cause an error in the browser.

This should be fixable by switching this component to be a split component.

[2018-11-27 20:34] ianmcburnie commented on #480
Merged to 1.3.0

[2018-11-27 20:34] #480 closed

[2018-11-27 20:35] ianmcburnie commented on #456
Merged to 1.3.0 branch.

[2018-11-27 20:35] #456 closed

[2018-11-27 20:35] ianmcburnie commented on #19
Merged to 1.3.0 branch.

[2018-11-27 20:35] #19 closed

[2018-11-27 20:36] ianmcburnie commented on #483
Merged to 1.3.0 branch.

[2018-11-27 20:36] #483 closed

[2018-11-28 16:48] ianmcburnie commented on #470
Merged to 2.0.0 branch. Closing.

[2018-11-28 16:48] #470 closed

[2018-11-28 16:50] ianmcburnie commented on #462
Merged into 2.0.0. Closing.

[2018-11-28 16:50] #462 closed

[2018-11-28 16:57] ianmcburnie commented on #376
@senthilp Care to comment on this? Marko state management vs being HTML/DOM-like.

[2018-11-28 17:16] ianmcburnie opened #486 "Replace GitHub services with GitHub Apps"
GitHub services have been officially deprecated and will stop working on January 31, 2019.

We need to replace the Travis service with the [Travis app](https://github.com/marketplace/travis-ci) from GitHub marketplace. Only a member with admin rights can do this (cough, @seangates). Make sure to select the free version for open source.

GitHub docs:
https://developer.github.com/changes/2018-04-25-

[2018-11-28 17:36] seangates commented on #486
I've enabled the app. Can you confirm, @ianmcburnie?

[2018-11-28 17:46] ianmcburnie commented on #486
I see it's installed now, thanks. We can probably confirm if it's working next time we push some code.

[2018-11-28 18:06] ianmcburnie commented on #486
On the Travis side of things, it looks like this repo needs migrating from the old travis-ci.org to the new travis-ci.com. But that option isn't available yet:

<img width="621" alt="screen shot 2018-11-28 at 10 04 26 am" src="https://user-images.githubusercontent.com/38065/49172175-2830db80-f2f5-11e8-8315-99a972fb85d8.png">

 Oh well, at least we have this GitHub piece in place for now.

[2018-11-28 18:41] seangates commented on #486
😞

[2018-11-29 04:20] senthilp commented on #376
I am talking with a couple of FE folks next week. Will update back once I hear the feedback.

[2018-12-01 06:44] #8 closed

[2018-12-05 21:10] hramakumar opened #487 "textbox: icons not displayed in multiline textboxes"
# Bug Report

## eBayUI Version: 1.3.0-0

## Description
icons are not displayed in multiline texboxes
## Workaround

## Screenshots
go to http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging
under the textbox section look for the headings
"icon with placeholder- multiline"
![image](https://user-images.githubusercontent.com/13157115/49545330-29807c00-f892-11e8-91e6-cc5212874635.png)

[2018-12-05 21:14] ipmincubus opened #488 "Carousel: carousel-slide event provides incorrect slide data"
# Bug Report

## eBayUI Version: x.x.x
1.0.5
## Description

Click right arrow for a couple times, and click left arrow, and observe the slide data provided by carousel-slide event. Even I am on the first slide, the slide data shows me slide is 2
## Workaround

## Screenshots

<img width="1423" alt="screen shot 2018-12-05 at 1 11 19 pm" src="https://user-images.githubusercontent.com/39746572/49544

[2018-12-05 21:17] hramakumar opened #489 "badge: selecting a button with a badge show focus highlighting includiong the badge that looks unconventional"
# Bug Report

## eBayUI Version: 1.3.0

## Description
go to https://go/ebayui/test
in the badge section click on the one with the heading badge-button-icon
look at the focussed outline once its clicked
## Workaround

## Screenshots
https://www.useloom.com/share/bbde58ad2f5e45e69decfd27defaf370

[2018-12-05 21:54] seangates commented on #487
This is the expected behavior. It's only available on single-line versions of the component.

[2018-12-05 21:54] #487 closed

[2018-12-05 21:55] seangates commented on #489
@hramakumar That actually looks good and correct to me.

[2018-12-06 01:21] hramakumar commented on #489
I believe it should either highlight the button alone and not the badge or it should have a bigger box that includes the button and the badge. The current shape looks irregular
![image](https://user-images.githubusercontent.com/13157115/49554737-344b0900-f8b2-11e8-931b-b7eec4131c3f.png)

[2018-12-06 03:57] seangates commented on #489
@ianmcburnie Your thoughts?

[2018-12-06 16:30] ianmcburnie commented on #489
I think it would look better just around the button if we can do that, but I don't think it's urgent. Moving to backlog as a good first issue.

[2018-12-06 19:02] hramakumar opened #490 "badge: we display negative, decimal numbers and 0- pls do the validation to check all nos are positive whole numbers"
# Bug Report

## eBayUI Version: 1.3.0-0

## Description
we display negative, decimal numbers and 0- pls do the validation to check all nos are positive whole numbers
repro:
go to https://go/ebayui/test
look at the badge section
search for labels badge_negative and badge_0
## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/49605665-fc8da100-f945-11e8-81dc-5db

[2018-12-06 19:06] hramakumar opened #491 "badge: disabled and partially disabled buttons does not showing badge"
# Bug Report

## eBayUI Version: 1.3.0-0

## Description
Disabled and partially disabled buttons does not show badge.
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStagingIsolation/ds4?type=badge_6

[2018-12-10 23:56] hramakumar opened #493 "IOS - textbox- when Icon is on the right- the cursor blinks to the right of the icon"
# Bug Report

## eBayUI Version: 0.3.0-0

## Description
the textbox with postfix icon -
repro-
In IOS device
go to https://go/ebayui/test
click the textbox icon postfix
type a long text
click done and get the focus out.
Then again click on the icon in textbox

## Workaround

## Screenshots
![textbox_cursor](https://user-images.githubusercontent.com/13157115/49769178-0d1a8000-fc94-11e8-825b-f7b83f

[2018-12-11 00:33] hramakumar opened #494 "IE - badge number over a button is partially cutt off"
# Bug Report

## eBayUI Version: 1.3.0-0

## Description
in ie
go to https;//go/ebayui/test
or
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStagingIsolation?type=badge_4

The badge number gets cutt off

## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/49770190-2291a900-fc98-11e8-9e65-6c6887ea18ca.png)

[2018-12-11 06:21] seangates commented on #494
🤢

[2018-12-11 06:23] seangates commented on #491
@hramakumar @ianmcburnie @gbeckpdx What was the final decision on this.

[2018-12-11 16:25] ianmcburnie commented on #489
Yeah, I don't think moving the badge element outside of the button element is an option at this point (or maybe ever), so if there's no way to fix this with the current DOM, we'll just have to live with it.

[2018-12-11 16:41] ianmcburnie commented on #491
We decided not to show a badge when button is disabled. So I will close this.

[2018-12-11 16:41] #491 closed

[2018-12-11 16:42] ianmcburnie commented on #412
@DylanPiercey Did this one get fixed with your recent split render changes?

[2018-12-11 21:38] ianmcburnie opened #496 "Demo: ds4 icon page is broken"
# Bug Report

## eBayUI Version: 1.3.0

## Description

Run `yarn start` and view ds4 icon pages. Background icons and inline icons are missing. This is because ds4 icons have different names. We need to split the docs.

## Screenshots

<img width="1212" alt="screen shot 2018-12-11 at 10 08 08 am" src="https://user-images.githubusercontent.com/38065/49831863-e74fb280-fd49-11e8-9a52-e0e2419fab83.pn

[2018-12-13 18:33] ianmcburnie opened #497 "CI: get browserstack tests running on Firefox and Safari"
# Feature Request

Like the title says, let's get our browserstack tests running on Firefox and Safari. Currently they only run on Chrome.

Notes: https://github.com/eBay/ebayui-core/blob/master/marko-cli.js#L29

(IE not compiling properly, because we don’t use `lasso-babel-transform` when running tests, according to Dylan).

[2018-12-14 19:31] ianmcburnie opened #498 "Update all devDeps in 2.0.0 branch"
The devDeps are lagging behind. This is just a reminder to update them at some point before v2 release. All except Marko (needs to be v3).

<img width="747" alt="screen shot 2018-12-12 at 1 14 22 pm" src="https://user-images.githubusercontent.com/38065/50023347-ba8edb80-ff93-11e8-836d-c469171f2151.png">

[2018-12-14 19:52] ianmcburnie commented on #488
Merged to 1.3.1. branch. Closing ticket.

[2018-12-14 19:52] #488 closed

[2018-12-15 02:03] ianmcburnie commented on #489
Safari doesn't have this issue btw:

<img width="52" alt="screen shot 2018-12-14 at 6 02 15 pm" src="https://user-images.githubusercontent.com/38065/50037829-7cf97500-ffca-11e8-8650-264839fbe494.png">

[2018-12-17 18:57] DylanPiercey commented on #464
Since #477 the carousel has switched to using the native browser scrolling. Because of this these thresholds have changed and they are no longer configurable (left up to the browser).

[2018-12-17 18:57] #464 closed

[2018-12-17 19:41] ianmcburnie opened #500 "Replace occurrences of background icons (span tag) with foreground icons (svg tag)"
Any internal dependency on the skin background icon module causes a perf hit due to the significant CSS payload it imports. Let's convert any occurrences of background icons (i.e. the span) tag to foreground icons (i.e. the svg tag).

[2019-01-07 20:03] ianmcburnie opened #503 "Textbox: add floating label support"
Let's leverage Skin's `label` module to add floating label support to the textbox component.

For example:

<ebay-textbox floating-label="Email address" />

Related ticket: https://github.com/eBay/skin/issues/497

[2019-01-10 00:17] ianmcburnie commented on #490
Fixed by @BhavinPatel04 and merged to 2.0.0 branch. Closing.

[2019-01-10 00:17] #490 closed

[2019-01-10 19:13] scttdavs opened #504 "Touch carousel does not work after deploying"
# Bug Report

## eBayUI Version: 1.2.0

## Description
The touch version of the carousel works locally but not after deploying. It seems the compressor the resource server uses affects some css that is needed. See the diff below.

After reproducing locally, applying the correct uncompressed style inline fixes it.

## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/363

[2019-01-11 23:22] ianmcburnie commented on #504
Fixed in v1.3.2

[2019-01-11 23:22] #504 closed

[2019-01-14 20:30] ianmcburnie commented on #500
Let's see if we can fix this in a 1.3.x or 1.4 release. Otherwise, 2.0.0 it will have to be.

[2019-01-16 18:42] mkchang commented on #422
per Ian, there was a WCAG update https://www.w3.org/TR/wai-aria-practices-1.1/#tabpanel that now needs to be taken into account:
[code]

[2019-01-16 19:19] seangates opened #510 "Update README to add A11Y as one of the main features of this project."
In some conversations with users we realize we did not mention the great support the eBayUI components have for the WCAG standards. We should add something to help folks better understand the work we've done to make the components be accessible.

[2019-01-22 20:26] ianmcburnie opened #513 "New Component: Section Title"
Title module has 3 subtypes: arrow, info and overflow:

![screen shot 2019-01-22 at 12 22 01 pm](https://user-images.githubusercontent.com/38065/51563207-9222b880-1e40-11e9-84dd-cbdf7fd6fe67.png)

Related Skin issue: https://github.com/eBay/skin/issues/524

[2019-01-23 06:04] ianmcburnie commented on #422
Merged to 7.0.0

[2019-01-23 06:04] #422 closed

[2019-01-24 19:08] FlyingWHR opened #514 "Menu: menu item with nested button/anchor object index is handled incorrectly"
# Bug Report

## eBayUI Version: 1.3.3

## Description

for ebay-menu-item with nested anchor tag, the item index from on-menu-select event handler is incorrect

this logic of getting item index only goes one level up, if the click event is triggered by nested item it would fail to find the correct menu-item index
https://github.com/eBay/ebayui-core/blob/5af1b7b0280fc3b87dccb60c96a68da9e8f62d05/sr

[2019-01-24 19:11] FlyingWHR commented on #514
@seangates You had some accessibility concerns regarding this one, let me know if we want this change so i can work on a PR

[2019-01-24 20:54] ianmcburnie commented on #514
We shouldn't be nesting interactive elements like anchors inside of the menuitem. The menuitmem itself *is* the interactive element.

[2019-01-28 17:12] seangates commented on #67
Completed in #499.

[2019-01-28 17:12] #67 closed

[2019-01-29 14:00] scttdavs opened #517 "ebay-menu item wraps very easily"
# Bug Report

## eBayUI Version: 1.3.0

## Description

Between v1.2 and v1.3, a span tag that was rendered for ebay-menu items is no longer rendered. Skin used to apply a truncation mixin to this which kept the items from wrapping. This mixin is no longer applying. The result is that the menu items wrap very easily. The issue is more pronounced when using an icon button.

## Workaround

The work

[2019-01-29 17:45] ianmcburnie commented on #517
Thanks for reporting this in detail, @scttdavs. We will begin investigating and scoping out the fix.

[2019-01-30 16:58] seangates commented on #500
Completed in #511.

[2019-01-30 16:58] #500 closed

[2019-01-30 23:19] seangates commented on #517
Out in pre-release to be able to test: v1.4.0-1

@scttdavs Please confirm if you have time. We will still QA it through normal means, but your feedback is appreciated.

https://github.com/eBay/ebayui-core/pull/515/files#diff-680e9f2db0d343bf92888173a21bccd4R36

[2019-01-30 23:26] hramakumar opened #519 "ebay-icons: Inline Icons- size is shrunk"
# Bug Report

## eBayUI Version: 1.4.0-1 and skin: 6.3.3

## Description

## Workaround

## Screenshots
before
![image](https://user-images.githubusercontent.com/13157115/52019613-2923ec00-24a3-11e9-818e-160f384b3587.png)
after
![image](https://user-images.githubusercontent.com/13157115/52019624-380a9e80-24a3-11e9-8402-0c18337e2a71.png)

[2019-01-31 00:27] kmlhossen opened #520 "Textbox: does not support passing input/button id value"
I was trying out ebay-textbox from https://github.com/eBay/ebayui-core/tree/2.0.0/src/components/ebay-textbox
But seems like if I pass a value for textbox id field, like below

`<ebay-textbox id="userid" floating-label="Email or username" fluid=true/>`

The rendered textbox get an auto generated id like s0-0-15-7-4 it does not honor the passed in value.

Passing name value works fine.

[2019-01-31 19:33] hramakumar opened #521 "Menu: default "growth" behaviour seems to be broken"
# Bug Report

## eBayUI Version: 1.3.0-1

## Description
when menu options have more than one line....it looks like two menu options. There is no way to distinguish between a two-line menu options and regular one-line menu option without hover over.
need some boundary lines distinguishing the menu oprions.

EDIT BY IAN: the menu should be growing in width with the menu item text, not wrapping. So

[2019-01-31 19:42] ianmcburnie commented on #520
Thanks for reporting this @kmlhossen . We will make sure this is fixed before final release.

[2019-01-31 19:44] ianmcburnie commented on #519
Fixed (hopefully), in Skin 6.3.4.

[2019-01-31 19:45] ianmcburnie commented on #514
@seangates Can we close this as "wont fix", or is there any additional information in README you'd like to add to prevent users from doing this?

[2019-01-31 20:05] hramakumar opened #522 "Checkbox: label height is a little lower than ususal"
# Bug Report

## eBayUI Version: 1.4.0-1 and skin 6.3.3

## Description
check box if you look at the options label. Its not aligned with the center in height.
Happens only in desktop.
## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/52081972-70b48180-2550-11e9-8a66-fe93306ad476.png)

[2019-01-31 20:06] hramakumar commented on #522
![image](https://user-images.githubusercontent.com/13157115/52082060-a194b680-2550-11e9-996a-a1f918773c0d.png)

[2019-01-31 22:44] seangates commented on #514
Assigned to myself to take on. Let's leave it open for now for tracking.

[2019-02-01 19:52] hramakumar opened #523 "badge button: the position of the badge is wrong"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
The position of the badge number is wrong when it comes with a button. it is expected to be towards right  of the button but it is actually at the bottom of the button
## Workaround

## Screenshots
![badge button icon](https://user-images.githubusercontent.com/13157115/52146116-b7b97a00-2617-11e9-9f4e-0146539d3b39.png)

[2019-02-01 19:52] hramakumar opened #542 "Badge: the position of the badge is wrong"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
The position of the badge number is wrong when it comes with a button. it is expected to be towards right  of the button but it is actually at the bottom of the button
## Workaround

## Screenshots
![badge button icon](https://user-images.githubusercontent.com/13157115/52146116-b7b97a00-2617-11e9-9f4e-0146539d3b39.png)

[2019-02-01 19:53] hramakumar commented on #519
verified.

[2019-02-01 19:53] #519 closed

[2019-02-01 20:04] hramakumar opened #524 "Icon: inline icons are broken - v7.0.0-5"
ebayui 2.0.0-2 and skin 7.0.0-5

Inline icons are broken on ds4 page
![inlineicons](https://user-images.githubusercontent.com/13157115/52146680-51cdf200-2619-11e9-87b5-d2fdc542525e.png)
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging2/ds4

[2019-02-01 20:37] hramakumar opened #525 "Carousel: mweb - start with index takes long time to get to the card in ds6 and doesnt work at all in ds4"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
Carousal start with index takes long time to get to the card in ds6 and doesnt work at all in ds4
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStaging2/ds4

## Workaround

## Screenshots

[2019-02-01 20:41] ianmcburnie commented on #524
Couple of reason for this:

1. Some icons were renamed, e.g. `icon--download` became `icon--skin` (look under "New DS4 aliases here: https://github.com/eBay/skin/pull/525)
1. I have a feeling you are running into this bug: https://github.com/eBay/skin/issues/540 (I am working on a fix for this)

[2019-02-01 23:17] ianmcburnie commented on #524
Skin PR is here: https://github.com/eBay/skin/pull/542

[2019-02-02 00:14] ianmcburnie commented on #521
@seangates Shouldn't that menu be growing with the text?

[2019-02-02 00:19] seangates commented on #521
Yes.

[2019-02-04 18:00] ianmcburnie opened #528 "Rename ebay-combobox to ebay-combobox-readonly"
As discussed offline with Sean, let's:

1. Clone `ebay-combobox` as `ebay-listbox` (keep hidden from documentation for now) (#529)
1. Rename `ebay-combobox` to `ebay-combobox-readonly`
1. Revert the button in `ebay-combobox-readonly` to a textbox
1. Hide `ebay-combobox-readonly` from documentation

It's best that we make this breaking change now in our upcoming major version. The new editable `eba

[2019-02-04 18:38] #498 closed

[2019-02-04 19:54] ianmcburnie opened #529 "Convert ebay-combobox to ebay-listbox"
The `ebay-combobox` component is going to be repurposed from a readonly "custom select" to an editable combobox. However, we still need a "custom select", and as the current logic of `ebay-combobox` matches up very closely with the W3C's new listbox pattern (an alternative way of creating a custom select), let's clone what we have and call it `ebay-listbox`.

I think the only logic that will need

[2019-02-04 19:58] ianmcburnie commented on #529
To provide a path forward for people using the current `ebay-combobox` in v1.x, let's see if we can squeeze this into v2.

Most of this task should be search and replace "combobox" to "listbox".

I've also updated the <a href="https://github.com/makeup-js/makeup-active-descendant">makeup-active-descendant</a> which should do all the heavy lifting in terms of managing the kb navigation state.

[2019-02-04 22:44] ianmcburnie commented on #528
This task should happen *after* #529 is done.

[2019-02-05 03:45] ianmcburnie commented on #524
Fix will be available in Skin v7.0.0-6. In the meantime, please update any old icon names with the new names.

[2019-02-05 03:46] ianmcburnie commented on #517
Closing.

[2019-02-05 03:46] #517 closed

[2019-02-05 04:33] ianmcburnie commented on #521
Ok. I guess this will need investigating/fixing for v2. The skin side seems to be working fine. So possibly a coreui or test page issue.

[2019-02-05 04:40] seangates commented on #523
@hramakumar We should not post internal eBay URLs in this repo or the Skin repo.

[2019-02-05 15:45] hramakumar opened #531 "infotip: default icon has issues in ds4"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
infotip default icon is missing in ds4- i.e. when no icon attribute is given

## Workaround

## Screenshots
![infotip-defaulticon_ds4](https://user-images.githubusercontent.com/13157115/52284655-ade68e00-2919-11e9-91f3-61852d996529.png)

[2019-02-05 15:50] hramakumar opened #532 "tooltip: when style is given and pointer not given- the default pointer is pointing down instead of up"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description

when style is given and pointer not given- the default pointer is pointing down instead of up

## Workaround

## Screenshots
![arrow_pointing_down](https://user-images.githubusercontent.com/13157115/52285050-8512c880-291a-11e9-936c-0bf1f03de3a8.png)

[2019-02-05 15:58] hramakumar opened #533 "change attribute name location to pointer in market place for infotip and tooltip"
# Bug Report

## eBayUI Version: 2.0.0-2

## Description
change attribute name location to pointer in market place

## Workaround

## Screenshots

[2019-02-05 16:36] hramakumar opened #534 "Pill: "primary" priority doesn't work as expected"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
when priority primary is given it displays only secondary

## Workaround

## Screenshots
https://www.useloom.com/share/c6319d6e082c4b34b979c3cc4e3850a8

[2019-02-05 16:41] hramakumar commented on #534
2 bugs here
1) priority primary doesnt work fine
2) when I explicitly mention the priority as secondary- it has the above behaviour as shown. the default secondary works fine

[2019-02-05 17:30] hramakumar opened #535 "Dropdowns: enhance with viewport boundary detection"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
when info tip has content that goes out og page boundary. it truncates.
![screenshot_20190205-092444](https://user-images.githubusercontent.com/13157115/52291993-8e0a9680-2928-11e9-8865-e07cd1e78264.png)

## Workaround

## Screenshots

[2019-02-05 17:46] ianmcburnie commented on #535
@seangates I believe we were going to add the logic for this in a future version. Is that correct? If so we can mark this as an enhancement ticket.

[2019-02-05 17:50] ianmcburnie commented on #522
Not seeing this issue in skin v7.0.0:

<img width="299" alt="screen shot 2019-02-05 at 9 49 27 am" src="https://user-images.githubusercontent.com/38065/52293320-5e10c280-292b-11e9-98f1-c8f1242eea91.png">

@hramakumar can you please reverify this in coreui v2 prerelease.

I'm not sure we will go back and fix this in v1.x branch.

[2019-02-05 17:53] ianmcburnie commented on #531
Possibly related to the icon normalization changes that happened in skin v7. Possibly.

[2019-02-05 18:45] hramakumar commented on #522
i still see it in the test page
![image](https://user-images.githubusercontent.com/13157115/52296404-1f7f0600-2933-11e9-98e5-d89bea37db28.png)
http://ebayuicomponentstestenv.vip.qa.ebay.com/ebayUIStagingDesktop2

[2019-02-05 18:49] ianmcburnie commented on #522
Thanks @hramakumar . Can you compare with Marketplace and see if you get similar results?

[2019-02-05 18:54] hramakumar commented on #522
yes the issue is there in marketplace but its towards the top
![image](https://user-images.githubusercontent.com/13157115/52296934-6de0d480-2934-11e9-80b6-dfb4b170eb2e.png)

[2019-02-05 18:55] hramakumar commented on #522
windows and chrome browser

[2019-02-05 19:13] hramakumar commented on #523
@ianmcburnie  I see it in all devices and browsers. in test page

[2019-02-05 19:13] hramakumar commented on #523
@seangates  oh ok. got it.

[2019-02-05 19:17] hramakumar opened #536 "Infotip: close button goes outside the component with long words (mweb/dweb)"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
In mweb, both Android and IOS
When the infotip body is long The close button goes outside the component boundary

## Workaround

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/52298237-640ca080-2937-11e9-8ba4-5d7a021e43b9.png)

[2019-02-05 19:17] hramakumar commented on #536
reproducible in chrome simulation

[2019-02-05 19:19] hramakumar commented on #525
unable to reproduce. Will check for some more time and will close it if the issue does not exist anymore

[2019-02-05 19:36] ianmcburnie commented on #536
Reproducible in Skin on desktop when there is a really long word:

<img width="809" alt="screen shot 2019-02-05 at 11 35 50 am" src="https://user-images.githubusercontent.com/38065/52299450-44c34280-293a-11e9-8e0f-1097ef73afd9.png">

[2019-02-05 19:38] ianmcburnie commented on #536
@hramakumar This appears to only happen with really long unbroken words, so could we reduce this to a non-blocker?

[2019-02-05 19:46] ianmcburnie commented on #482
We are deprecating the current combobox as we know it, in v2. We will not be fixing this issue in v1.x branch. Closing ticket.

[2019-02-05 19:46] #482 closed

[2019-02-05 19:50] ianmcburnie commented on #532
@seangates Is this expected behaviour? Not sure this is a blocker in any case.

[2019-02-05 19:54] hramakumar commented on #536
but isn't it common to have long texts in infotips?

[2019-02-05 19:55] ianmcburnie commented on #536
Long text is behaving fine for me. It appears to be the really long word that breaks things.

[2019-02-05 19:58] hramakumar opened #537 "Tooltip: tooltip on text box does not disappear when clicking page"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
When a tooltip shows up on a textbox there is no way to make it disappear.
moving the focus out does not help

## Workaround

https://www.useloom.com/share/8d0d5dd3517d48fba39b59203e0e9c55>

[2019-02-05 20:04] ianmcburnie commented on #536
Can you verify that is same for you?

[2019-02-05 20:15] hramakumar commented on #536
yes I did.  you are right

[2019-02-05 20:34] hramakumar opened #538 "Pill: In IE 11 when there is long text the beginning if the text goes out of the pill"
# Bug Report

## eBayUI Version: 2.0.0-2 and skin 7.0.0-5

## Description
long text in pill

![image](https://user-images.githubusercontent.com/13157115/52302504-44c74080-2942-11e9-997c-b48f6416a4f6.png)

## Workaround

## Screenshots

[2019-02-06 03:54] ianmcburnie commented on #536
Fixed in Skin. Will be in next coreui pre-release. Closing.

[2019-02-06 03:54] #536 closed

[2019-02-06 04:10] ianmcburnie commented on #523
@hramakumar After further investigation it appears you might be missing the following class on the test page: ` icon-btn--badged.

Try changing this:

[code]

To this:

[code]

[2019-02-06 04:37] seangates commented on #521
@hramakumar I can't seem to recreate the issue. I'm having trouble connecting to the corp network from my Windows laptop, so I ask that you confirm on your side if you're still seeing this issue.

Chrome on Mac:
![image](https://user-images.githubusercontent.com/105656/52320747-3ef74c80-298e-11e9-9970-bcdeb8bada01.png)

[2019-02-06 07:13] seangates commented on #531
@ianmcburnie Confirmed that it's a naming issue. The infotip component uses `info` key which is a DS6 naming convention, and DS4 used to expect `information`.

Therefore, I believe this will be resolved in our next pre-release for skin, as both exist for DS4 foreground symbols (tested locally).

[2019-02-06 07:13] seangates commented on #531
Excuse me, the next pre-release of `ebayui-core`.

[2019-02-06 16:46] ianmcburnie commented on #537
Note to self: expander does currently support this ability to collapse when clicking page:

https://github.com/makeup-js/makeup-expander/blob/master/src/index.js#L11

For some reason the auto collapse feature is not setting this (by accident or design):

https://github.com/makeup-js/makeup-expander/blob/master/src/index.js#L130

[2019-02-06 16:53] seangates commented on #542
Yeah, apologies. 😞

[2019-02-06 16:58] ianmcburnie commented on #542
@seangates Good spot regarding the missing code. Is there an easy way to figure out everything that's missing?

[2019-02-06 17:49] ianmcburnie commented on #533
Done in v2.0.0 branch.

[2019-02-06 17:49] #533 closed

[2019-02-06 17:57] ianmcburnie commented on #531
Thanks Sean. Yeah, I updated skin to have both aliases, `info` and `information`, in both ds4 and ds6. People were often tripped up by this, so I think in some (rare) cases it's good to have two aliases.

[2019-02-06 18:02] ianmcburnie commented on #521
I'm also unable to repro. Also, given that grow is the default behaviour now, you can probably remove the grow test. Up to you.

[2019-02-06 18:46] seangates commented on #542
No easy way, other than going through the files line by line. Luckily, I know this code pretty well.

It also shows that we should be _very_ careful when we're merging/rebasing and have conflicts. Blame shows it's my fault, and I'm happy to take that blame, but there might have been another action throughout which showed the issue.

[2019-02-06 21:40] ianmcburnie commented on #537
Fixed merged to 2.0.0 branch. Closing.

[2019-02-06 21:40] #537 closed

[2019-02-06 21:53] ianmcburnie commented on #532
I think we might be able to close this one as not an issue. Will let @seangates comment.

[2019-02-07 00:28] seangates commented on #542
Merged.

[2019-02-07 00:28] #542 closed

[2019-02-07 00:28] seangates commented on #534
Merged.

[2019-02-07 00:28] #534 closed

[2019-02-07 00:31] seangates commented on #532
I believe we expect folks to use the `pointer` attribute as it will add the necessary classes to the tooltip content container, as well as to the arrow. If folks get confused down the road, I'm sure we'll hear of it, and we can add some to the documentation. As of now, I don't think this is an issue.

[2019-02-07 00:31] #532 closed

[2019-02-07 01:12] hramakumar commented on #534
So the priority attribute does not have values ready yet? When are we expecting to have a primary? if I give priority its not defaulting to the secondary.
Secondary behaviour here is not as expected.
pls check how the pill with priority behaves. once the pill is pressed it turns blue...while in case of a secondary button only the border focus turns blue (edited)
and when clicked on the page..it st

[2019-02-07 15:36] seangates commented on #534
The pill is not a traditional button. There is no concept of a primary or secondary pill, but rather those styles become the “pressed” or “un-pressed” state of the button.

[2019-02-07 23:45] ianmcburnie commented on #522
Dev note:

Discrepancy in Marketplace/demo page is due to these two factors:

1. This hack in global module
1. Global module is not imported on demo page

On the skin side, I need to investigate that hack a little more and see why it's in the global module and if we can move it.

[2019-02-07 23:46] ianmcburnie commented on #522
This raises another issue that we should really be including the global module in all of our demo pages.

[2019-02-07 23:51] ianmcburnie opened #545 "Skin global module is missing from demo pages"
`@ebay/skin/global` is missing from our demo page bundle:

https://github.com/eBay/ebayui-core/blob/2.0.0/demo/browser.json

This may have resulted in us missing some cascade for tags such as `body`, `a`, `fieldset` and `legend`:

https://github.com/eBay/skin/blob/master/src/less/global/ds6/global.less

We should probably replace all of the individual module occurrences with a single `@ebay/skin`.

[2019-02-07 23:52] ianmcburnie commented on #522
Opened related ticket: https://github.com/eBay/ebayui-core/issues/545

[2019-02-08 00:02] ianmcburnie commented on #522
I remember now why this hack was there. At the time we didn't have the field module in ds6. Now we do, these rules can be moved over.

[2019-02-08 00:45] ianmcburnie commented on #522
Skin PR is here: https://github.com/eBay/skin/pull/553

[2019-02-08 17:11] seangates commented on #520
Merged, ready for QE.

[2019-02-08 17:48] ianmcburnie commented on #545
Merged to 2.0.0 for QA. Closing.

[2019-02-08 17:48] #545 closed

[2019-02-08 17:50] ianmcburnie commented on #522
Fixed in Skin. Available in next prerelease. Closing.

[2019-02-08 17:50] #522 closed

[2019-02-13 02:18] ianmcburnie commented on #510
Done in 2.0.0 branch.

[2019-02-13 02:18] #510 closed

[2019-02-13 22:07] ianmcburnie opened #548 "New Component (or decorator): Stealth Button/Link"
# Feature Request

## Description

Sometimes a link has mouse hover behaviour that opens a flyout. A stealth button is a way for keyboard users to activate the hover behaviour of that link. The stealth button is hidden from view, but next in the tab index after the link, hence the term "stealth".

I will be adding more information to the eBay MIND Patterns about this pattern.

Related Issue: #405

[2019-02-14 06:18] #529 closed

[2019-02-14 19:07] ianmcburnie commented on #405
Closing this in favor of #548

[2019-02-14 19:07] #405 closed

[2019-02-14 19:08] ianmcburnie commented on #376
@senthilp How was the feedback? This topic could crop up again in the brownbag.

[2019-02-14 19:17] senthilp commented on #376
I hear both ways. Folks were OK if this is only for core components. For app components, we should leverage the Marko model. I would suggest that we leave core as such. We can discuss more in our standup.

[2019-02-14 19:17] ianmcburnie commented on #376
Thanks Senthil!

[2019-02-14 19:30] seangates commented on #376
That sounds appropriate, and follows my thinking.

[2019-02-14 23:34] ianmcburnie opened #551 "Notice: update type "priority" to type "attention""
On the playbook and skin side we changed the terminology from "priority" to "attention".

We can update in a backwards compatible way, leaving the old "priority" value in there until next major version (or squeeze this change into 2.0.0 now).

[2019-02-15 00:36] ianmcburnie commented on #528
Merged to 2.0.0

[2019-02-15 00:36] #528 closed

[2019-02-15 16:18] ianmcburnie commented on #522
Verified.

<img width="282" alt="screen shot 2019-02-15 at 8 16 14 am" src="https://user-images.githubusercontent.com/38065/52869226-07a93e00-30fa-11e9-9908-92e294dff900.png">

On a side note, the ds4 labels are now a little too close to the checkbox. I'll quickly add a fix to skin for that:

<img width="267" alt="screen shot 2019-02-15 at 8 17 22 am" src="https://user-images.githubusercontent.com

[2019-02-15 16:33] ianmcburnie commented on #524
Needs additional work on coreui side to update symbols.

[2019-02-15 19:02] ianmcburnie commented on #545
Verified

<img width="224" alt="screen shot 2019-02-15 at 11 01 27 am" src="https://user-images.githubusercontent.com/38065/52878300-1d762d80-3111-11e9-8f37-9ec259c9bf16.png">

[2019-02-15 19:08] ianmcburnie commented on #542
Fix verified in demo page and marketplace.

[2019-02-15 19:09] ianmcburnie commented on #520
I'll let you verify this one @seangates

[2019-02-15 19:10] ianmcburnie commented on #537
Verified in demo page and marketplace.

[2019-02-15 19:11] ianmcburnie commented on #533
Verified in marketplace

<img width="927" alt="screen shot 2019-02-15 at 11 11 03 am" src="https://user-images.githubusercontent.com/38065/52878821-74303700-3112-11e9-8d7e-641a1ba0496e.png">

[2019-02-15 19:14] ianmcburnie commented on #531
Still seeing this issue on Marketplace, but it should be resolved with next (and hopefully, final) pre-release 2.0.0-4

[2019-02-15 19:18] ianmcburnie commented on #521
Unable to repo in demo or marketplace. Closing

[2019-02-15 19:18] #521 closed

[2019-02-15 19:21] ianmcburnie opened #554 "Checkbox and Radio are always showing DS6 icons"
Details to come... (but Sean is working on a patch right now for 1.x)

[2019-02-15 23:06] #554 closed

[2019-02-16 00:04] ianmcburnie commented on #496
This was fixed via a combination of #552 #553

[2019-02-16 00:04] #496 closed

[2019-02-16 01:25] seangates commented on #524
Closing since it was moved to "Done".

[2019-02-16 01:25] #524 closed

[2019-02-19 19:45] #525 closed

[2019-02-19 19:49] ianmcburnie commented on #514
Any updates on this? Otherwise, let's close.

[2019-02-19 20:13] #376 closed

[2019-02-19 20:34] ianmcburnie opened #557 "Textbox: floating label text clashes with browser autofill text"
Screenshot:

![screen shot 2019-02-19 at 12 29 39 pm](https://user-images.githubusercontent.com/38065/53045336-36008380-3442-11e9-94a1-2d70a2d7ed67.png)

Last time we checked, the browser doesn't give us an event for when this autofill takes place.

Possible solutions:

1. The underlying `makeup-floating-label` module has a `refresh()` method. We could expose that and allow app to handle the logic

[2019-02-19 20:37] seangates commented on #514
No additional information.

[2019-02-19 20:37] #514 closed

[2019-02-19 21:04] #520 closed

[2019-02-19 21:39] seangates opened #559 "Button: does not support passing button id value"
# Bug Report

## eBayUI Version: 2.0.2

## Description
The `<ebay-button>` component does not allow an ID to be passed in. This is similar to the textbox input issue: #520.

## Workaround
No known workaround.

## Screenshots
![screen shot 2019-02-19 at 1 23 41 pm](https://user-images.githubusercontent.com/105656/53049342-16725680-3454-11e9-801b-e85bac85b510.png)

[2019-02-20 03:50] #559 closed

[2019-02-20 13:26] aturpeinen opened #561 "Docs: following Marko Widgets v7 link leads to confusion"
# Bug Report

## eBayUI Version: x.x.x

## Description

## Workaround

## Screenshots

[2019-02-20 13:30] aturpeinen commented on #561
I used marko create my-app and npm install @ebay/ebayui-core and skin.
Error: Unable to compile template at path "...\my-app\node_modules\@ebay\ebayui-core\dist\components\ebay-menu\template.marko". Error: el.addDynamicAttributes is not a function.

Documentation is bad.

[2019-02-20 15:22] DylanPiercey commented on #561
The very first thing mentioned in the readme for this project is it’s [requirements](https://github.com/eBay/ebayui-core/blob/master/README.md#requirements). There you can see that when using ebayui with Marko 4 you also need to have `marko-widgets@7` installed (this is the Marko v3 compatibility layer for use in v4).

I don’t think the documentation is lacking there.

Can you trying installing th

[2019-02-20 19:10] aturpeinen commented on #561
Ok, thanks for letting me know that I should use @7. I show "Marko v4 requires Marko Widgets v7" link EbayUI ui page which leads to https://github.com/marko-js/marko-widgets/tree/v7. That page already shows deprecated, and it shows 6.6.6. Does not say anything about @7 ? "See the new components docs on markojs.com." Components link is incorrect, it leads to 404.

[2019-02-20 23:42] seangates opened #562 "Textbox: multiline textbox (textarea) does not support a default value"
# Bug Report

## eBayUI Version: 2.0.3

## Description
Presently the `<ebay-textbox multiline/>` does not allow body content to be passed through as the value of the component:

**Template**
```<ebay-textbox multiline>some default value</ebay-textbox>```

### Expected

```<textarea ...>some default value</textarea>```

### Actual

```<textarea value="some default value"/>```

## Workaround
None

[2019-02-21 18:50] #562 closed

[2019-02-21 18:57] ianmcburnie commented on #561
It seems that following the link is what leads to the confusion. We'll see what we can do to make that a less confusing experience. Thanks for reporting this. I'll update the title of this bug so we can track.

[2019-02-24 07:20] PrashantAshok opened #564 "Menu: Shows incorrect data on client side rerender"
# Bug Report

## eBayUI Version: 2.0.4 & Skin v7

## Description
On client side rerender, the menu shows incorrect data.

## Workaround

None

## Possible fix
AFAIK child DOM nodes are preserved when rerendering the component when using `w-preserve-body`. Removing it from this [line](https://github.com/eBay/ebayui-core/blob/97c8459791d1413097ee534878fdf4d87833c25c/src/components/ebay-menu/template

[2019-02-25 18:23] ianmcburnie commented on #564
Thanks for reporting. Assigned to @seangates .

[2019-02-27 20:29] ianmcburnie opened #568 "Button: CTA variant not accounted for"
CTA variant of button is mentioned in the docs, but is a no-op when applied.

For first version, we *may* just want to tackle the default CTA colour, rather than all the colour variants.

Blocked by: https://github.com/eBay/skin/issues/574

[2019-02-28 04:48] ianmcburnie commented on #534
@seangates While working on the CTA button backport I noticed this:

Pill Button

Use the pill modifier to create a button styled as a pill. It should be used in conjunction with primary/secondary modifiers for full styling. Note that the Button only supports one size, so it should not be used together with sizing modifiers. Additionally, JavaScript should be used for multi-line ellipsis truncatio

[2019-02-28 05:52] ianmcburnie commented on #568
Skin related PR is ready: https://github.com/eBay/skin/pull/575

[2019-03-01 01:32] ianmcburnie commented on #564
Fixed by @seangates in v2.0.5

[2019-03-01 01:32] #564 closed

[2019-03-05 19:43] ianmcburnie opened #572 "Port all components to Marko v4 and put v3 versions into LTS mode"
I think we are nearing critical mass for our core set of components. After editable combobox (https://github.com/eBay/ebayui-core/issues/22), let's start thinking about putting the Marko v3 versions into LTS and then moving forward with Marko v4.

More details to follow...

[2019-03-05 22:58] seangates opened #573 "Icon: update to newly updated icon sets from Skin"
## Description
Skin v7 added icons and updates existing icons, requiring a new import to Core.

## Context
### Updated icons
- arrow-right-bold
- information
- pause
- play
- priority

### New icons
- check
- follow
- mail
- mail-open
- notifications
- notifications-null
- sell-null
- view-detail
- view-grid
- view-list

[2019-03-05 23:14] ianmcburnie commented on #573
I believe those "new" ones are actually deprecated ones. They were removed on purpose.

[2019-03-05 23:29] seangates commented on #573
So ... closing per conversations on Slack, as these were removed as background icons, but left in the DS4 `icons.svg` file.

[2019-03-05 23:29] #573 closed

[2019-03-05 23:46] ianmcburnie commented on #221
@seangates not sure if this one will still be relevant for editable combobox or the listbox? Or perhaps just readonly-combobox (in which case it's low priority)? Maybe worth checking while you're working on that.

[2019-03-06 17:35] seangates opened #575 "Textbox: type attribute is hard-coded"
Presently, we hardcode the type to text, even though there are other data types which are available (e.g. `number`, `email`, `date`, etc.). We should decide if we want to allow all data types, a limited set, or create other components _on top of textbox_ to cast other types.

In src/components/ebay-textbox/template.marko

[code]

Posted via CodeStream

[2019-03-06 18:57] ianmcburnie commented on #575
For 2.1.0 let's open it up to a few other types that will work safely with our current component.

[2019-03-06 19:05] bhoomisatasiya opened #576 "Menu: Menu options click event is not working when menu is re-rendered after ajax call"
# Bug Report

## eBayUI Version: x.x.x @ebayui-core: 2.0.5

## Description
On client side rerender, one of the menu item click doesnt work.
- We have two menu components.
- When I make a choice on one menu, and  re-render after ajax, I lose state of the  second menu selection.

## Workaround

removing the  w-preserve-attrs from menu-item tag seems to be fixing the issue.
[line #34 ](https://github

[2019-03-06 19:45] bhoomisatasiya commented on #576
@seangates  @ianmcburnie

[2019-03-06 19:57] ianmcburnie opened #577 "Dependencies: Reminder that v2.1.0 should use Skin v7.1.0"
Skin v7.1.0 contains visual updates to:

* Notice
* Tabs
* Breadcrumbs

No breaking changes.

[2019-03-06 20:03] ianmcburnie commented on #576
Assigning to @seangates for further investigaton/triaging.

[2019-03-06 23:02] seangates commented on #557
Want to leave this open as I still need the all clear from Kamal. Will close once it's been deemed fixed by him.

[2019-03-07 00:11] seangates opened #580 "Documentation: mention lasso-page requirement"
Add to the README that `<lasso-page/>` is required in your page so that flags can be read in `ebayui-core` components.

[2019-03-07 18:42] #568 closed

[2019-03-07 22:18] kmlhossen opened #581 "Textbox floating label does not come down when setting textbox value to empty"
## eBayUI Version: x.x.x
2.0.6-1

## Description
Textbox floating label does not come down when textbox value is updated to empty by state change.

## Screenshots
![screen shot 2019-03-07 at 1 58 05 pm](https://user-images.githubusercontent.com/2268244/53993383-1b860580-40e4-11e9-98c2-94954561752d.png)

[2019-03-08 06:06] ccinelli opened #582 "Dialog open attribute can only use once"
# Bug Report

## eBayUI Version: 2.0.5

## Description
[code]
Clicking "Open", it opens the dialog only the first time. I understand why it does not work (the state never change but the behavior is anti-intuitive. The user would like to use `dialogOpen` as state but they cannot.

[2019-03-08 06:13] ccinelli opened #583 "Dialog: changing stateful "open" property via direct DOM manipulation does not work"
# Bug Report

## eBayUI Version: 2.0.5

## Description
[code]

Clicking "Open" button the dialog does not open.

## Workaround
See comment

[2019-03-08 06:17] ccinelli opened #584 "Dialog: better documentation needed for handling open state"
# Bug Report

## eBayUI Version: 2.0.5

## Description
[code]

Click on "Open", then click on the "switch". If you click on the switch again the dialog closes when no explicit command to close is issued. The dialog should not close.

[2019-03-08 17:07] ianmcburnie commented on #582
I agree. Let's rename this to something more intuitive. We can keep the old alias there for backwards compatibility.

[2019-03-08 19:37] DylanPiercey commented on #584
This issue here is that when you render the `ebay-dialog` in your Marko template the `open` attribute essentially defaults to `false`. This means that in this case, when you update your components state it is essentially rerendering the dialog in the closed state.

I notice you are using the `property api` (`el.open = boolean`) which is really something we don't recommend when consuming these comp

[2019-03-08 19:43] DylanPiercey commented on #582
The dialog `open` attribute is honored by the `ebay-dialog` if it changes. In this case your issue is that the `dialogOpen` state is _always_ true after the `open` method is called. This means that when you call the `open` method again the next time the it is already `true` and Marko is not going to detect that the state changed and not cause an update (https://markojs.com/docs/state/#how-updates-

[2019-03-08 20:16] ccinelli commented on #584
Yes. Documentation issue for sure. It would be nice to have examples in the `readme.md` of the component but even the https://github.com/eBay/ebayui-core/tree/master/src/components/ebay-dialog/examples does not help.

I also think that the current syntax can confuse. The `dialog` has a `open` input attribute but also an internal state `open`. I think there are 2 clean solutions:

1. The name shoul

[2019-03-11 23:50] ianmcburnie opened #585 "Carousel: add option to always show paddles"
I don't think it's officially blessed yet by design system, but I've started to see some mocks and requests from engineers to have a version of carousel with paddles permanently visible.

It should be trivial to add this if DST approve. Creating this issue for tracking.

[2019-03-13 20:21] ianmcburnie opened #586 "Carousel: Autoplay should pause when slide content has keyboard focus (or mouse hover)"
When carousel has mouse hover, or interactive slide content has keyboard focus, the autoplay should pause in order to give user sufficient time to activate that content. This could be handled at the app level with our current API, but as it will often get overlooked, let's see if we can handle it at the component level.

[2019-03-13 20:57] ianmcburnie opened #587 "Dialog: update ARIA attributes"
We should add aria-modal="true" attribute. We can also drop the role="document".

[2019-03-13 22:57] ianmcburnie commented on #577
2.1.0 branch was updated to use 7.1.0-0.

[2019-03-14 16:37] seangates commented on #576
Looks like they had the menu as `radio` which produced `<div href="..." ...>` type of menu options. This has undesirable results when the item is clicked, as it believes it to be non-focusable, and the event bubbles to the next focusable element, causing the weird behavior.

The suggestion is for them to move to a `fake` menu, which will render the options as `<a href="..." ...>` which is correct

[2019-03-14 21:03] DylanPiercey opened #588 "Unsupported JavaScript features in IE11"
# Bug Report

## eBayUI Version: 2.0.6

## Description
Currently there are a few usages of `.find`, `.findIndex` and `.closest` which are not supported in IE.

[2019-03-14 21:42] seangates commented on #576
So ... it actually looks like now the issue has been traced to Marko. Downgrading to Marko 4.13.13 appears to restore the re-rendering issue. @DylanPiercey will investigate further. @bhoomisatasiya is presently unblocked.

[2019-03-14 21:44] bhoomisatasiya commented on #576
It seems this issue started happening from Marko 4.14.5.

[2019-03-15 14:33] #588 closed

[2019-03-18 23:00] seangates commented on #581
Found out this isn't a regression, but another use case where state outside the component is changed which affects the child component. I have a PR coming which will address this.

[2019-03-19 17:06] #581 closed

[2019-03-19 18:43] chtitoon opened #592 "List-box: Invalid options preservation"
I was using a set of `listbox` which was supposed to be updated dynamically based on the selection of others. It seems `w-preserve` prevents the refreshing of the options.

[2019-03-20 16:24] seangates opened #594 "Textbox: emit an event when textbox is updated by Marko, or the floating label is refreshed"
# Feature Request

## Description
When the textbox is updated, or when the floating label is initialized or "refreshed", it should emit an event with the current value of the textbox. This allows a developer to handle scenarios such as validation, or enabling/disabling form controls. Specifically, this is to account for the use case when browser autofill occurs, the floating label has been refresh

[2019-03-20 17:56] seangates commented on #557
Okay, this has been vetted and fixed per Kamal's tests.

[2019-03-20 17:56] #557 closed

[2019-03-20 17:57] seangates commented on #575
Merged.

[2019-03-20 17:57] #575 closed

[2019-03-20 18:36] ianmcburnie commented on #594
Is this going in 2.1.0?

[2019-03-20 18:45] seangates commented on #594
It’s still up for discussion. I hadn’t determined. Seeing as the team needing it is going out with their new flow soon, 2.1.0 is probably the right place.

[2019-03-20 19:19] ianmcburnie opened #595 "Checkbox: rendering redundant classes"
Checkbox and radio components are rendering some redundant Skin classes that can lead to specificity issues. More details at https://github.com/eBay/skin/issues/592

The solution is to add the `no-skin-classes` boolean to `<ebay-icon>` tag inside of checkbox and radio components.

[2019-03-21 23:40] DylanPiercey commented on #576
@bhoomisatasiya this issue should be resolved in Marko [4.16.2](https://github.com/marko-js/marko/blob/master/CHANGELOG.md#4162). I tried it in your app and all seems well, would be good for you to double check though.

[2019-03-22 16:12] ianmcburnie commented on #576
Closing.

[2019-03-22 16:12] #576 closed

[2019-03-22 19:46] seangates commented on #592
Merged with #593. Closing.

[2019-03-22 19:46] #592 closed

[2019-03-22 19:47] seangates commented on #595
Merged with #597 and published with 2.0.7. Closing.

[2019-03-22 19:47] #595 closed

[2019-03-27 15:37] melquan opened #599 "Infotip: add ability to disable infotip button"
# Feature Request
Add the ability to disable infotip button.

## Description
We have a usecase where the infotip button should be disabled when a checkbox is unchecked, so we'd like to have an attribute added to the component to accommodate that.

## Screenshots
![image](https://user-images.githubusercontent.com/19419138/55089826-47edcb80-506b-11e9-9307-0a4f5cc58703.png)

[2019-03-27 16:10] ianmcburnie commented on #582
@ccinelli Does Dylan's answer resolve your issue? If so we can close this. If not, let's discuss.

[2019-03-27 16:22] ianmcburnie commented on #583
@DylanPiercey if changing the DOM attribute directly, as Chris is doing above, is it expected that a timeout would be needed? I know we aren't supposed to be mixing Marko approach with imperative approach, but I wonder if the same issue exists if trying to change the attribute in a non-Marko button click handler...?

[2019-03-27 16:33] senthilp commented on #583
A timeout should not be needed. Not sure why it is not working directly.

[2019-03-27 16:48] ianmcburnie commented on #264
This should ideally be part of a new `ebay-alert-dialog` pattern or perhaps a new `type="alert"` for the current `ebay-dialog`. Alert dialogs always require a user choice and therefore the "X" is not necessary.

[2019-03-27 16:56] ianmcburnie commented on #144
Closing (as nobody is really asking for this).

[2019-03-27 16:56] #144 closed

[2019-03-27 17:10] DylanPiercey commented on #583
The issue here is that you should use the Marko api when consuming these components with Marko instead of the imperative element reference API. I've mentioned many flaws with exposing this alternative API which I'll highlight again:

1. Potential for conflicting with existing or future DOM api's
2. Increased API surface leads to confusion (like this) where Marko consumers should use the Marko api.

[2019-03-27 17:31] ianmcburnie commented on #583
Totally agree that Marko API should always be used where possible. But without the imperative element reference API, how would non-marko code on the page open or close the dialog? Or collapse a menu, or listen to raw DOM events? I know it seems like a bit of an edge case that this might happen (aren't we all supposed to be using Marko after all?) but this was one of the features we highlighted way

[2019-03-27 19:26] ianmcburnie opened #600 "Documentation: distinguish and/or separate Marko API from imperative API"
A common cause of issues here on GitHub is that developers are using a mix of stateful Marko API (e.g. state.dialogOpen = true) and the imperative API (e.g.` querySelector('.dialog').open = true`). Marko apps should ALWAYS use the Marko API. Setting aside the issue (for now) of whether we should support two APIs or not, it is clear that we need to improve our documentation so that these issues and

[2019-03-27 21:02] seangates opened #601 "Infotip: makeup-expander does not get re-attached"
# Bug Report

## eBayUI Version: 2.0.7

## Description
When re-rendering the `<ebay-infotip/>` the makeup-expander does not get re-initialized/re-attached to the component. This is also likely to affect the `<ebay-tooltip/>` and `<ebay-tourtip/>`, but I haven't confirmed that yet.

## Workaround
None.

[2019-03-27 21:19] ianmcburnie commented on #601
@seangates 2.0.8 patch for this then?

[2019-03-27 21:57] seangates commented on #601
Yes, 2.0.8.

Yes, we need re-rendering tests.

[2019-03-27 22:55] ianmcburnie commented on #601
For all components, we currently have:

`test.server.js`, (server render)
`test.browser.js` (client side behaviour)

Maybe we could have:

`test.rerender.js` (client side re-render)

What do you think?

[2019-03-28 14:45] seangates commented on #601
That seems like a great way to do it.

[2019-03-28 16:51] DylanPiercey commented on #601
The `.server` and `.browser` extensions are what tells Marko-cli how to run the file (either in nodes for `.server` or in WebdriverIO for `.browser`).

In this case we want to test rerendering which can only happen in the browser so these tests must exist in the `.browser` spec (or at least be imported from there).

[2019-03-28 17:23] ianmcburnie commented on #601
Thanks Dylan. I think some kind of file separation would be nice, so we don't pollute our current test setup with the parent test fixture. Or maybe there won't actually be much "pollution" at all. I'll let Sean investigate how that would look in either case.

[2019-04-01 17:28] seangates opened #604 "Infotip/tooltip/tourtip: class attribute lost (not applied) in when component is used"
# Bug Report

## eBayUI Version: 2.0.7

## Description
Infotip/tooltip/tourtip class attribute gets lost when applied during component usage. If you try to apply a class it gets lost because there is already a class hard-coded within the component.

https://github.com/eBay/ebayui-core/blob/master/src/components/ebay-infotip/template.marko#L8-L10

[code]

https://github.com/eBay/ebayui-core/blob/ma

[2019-04-01 22:15] ianmcburnie opened #606 "Menu: move focus to menuitem when character key is pressed"
# Feature Request

## Description

For long menus, providing a quick filter ability is useful. For example, pressing the key 'k' would move menu focus to the first menu item beginning with the letter 'k'

## Context

https://www.w3.org/TR/wai-aria-practices-1.1/#menu

## Screenshots

<img width="804" alt="Screen Shot 2019-04-01 at 3 12 20 PM" src="https://user-images.githubusercontent.com/38065/55

[2019-04-01 22:21] ianmcburnie opened #607 "Menu: add demo of menuitems that have country flags"
# Feature Request

## Description

A common scenario for menus (and listboxes) is to display country flags to the left of each country name. Global header are building this right now, using our menu. If we currently support this, we should add a demo of this functionality.

[2019-04-01 22:47] ianmcburnie commented on #221
@seangates I wonder if this one is related to makeup and marko state?

[2019-04-01 22:54] seangates commented on #221
Very likely, given what we now know.

[2019-04-01 22:58] ianmcburnie commented on #599
@melquan Did you try just adding `disabled` attribute? Would think it is a simple pass through to the button, but @seangates could probably verify that.

[2019-04-01 22:59] melquan commented on #599
I did try that, but the pass through attribute is applied to the `<span>` around the button instead of on the button.

[2019-04-01 23:01] ianmcburnie commented on #599
Ah, ok. Yeah, sometimes we need to give the attributes a bit of a helping hand on our side.

[2019-04-02 19:54] ianmcburnie opened #609 "Carousel: add aria-roledescription"
Something I've been wanting to look into for a while, so putting it on backlog. ARIA 1.1 now gives the ability to create custom role descriptions for groups, regions and widgets. Might be something we can leverage for the carousel (e.g. aria-roledescription=slide).

<blockquote>
The aria-roledescription property gives authors the ability to override how assistive technologies localize and express

[2019-04-02 20:02] #601 closed

[2019-04-04 17:06] kmlhossen opened #612 "Textbox: does not support keyup, keydown or keypress event"
For accessibility, we have to listen to `Enter` key event on textbox, but currently ebay-textbox does not have any associated events for keyup, keydown or keypress.

An explicit event like `textbox-focus` for keyup, keydown or keypress will be helpful.

[2019-04-05 16:00] hramakumar opened #613 "ebay-select: click action - slow on mach chrome"
# Bug Report

## eBayUI Version: 2.1.0-3

## Description
Click action on ebay-select responds slowly in mac

## Workaround

## Screenshots
https://www.useloom.com/share/024b63b3fd7a4c488bc8b69e0b723934

[2019-04-05 16:22] hramakumar opened #614 "ebay-select: expanded options right and bottom borders missing - WIndows chrome"
# Bug Report

## eBayUI Version: 2.1.0-3

## Description
in windows chrome
click on the ebay select, expanded options right and bottom borders are not defined clearly

## Workaround

## Screenshots
[_removed unusable URL_]

[2019-04-05 16:28] hramakumar opened #615 "Icon: "missing" icon does not have viewbox"
# Bug Report

## eBayUI Version: 2.1.0-3 and skin 7.1.0-0

## Description
ds4 icons are broken

## Workaround

## Screenshots
https://www.useloom.com/share/909d4da8ac3f4b8db57327521ac7987c

[2019-04-05 16:33] hramakumar opened #616 "combobox: ds4-options with long text overridden over the arrow on the right"
# Bug Report

## eBayUI Version: 2.1.0-3

## Description
ebay combobox- click on the combobox with long text options. select the option.
The text is printed over the comboboc expand arrow icon

## Workaround

## Screenshots
https://www.useloom.com/share/dd20940303514dde860733412ee5d575

[2019-04-05 16:49] hramakumar opened #617 "ebay-select: IOS-safari -once options are scrolled - there no way to go back to the prev selected option"
# Bug Report

## eBayUI Version: 2.1.0-3

## Description
IOS safari
click on the ebay select with many options
scoll down to see some more options...when clicked outside it takes the option that is currently highlighted during the scroll. instead of reverting back to the previously selected option.

expexted behaviour:  clicking on done should select the current option and clicking outside the opt

[2019-04-05 17:00] seangates commented on #614
@hramakumar Please post an actual screen shot. 😉

I removed the URL because it was for your local machine.

[2019-04-05 17:40] hramakumar commented on #614
oh ok

[2019-04-05 23:01] hramakumar commented on #613
could not repro the issue now. We can close this. Will re-open when I see it again

[2019-04-05 23:01] #613 closed

[2019-04-09 02:27] ianmcburnie commented on #617
@seangates Isn't this just IOS' default behaviour for a select? If you can confirm, we can close.

[2019-04-09 02:30] ianmcburnie commented on #614
Again, this feels like it's just going to be the browser's built in experience for a select tag, as we don't/can't style the overlay.

[2019-04-09 02:32] ianmcburnie commented on #615
I don't believe there were any skin related changes to icon in [7.1.0](https://github.com/eBay/skin/projects/18) so I suspect this to be a test env issue or perhaps related to some of the icon change(s) that @DylanPiercey made recently.

[2019-04-09 02:34] ianmcburnie commented on #616
This probably should be moved over to Skin, right @seangates?

[2019-04-09 02:37] ianmcburnie commented on #612
@kmlhossen If you are blocked by this, how about listening to form submit event? That should fire on ENTER if textbox is placed inside of form. Still though, we should expose the events that you mention. Should be simple enough.

[2019-04-09 16:25] DylanPiercey commented on #615
Looks fine in the demo and marketplace, I'll sync up with @hramakumar to see what is going on.

[2019-04-09 17:34] seangates commented on #617
This is expected behavior.

[2019-04-09 17:34] #617 closed

[2019-04-09 17:40] seangates commented on #614
This is expected behavior given the way Chrome is set up for Windows.

[2019-04-09 17:40] #614 closed

[2019-04-09 18:54] hramakumar opened #619 "combobox: blinking cursor appears on read only combobox"
The issue is intermittent and is more frequent in IE ds4
# Bug Report

## eBayUI Version: 2.1.0-3

## Description

## Workaround
clicking on the combo box shows a blinking cursor

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/55826940-e2173000-5abd-11e9-8c85-ae2879b9e61a.png)

[2019-04-09 19:07] hramakumar opened #620 "Menu: in IE options get truncated based on the size of the menu button"
# Bug Report

## eBayUI Version: 2.1.0-3 and older versions

## Description
I remember filing this issue long time back. couldn't find it now.
creating this new one to keep track of this.
in IE options get truncated based on the size of the menu button

## Workaround

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/55827610-703fe600-5abf-11e9-8462-606d8ccdb728.png)
![im

[2019-04-10 00:33] ianmcburnie commented on #612
Punting to v2.3.0

[2019-04-10 19:09] hramakumar commented on #615
the `missing` icon (when there is not a compatible ds4 version) does not have a view box which we should probably fix.
changing this from blocker to non blocker

[2019-04-10 19:53] hramakumar opened #622 "combobox: ds4 combobox selected option highlighting in not clearly visible"
# Bug Report
### eBayUI Version: 2.1.0-3

## Description
combobox: ds4 combobox selected option highlighting in not clearly visible

## Screenshots
![55909063-e6ac1900-5b8f-11e9-83d6-34eb6811b969](https://user-images.githubusercontent.com/105656/59799412-27fc2b80-9299-11e9-9efd-b2a37a9058cd.png)

[2019-04-10 22:19] bhoomisatasiya opened #623 "Dialog: close button size in skin is 16px, while its 21px in ebay-dialog"
# Bug Report

## eBayUI Version: 2.0.9

## Description

## Workaround

## Screenshots

<img width="1680" alt="Screen Shot 2019-04-10 at 3 14 37 PM" src="https://user-images.githubusercontent.com/11545472/55917403-0baa8700-5ba4-11e9-9fbb-3d3b86aa51e4.png">
<img width="1680" alt="Screen Shot 2019-04-10 at 3 14 24 PM" src="https://user-images.githubusercontent.com/11545472/55917404-0c431d80-5ba4-11e9

[2019-04-10 23:02] #577 closed

[2019-04-11 16:42] ianmcburnie commented on #604
Fixed in 2.0.8. Closing.

[2019-04-11 16:52] ianmcburnie commented on #622
@seangates Isn't the text supposed to be bolded?

[2019-04-11 16:54] ianmcburnie commented on #620
Hmm, thought this one had been fixed. We'll need to fix this in Skin. Looks pretty bad for the icon case.

[2019-04-11 17:08] ianmcburnie commented on #619
This is IE's default behaviour for readonly textboxes.

Solution for cursor is to put `pointer-events: none` on the textbox element, **but** this then prevents the combobox list from opening on click. We could have the listbox only open when the chevron icon is clicked, or move the icon into it's own separate button element, but I don't think this is worth all the trouble at this time.

[2019-04-11 17:11] ianmcburnie commented on #619
Going to move this to wontfix for now. @hramakumar you can use the 'wontfix' label filter to resurface any old issues we may have closed like this.

[2019-04-11 17:11] #619 closed

[2019-04-11 17:19] DylanPiercey opened #624 "Refactor components to use recommended data organization & other best practices"
# Refactor

## Description

### State vs Input vs Computed
Currently most components do not have a clear strategy for what parts of data is state vs input vs computed which can make digging into the components a bit more tricky.

Marko 3 does not have the most clear separation of these concepts but it is possible to at least make the intent clear by explicitly only including actual state (and not

[2019-04-11 18:03] ianmcburnie commented on #624
Wow, yes. I think these changes are going to be a big improvement all round. Thanks for leading this effort @DylanPiercey

[2019-04-11 19:52] aselvaraj commented on #624
@DylanPiercey glad to see this one. Looking forward to it.

[2019-04-12 18:53] kmlhossen commented on #612
@ianmcburnie  differentiating between entering to submit the form and enter to got the next screen is getting a bit clumsy for us.

It will be really great if we can give these events. What is the timeline for v2.3.0?

can we do it early if its a small fix from your side?

[2019-04-12 19:15] ianmcburnie commented on #612
We should be able to get them out in v2.2.0 for early next week, or as an early prerelease of v2.3.0 for mid next week.

Still though, an ENTER key press in a textbox should always do something (i.e. proceed forwards with their task), otherwise it feels like broken behavioiur to users.

[2019-04-12 20:58] ianmcburnie commented on #221
We should add this scenario to the demo page as part of PR #566 . Quite often comboboxes start with no suggestions at all and are only fetched from the server as user types.

[2019-04-12 22:40] ianmcburnie commented on #612
@kmlhossen Will just `keydown` suffice for your needs? Keyup and keypress are used a lot less frequently.

[2019-04-15 01:10] kmlhossen commented on #612
@ianmcburnie  yes keydown will work as I need to know user clicked Enter or not

[2019-04-15 19:47] ianmcburnie commented on #612
Merged. This will be available in 2.2.0.

[2019-04-15 19:47] #612 closed

[2019-04-16 17:41] ianmcburnie commented on #599
Merged. Will be available in v2.2.0.

[2019-04-16 17:41] #599 closed

[2019-04-16 17:41] ianmcburnie commented on #594
Merged. Will be available in v2.2.0.

[2019-04-16 17:41] #594 closed

[2019-04-17 00:10] ianmcburnie commented on #606
I'm working on some changes in the underlying makeup-roving-tabindex to make it a little easier to set the roving tabindex to a specific index.

[2019-04-17 00:12] ianmcburnie commented on #607
As we don't have flag SVGs in our icon module, this first demo will be rudimentary and use a sprite:

<img src="https://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/sprds3_21.png" />

[2019-04-17 18:56] ianmcburnie commented on #221
Merged and in testing for 2.2.0 release

[2019-04-17 18:56] #221 closed

[2019-04-17 18:56] ianmcburnie commented on #22
Merged and in testing for 2.2.0 release

[2019-04-17 18:56] #22 closed

[2019-04-18 22:18] hramakumar opened #627 "tourtip: unable to close"
# Bug Report

## eBayUI Version: 2.2.0-1 and skin 7.1.1

## Description
unable to close after clicking the close button in tourtip
expected behavior in 2.1.0-0 and 7.1.0-0
https://www.loom.com/share/8262d85d6bfa4b16a10745db1e0b9ee8
actual behavior in 2.2.0-1 and skin 7.1.1
https://www.loom.com/share/c3c34dc424e044cabded3e561126cfc8

## Workaround

## Screenshots

[2019-04-18 22:36] hramakumar opened #628 "Checkbox and Radio - when selected the icon dot and tick color overrides to blue"
# Bug Report

## eBayUI Version: 2.1.0-0 and skin 7.1.0-0

## Description
when selected the icons and checkbox selected icons color defaults to blue. it also overrides the explicitly mentioned colors
https://www.loom.com/share/e90b7464ddea4462ad126fb7e3ecfe67

## Workaround

## Screenshots

[2019-04-18 23:17] hramakumar opened #629 "combobox: after selecting an option when expanded again, I see only the selected option in the option list"
# Bug Report

## eBayUI Version: 2.2.0-1 and skin 7.1.1

## Description
combobox: after selecting an option when expanded again, I see only the selected option in the list

repro:
click on the combobox
expand the options
select an option
take focus out and click the combox again to expand.
https://www.loom.com/share/3613be0053a04b729ec4d99836c1d1a7

## Workaround

## Screenshots

[2019-04-18 23:28] seangates commented on #627
@DylanPiercey I started looking at this, and can look later tonight, but I'm off camping tomorrow.

[2019-04-18 23:40] hramakumar opened #630 "combobox: in DS6 when an empty option is pushed- it occupies a row in which cannot be selected"
# Bug Report

## eBayUI Version: 2.2.0-1 and skin 7.1.1

## Description
In DS6 - when an empty option is pushed- it occupies a row in the option list. Could be a P3 or P4 issue.

Expected behavior: In  DS4 it removes the option from the list.
https://www.loom.com/share/91ad214540614c27946fca0b3443c2eb

## Workaround

## Screenshots

[2019-04-18 23:45] hramakumar opened #631 "combobox: does not work in IE- unable to expand"
# Bug Report

## eBayUI Version:2.2.0-1 and skin 7.1.1

## Description
Unable to expand the combobox is IE
## Workaround

## Screenshots

[2019-04-18 23:58] hramakumar opened #632 "tooltip and info tip : not working in IE"
# Bug Report

## eBayUI Version: 2.2.0-1 and skin 7.1.1

## Description
In IE - tool tip are info tip are not working. clicking on the does not open anything.
## Workaround

## Screenshots

[2019-04-19 18:54] hramakumar opened #633 "Combobox: two items highlighted as selected"
# Bug Report

## eBayUI Version: 2.2.0-1

## Description
click on one item then remove focus and again click on the combobox and again remove focus.
The  third time open it up
You can see two options selected
https://www.loom.com/share/7c78709452004b7a98bed2ab8d9d6726

<h3>no tag properties</h3>
                <ebay-combobox name="example2text">
                    <ebay-combobox-option text="Aug

[2019-04-22 17:07] seangates commented on #630
Please share your template markup here, too.

[2019-04-22 17:09] seangates commented on #631
ES6 issue. Using `NODE_ENV=production` works, but we should also have things working in a dev environment, too.

[2019-04-22 17:09] seangates commented on #632
ES6 issue. Using `NODE_ENV=production` works, but we should also have things working in a dev environment, too.

[2019-04-22 21:46] seangates commented on #629
This is expected behavior.

[2019-04-22 21:46] #629 closed

[2019-04-22 21:53] ianmcburnie commented on #633
So long as the user can still select an item to fill the textbox, I don't see this being a blocker.

[2019-04-22 22:03] seangates commented on #633
I agree. The text box is still free-form.

[2019-04-22 22:37] hramakumar opened #636 "combobox: preselected option-focus out - pre-selected value is not returned"
# Bug Report

## eBayUI Version: 2.2.0-1

## Description
I first open the dropdown then click outside without interacting with the textbox or list of options
actual: it triggers blur without the selected value emitted back
expectd:  pre-selected value should be emitted back
## Workaround

## Screenshots

[2019-04-23 18:42] hramakumar commented on #633
happens in ds4 as well(also with attributes)

[2019-04-23 19:04] hramakumar opened #638 "Combobox: When long text is selected, the blinking cursor is not seen"
# Bug Report

## eBayUI Version:2.2.0-1

## Description
When a long text option is selected, the blinking cursor is not seen.
https://www.loom.com/share/3426a4efd80042d4ad1c2a19b2fb40c7

## Workaround

## Screenshots

[2019-04-23 19:51] hramakumar opened #639 "combobox: when address auto fill in on in chrome- it displays the address over the options"
# Bug Report

## eBayUI Version: 2.2.0-1

## Description
When address auto fill in on in chrome- it displays the address over the options
Chrome is not respecting the `autofill="off"` attribute

I see this happening only when combobox has options with special characters
 This will block all German and other language users
I am filing this as a non-blocker as of now But this might me a blocker
Lets

[2019-04-23 22:03] seangates opened #640 "Combobox/Textbox: Edge / IE clear button should be removed on input field"
# Bug Report

## eBayUI Version: 2.2.0

## Description
The combobox and textbox input fields have an `X` that appears in the input that allows a user to "clear" the contents. This doesn't follow the way our pattern library works, and should be removed.
All the other options disappear.
1)focus out and focus in. You see the options of only the previously cleared text. It is expected to show all opti

[2019-04-23 22:14] hramakumar opened #641 "Combobox: unable to edit text in the middle or pre-pend text to an existing text"
# Bug Report

## eBayUI Version: 2.2.0-1 and 2.5.0-1

## Description
Repor;
Click on a combobox
type some text
Try adding/deleting some text in the middle of the currently added text
The cursor automatically shifts to the right
https://www.loom.com/share/3b19029c733c4683bc91efa4ad0b3cb9

## Workaround
The user has to delete the entire text and start again

## Screenshots

[2019-04-23 22:17] hramakumar commented on #631
Its a marko issue. Dyaln sent the PR. I am  waiting for the npm registy issue to be fixed to verify the bug

[2019-04-23 22:17] hramakumar commented on #632
Its a marko issue. Dyaln sent the PR. I am waiting for the npm registy issue to be fixed to verify the bug

[2019-04-23 22:31] hramakumar opened #642 "Combobox: default value is not highlighted when clicking on the combobox first time"
Bug reported by consuming team.
# Bug Report

## eBayUI Version: 2.2.0-1

## Description
Combobox: When combobox has a default value-when clicked on the comobox first time. Its not highlighted.
When I start typing in the textbox, then the highlighting starts happening

## Workaround

## Screenshots

[2019-04-23 22:39] seangates commented on #642
This should be fixed by #636. We can verify once a new version is pre-published.

[2019-04-24 18:58] kmlhossen opened #644 "ebay-button state does not get disabled in ebayui-core@2.2.0-0 with state update"
In ebayui-core@2.2.0-0 can not make button disabled using markos state update, button stay’s enabled even the state has changed.

it works with @ebay/ebayui-core@2.0.6-3

[2019-04-24 19:43] hramakumar commented on #632
verified

[2019-04-24 19:43] #632 closed

[2019-04-24 19:43] hramakumar commented on #631
verified

[2019-04-24 19:43] #631 closed

[2019-04-25 19:59] hramakumar opened #645 "Combobox: name attribute is not passed through."
# Bug Report

## eBayUI Version: 2.2.0-2

## Description
in combobox the name attribute is passed through in the browser

<ebay-combobox name="example1text" autocomplete="list">
    <ebay-combobox-option text="August Campaign"/>
    <ebay-combobox-option text="4th of July Sale"/>
    <ebay-combobox-option text="Basic Offer"/>
</ebay-combobox>

the actual html in browser
![image](https://user-image

[2019-04-25 20:02] hramakumar opened #646 "combobox: autocomplete attribute is off in chrome browser"
# Bug Report

## eBayUI Version: 2.2.0-2

## Description
In chrome the autocomplete attribute is off.
![image](https://user-images.githubusercontent.com/13157115/56764710-38d96680-675a-11e9-9485-8bd67a1d7147.png)
## Workaround
It does not block the functionality

## Screenshots

[2019-04-25 20:03] seangates commented on #646
@hramakumar Isn't this the same as #639?

[2019-04-25 21:17] hramakumar commented on #646
yes it is. I will close it

[2019-04-25 21:17] #646 closed

[2019-04-26 16:53] melquan commented on #645
Same issue when passing `id`.

[2019-04-29 15:35] seangates commented on #645
@melquan Given the nature of the component we currently let Marko create the ID.

@DylanPiercey Do we have any other options with the combobox's `id` attribute?

[2019-04-29 15:44] melquan commented on #645
Just for more info on `id`, it's to match the `for` of the `<label>` we have on the app side.

[2019-04-29 15:46] seangates commented on #645
Correct. That's the first thing I thought of with the context of your question. It's also super important that we're able to use the `for` attribute to tie the two together, and we have to be able to set the `id` or, know what the `id` is going to be ahead of time.

[2019-04-30 18:09] seangates commented on #644
Found the disabled attribute value should be fixed in their app, as the component was working correctly.

[2019-04-30 18:09] #644 closed

[2019-04-30 20:41] hramakumar commented on #642
verified

[2019-04-30 20:41] #642 closed

[2019-04-30 20:42] hramakumar commented on #636
verified

[2019-04-30 20:42] #636 closed

[2019-04-30 20:48] hramakumar opened #648 "combobox: copied and pasted text does not show the options"
# Bug Report

## eBayUI Version: 2.2.0-3

## Description
copy and paste a text that matched some of the options.
it does no show the options that matches the text.
it works only when letters are typed one by one

## Workaround

## Screenshots
https://www.loom.com/share/f28c3bfecbcd4d98b99cd8f659729b54

[2019-04-30 21:10] hramakumar commented on #639
verified

[2019-04-30 21:10] #639 closed

[2019-04-30 21:10] hramakumar commented on #627
verified

[2019-04-30 21:10] #627 closed

[2019-04-30 22:13] seangates commented on #645
Verified by @hramakumar.

[2019-04-30 22:13] #645 closed

[2019-04-30 22:14] seangates commented on #645
@melquan I think the ID can be derived from the component. Chat with me and I can talk to you about my idea.

/cc @DylanPiercey

[2019-04-30 22:17] seangates commented on #640
@hramakumar has shown me how this now becomes a blocker given the way Edge/IE behave after clicking the `X`. Moving this up to 2.2.0.

[2019-04-30 22:25] seangates opened #649 "Combobox: when focused with a default value combobox should show all options"
# Bug Report

## eBayUI Version: 2.2.0-3

## Description
Given that a combobox has a default value, when focused it should show all the options. Currently it shows only the filtered option of the default value. Users not know that there are more options if the removed the default value, or if they began to type a new value.

## Workaround
n/a

## Screenshots
The following combobox has 20 options,

[2019-04-30 23:53] seangates commented on #640
Skin is updated with 7.1.2 with this fix. The next pre-release of 2.2.0 will have Skin v7.1.2 applied.

[2019-05-01 17:16] ianmcburnie commented on #649
This seems to be an invalid issue. If autocomplete is on, and a default value is present, we shouldn't see the full list. Full list of options should only show if textbox has no value and `expand-on-focus` is true. Let's discuss again offline.

[2019-05-01 18:58] seangates commented on #649
I've reverted the changes in the PR. We'll need to discuss with the team that requested this change about their options going forward.

[2019-05-01 18:58] #649 closed

[2019-05-01 20:06] hramakumar opened #651 "combobox: when there are no options -no expansion-exception in expand event"
# Bug Report

## eBayUI Version: x.x.x

## Description
typing on the combobox throws an exception in expand event

## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/57039568-df69af80-6c11-11e9-9bdd-2e29aa34c29c.png)

[2019-05-01 20:28] ianmcburnie commented on #641
This is an annoying issue for users. I'm going to promote this from the backlog to an upcoming release.

[2019-05-01 20:30] ianmcburnie commented on #640
Fix goes out in 2.2.0

[2019-05-01 20:30] #640 closed

[2019-05-01 20:45] hramakumar commented on #630
verified.

[2019-05-01 20:45] #630 closed

[2019-05-01 20:59] ianmcburnie commented on #651
This would be an issue if options are added on CSR after SSR, but @seangates  mentions that expander bindings will be added as soon as this happens.

[2019-05-01 21:20] ianmcburnie commented on #638
We would have to verify if this is default browser behaviour when a textbox value is programatticaly update via javascript.

FYI I do not see this behaviour when I _copy and paste_ long text.

In any case, it's low priority. User can easily jump to cursor using arrow keys.

[2019-05-02 19:31] ianmcburnie opened #654 "Upgrade to core-js v3"
Let's upgrade to v3 of core-js at our earliest opportunity

https://github.com/zloirock/core-js

After upgrading, we might be able to drop the following polyfills/transforms:

* `"babel-plugin-transform-object-assign"`
* `"nodelist-foreach-polyfill"`

UPDATE: We'll probably need to leave the polyfills in. Babel/CoreJS brings in quite a lot of stuff when targeting IE11.

[2019-05-03 13:48] oguzzkilic opened #655 "readme doc: invalid link"
File: README.md
Url: https://ebay.gitbooks.io/mindpatterns/content
Error: This site can’t be reached

[2019-05-03 13:54] seangates commented on #655
Hmmm. Works for me. Maybe try again?

[2019-05-03 17:18] oguzzkilic commented on #655
I think, an error on my internal network mistook me. I saw there wasnt any problem when I tried with a different connection.

[2019-05-03 17:19] #655 closed

[2019-05-03 17:19] seangates commented on #655
No worries. Thanks for following up!

[2019-05-06 17:51] hramakumar opened #656 "menu: keyboard type-does not work when cap lock is on"
# Bug Report

## eBayUI Version: 2.3.0

## Description
repro:
go to menu
click on the menu
Type a letter with caps lock on
The matching option is not selected.

can repro it in market place

## Workaround

## Screenshots

[2019-05-06 19:08] ianmcburnie commented on #656
WILL FIX :-)

[2019-05-06 20:40] #607 closed

[2019-05-06 20:40] #606 closed

[2019-05-06 23:11] #656 closed

[2019-05-07 01:20] melquan opened #659 "Combobox: provide the functionality to expand and show all options and collapse the listbox with an outer control"
# Feature Request

## Description
The current combobox shows only the filtered options in the listbox upon expansion when there is a default value.  There is a request to show all options on the click of an outer control (similar to a traditional select dropdown); and collapse the listbox when the outer control is clicked again.

eBayUI version: 2.2.0

[2019-05-07 17:12] DylanPiercey commented on #659
To move away from these imperative API's we should simply expose something like an `expanded` attribute on the component which consumers can control via their state, just like the dialog has an `open` attribute.

[2019-05-07 17:18] seangates commented on #659
@DylanPiercey That would be on top of the `autocomplete` attribute, to do what Ian is proposing, correct?

[2019-05-07 17:20] ianmcburnie commented on #659
Yep, an `expanded` property would be my preference too. We just don't have that right now.

[2019-05-07 17:31] DylanPiercey commented on #659
@seangates @ianmcburnie I don't know all of the details and I am confused as to how `autocomplete` relates to this issue of expanding and collapsing the combobox from a parent component?

[2019-05-07 19:42] szhou1 opened #660 "New Component: Details"
A component version of the Skin details module: https://ebay.github.io/skin/#details

<img width="1106" alt="Screen Shot 2020-02-26 at 3 29 45 PM" src="https://user-images.githubusercontent.com/38065/75397867-d6d31b80-58ac-11ea-8886-73913647758e.png">

[2019-05-09 18:02] ianmcburnie commented on #624
Merged. Currently in 2.4.0-0 pre-release for QA.

[2019-05-09 18:02] #624 closed

[2019-05-10 17:56] hramakumar opened #663 "ebay-badge: Error while applying option of "<ebay-badge>"."
# Bug Report

## eBayUI Version: 2.4.0-0 and skin 7.2.0-2

## Description
I am seeing this issue after I upgraded to ebay ui 2.4.0
Error while applying option of "<ebay-badge>". Cause: Error: Unable to load tag ([/Users/hramakumar/ebayui3/ebayUITestenv/node_modules/@ebay/ebayui-core/marko.json → <ebay-badge>]): Error: Error while applying option of "template". Cause: Error: Template at path "/User

[2019-05-10 18:07] DylanPiercey commented on #663
Fixed in https://github.com/eBay/ebayui-core/pull/662

[2019-05-10 21:37] seangates opened #664 "Combobox: disabled state still allows you to expand and interact"
# Bug Report

## eBayUI Version: 2.3.0

## Description
When the `disabled` attribute is applied the combobox component still allows you to expand the list.

## Workaround
None.

## Screenshots
![Screen Shot 2019-05-10 at 1 40 37 PM](https://user-images.githubusercontent.com/105656/57558016-6537da00-7339-11e9-94fd-1595132d7292.png)

[2019-05-13 19:31] hramakumar commented on #664
I had this scenario tested. can you send me the code on how you disable it.

[2019-05-13 19:36] hramakumar opened #665 "Icon: icon disappears after the page loads"
# Bug Report

## eBayUI Version: 2.4.0-0 and skin 7.2.0-2

## Description
ebay icon disabppears onc after the page loads.
pls look at the menu with icons in the below video
https://www.loom.com/share/85a9b71aa30d4f1aa20ba181e8f29fc9

## Workaround

## Screenshots

[2019-05-14 19:45] dkallus opened #666 "Button: on-button-click handler is triggered twice when using Enter or Space"
# Bug Report

## eBayUI Version: 2.2.0
## Description
Expected: When pressing {space} or {enter} on ebayui-button, the on-button-click handler should only be triggered once.

Actual: on-button-click handler is being triggered twice.

Reproduce:
1. Tab over to button element
1. Press {space} or {enter}
1. Handler is triggered twice

Sample code with issue:
[code]

[2019-05-14 21:49] trg opened #668 "Scrollbar Under Carousel Inconsistent on iPad Safari (Touch)"
# Bug Report

## eBayUI Version: 1.4.0 through 2.2.0, DS6 theme

## Description

For the `<ebay-carousel>` component, carousels inconsistently show / don't show a scrollbar when scrolled by touching and dragging on iOS Safari, iPad, latest versions.

You can reproduce this bug by loading the ebay UI Marketplace's ebay-carousel demo page in the iOS Simulator set to use an iPad.

Find a touch enable

[2019-05-14 22:17] ianmcburnie commented on #666
@dkallus Is this a blocker for you? Or do you have a workaround. Oh, and thanks for reporting!

[2019-05-14 22:31] dkallus commented on #666
@ianmcburnie This isn't a blocker. Replacing <ebay-button> with <button> works.

[2019-05-14 22:36] ianmcburnie commented on #666
Thanks. Would be nice to have you using the button though. @seangates if this is a simple fix (?), maybe this can be done in 2.3.x along with #664. What do you think? Are you able to look at these two?

[2019-05-15 00:33] seangates commented on #666
I haven't had a chance to look at it yet. Let me jump on it first thing tomorrow.

[2019-05-15 07:05] hramakumar opened #669 "Textbox: disabled attribute is not working"
# Bug Report

## eBayUI Version: 2.4.0-0 and skin 7.2.0-2

## Description
unable to disable a text box.
## Workaround

https://www.loom.com/share/72720438a5af47f584c91ffe5d598f41

 <ebay-textbox disabled />
## Screenshots

[2019-05-15 14:03] ianmcburnie commented on #666
Here's another related one found by Hemnath: https://github.com/eBay/ebayui-core/issues/669

I've just realised we might want to fix these in 2.4 or 2.5, rather than 2.3, because otherwise we are going to have to fix each of them twice (once in the pre-refactored code, and again in the refactored code). I'll change the project.

[2019-05-15 15:31] ianmcburnie commented on #668
@DylanPiercey Thoughts?

[2019-05-16 18:09] seangates commented on #664
This is working correctly. I have verified that they were using CSS to override the styles of the combobox.

[2019-05-16 18:09] #664 closed

[2019-05-16 22:02] seangates commented on #666
It appears a button will fire events for keydown as well as click when the space bar and enter key are pressed. I'm removing the redundant keydown event for `space` and `enter` (action) keys. PR forthcoming.

[2019-05-16 23:41] hramakumar opened #675 "combobox: editable combobox select from option does not work in ie 11"
# Bug Report

## eBayUI Version: 2.4.0-1 and skin 7.2.0-2

## Description
editable combobox - not able to select from the option list

## Workaround

## Screenshots

[2019-05-20 22:44] hramakumar opened #678 "Carousel: icons are not displaying"
# Bug Report

## eBayUI Version: 2.4.0-2

## Description
The autoplay play/pause icon is not displayed properly, and only shows a gray circle. Additionally, the next icon is missing as well. It is reproducible in the eBayUI marketplace.

## Workaround
None.

## Screenshots
![2019-05-20 - Carousel missing icons](https://user-images.githubusercontent.com/105656/58057678-046f8500-7b23-11e9-8228-5d52a

[2019-05-21 16:24] melquan opened #679 "Select / combobox / combobox-readonly: Support aria-invalid"
# Feature Request
Support aria-invalid for select / comobobox / combobox-readonly

## Description
We have usecases where we show an error for these component types and want to apply aria-invalid="true" (with a red border on the element, so may involve SKIN changes as well).

## Screenshots
Example in the current flow which we will apply to our new flow which will be DS6:
![image](https://user-imag

[2019-05-23 18:00] hramakumar opened #681 "Combobox: in IOS when combobox options have long text ..the option list font size is bigger than usual"
# Bug Report

## eBayUI Version: 2.4.0-3 and skin 7.2.0-2

## Description
when one of the options in option list has a long text the font size is bigger than expected.
Happens only in IOS

## Workaround

## Screenshots

[2019-05-23 18:51] hramakumar commented on #678
verified.

[2019-05-23 18:51] #678 closed

[2019-05-23 18:56] hramakumar commented on #665
verified

[2019-05-23 18:56] #665 closed

[2019-05-23 19:00] hramakumar commented on #663
verified

[2019-05-23 19:00] #663 closed

[2019-05-23 19:03] hramakumar commented on #666
verified

[2019-05-23 19:12] #666 closed

[2019-05-24 19:26] ianmcburnie opened #683 "Menu: Add support for HTML in button"
We have received a couple of requests to provide HTML support for the button.

@pcanella has kindly provided a PR: https://github.com/eBay/ebayui-core/pull/677

[2019-05-28 22:39] sraone opened #686 "Select: optionChanged method is missing and event select-change is not triggering."
# Bug Report

## eBayUI Version: 2.4.0

## Description

Event `select-change` is not triggering and there is a console error reporting that `optionChange` method is not found.

[code]

[2019-05-29 21:23] #686 closed

[2019-05-30 15:19] melquan opened #689 "Select: Support optgroup"
# Feature Request
Support optgroup for Select

## Description
We have a need to show groupings in our dropdowns and would like to request the support of `optgroup` in the select component

## Screenshots
In our current flow:
![image](https://user-images.githubusercontent.com/19419138/58643042-5ea2df80-82b3-11e9-814b-e65a6f547ccf.png)

[2019-06-03 17:58] ianmcburnie opened #690 "Listbox: make independent of button"
The MIND patterns have been updated to make listbox independent of any button. This has the following benefits:

* Listbox can be embedded directly in the page without any button (similar to how we made form controls independent of any label)
* Better support for multi-select variant which is often embedded directly in page without button
* Better support for mWeb, which is also often embedded dir

[2019-06-03 18:25] #408 closed

[2019-06-03 18:29] ianmcburnie commented on #448
Needs re-verification.

[2019-06-03 18:30] ianmcburnie commented on #449
We are going to reinvestigate this for 2.7.0

[2019-06-03 18:56] ianmcburnie commented on #622
This may have been fixed already. Let's verify.

[2019-06-03 19:00] ianmcburnie commented on #633
Let's reverify in 2.5.0

[2019-06-03 19:04] ianmcburnie commented on #641
Done. Awaiting QA in 2.5.0.

[2019-06-03 19:04] ianmcburnie commented on #659
Done. Awaiting QA in 2.5.0.

[2019-06-03 19:04] #659 closed

[2019-06-03 19:05] ianmcburnie commented on #651
Might be fixed. Sean to check.

[2019-06-03 19:07] ianmcburnie commented on #668
Fixed in 2.4.0.

[2019-06-03 19:07] #668 closed

[2019-06-03 19:08] ianmcburnie commented on #669
Fixed in 2.4.0.

[2019-06-03 19:08] #669 closed

[2019-06-03 19:09] ianmcburnie commented on #675
@seangates to investigate

[2019-06-03 19:15] ianmcburnie commented on #689
Going to split this into two tickets. One for select, one for combobox.

[2019-06-03 20:43] DylanPiercey commented on #449
@hramakumar I just checked this out on the latest version with the Marketplace and I'm not seeing the issue now. Can you confirm this is fixed in your sample app?

[2019-06-03 20:43] DylanPiercey commented on #448
@hramakumar I just checked this out on the latest version with the Marketplace and I'm not seeing the issue now. Can you confirm this is fixed in your sample app?

[2019-06-03 20:57] ianmcburnie opened #691 "Combobox: support grouping of options (feature request)"
# Feature Request
Support optgroup (or equivalent) for combobox

## Description
We have a need to show groupings in our dropdowns and would like to request the support of `optgroup` equivalent in the combobox component.

## Screenshots
In our current flow:
![image](https://user-images.githubusercontent.com/19419138/58643042-5ea2df80-82b3-11e9-814b-e65a6f547ccf.png)

Related ticket #689

[2019-06-03 22:05] ianmcburnie commented on #623
Adding investigation notes from @DylanPiercey:

[code]

[2019-06-03 23:45] ianmcburnie commented on #691
Let's investigate the scope of this. I feel we might better waiting until #690 is done though.

[2019-06-04 18:17] hramakumar commented on #641
The handleExpand() is called when modifying the text as well. Options list can collapse and expand while editing the text and everytime it expands while typing, it calls handleExpand() and gets the cursor to the end.

 handleExpand() {
        const index = this.getSelectedIndex(this.state.options, this.state.currentValue);
        elementScroll.scroll(this.getEls('option')[index]);
        **this

[2019-06-04 21:34] ianmcburnie opened #694 "Update devDeps before 2.7.0 pre-release"
Let's take this opportunity to upgrade some or all of the devDeps:

<img width="773" alt="Screen Shot 2019-06-04 at 2 32 30 PM" src="https://user-images.githubusercontent.com/38065/58915381-bd15f680-86d5-11e9-8f1c-b2769f6395f1.png">

[2019-06-05 15:25] ianmcburnie opened #695 "Menu: giant icon in examples"
Not sure of the impact of this, may just be our example page, but should be fixed nonetheless:

<img width="809" alt="Screen Shot 2019-06-05 at 8 21 04 AM" src="https://user-images.githubusercontent.com/38065/58968696-50e5d200-876b-11e9-8eb6-105ea16a6dce.png">

[2019-06-05 15:32] ianmcburnie commented on #47
Closing, as I'm not sure how relevant this still is and it's been on the backlog a long time.

[2019-06-05 15:32] #47 closed

[2019-06-05 15:34] ianmcburnie commented on #122
There hasn't been any call for this, so I'm closing issue.

[2019-06-05 15:34] #122 closed

[2019-06-05 15:49] ianmcburnie commented on #585
Before we add this feature, we need to check with design team whether this is the right thing to do (i.e. opening the doors for a different type of carousel). Open question to them is: "shouldn't all carousels behave the same for consistency?"

[2019-06-05 16:51] seangates commented on #679
Closing. Fixed.

[2019-06-05 16:51] #679 closed

[2019-06-05 18:20] hramakumar opened #696 "textbox: when text area does not have any value by default. it shows false"
# Bug Report

## eBayUI Version: 2.4.1 and 2.5.0-1

## Description
when there are no default values in a text area it shows false.
Reproducible in marketplace

## Workaround

## Screenshots

[2019-06-05 20:12] #696 closed

[2019-06-06 16:46] seangates commented on #675
@ianmcburnie This isn't coming as quickly as I'd hoped. Let's punt.

[2019-06-06 17:18] ianmcburnie commented on #675
Ok, will do, thanks for the update.

[2019-06-06 21:54] hramakumar opened #699 "Menu: check mark is near the right border (IE11)"
# Bug Report

## eBayUI Version: 2.5.0-2

## Description

clickin on menu with checkbox expands the menu with check mark on checked option towards the very right of the component. It is near the component border.
![image](https://user-images.githubusercontent.com/13157115/59069040-d2705980-886a-11e9-8ae3-d2aae862d699.png)

## Workaround

## Screenshots

[2019-06-06 21:57] hramakumar opened #700 "menu and listbox: change events are triggered even when clicking an already selected option"
# Bug Report

### eBayUI Version: 2.50 and older versions

## Description
In menu and listbox the change events are triggered even when clicking an already selected option from the list. Ideally, we need to have it triggered only when there is a change in the menu option

[2019-06-06 22:01] hramakumar opened #701 "Combobox: First attempt to selecting an option from the list gets the cursor to go the start."
# Bug Report

## eBayUI Version: 2.5.0-2 and skin 7.3.0-0

## Description
when I open up the editable combo box first time and select an option then the cursor is moved to the start instead of the end.

## Workaround

## Screenshots

[2019-06-06 22:27] hramakumar opened #702 "Combobox: cursor is pushed to the right edge of the box (iOS Safari)"
# Bug Report

## eBayUI Version: 2.5.0-2

## Description
when selected option text is long the cursor is pushed to the right border of the component

![cursor](https://user-images.githubusercontent.com/13157115/59070422-8247c600-886f-11e9-8762-aab709e3c069.png)

## Workaround

## Screenshots

[2019-06-07 01:49] ianmcburnie commented on #691
Moving to backlog.

[2019-06-07 01:50] ianmcburnie commented on #701
Seems related to the issues we've been seeing in https://github.com/eBay/ebayui-core/issues/641 Let's try and fix these together.

[2019-06-07 20:25] rkdh opened #703 "Listbox: missing type="button" attribute on button"
# Bug Report

## eBayUI Version: 2.4.2

## Description
button element is missing type attribute which triggers form submit when used inside a form.
## Workaround

## Screenshots

[2019-06-07 20:54] seangates commented on #703
@ianmcburnie Jumping on this before I release 2.5.0 so that it can be pulled in. It's a blocker for anyone using the listbox.

[2019-06-07 20:55] seangates commented on #703
Also, we should have these controls tested inside of forms. We tend to create examples in pure isolation, when in reality we should always have them inside of a form.

[2019-06-07 21:28] #703 closed

[2019-06-10 22:49] hramakumar commented on #700
with 2.6.0 its fixed in ebay select but the issue is still present in combobox and listbox

[2019-06-11 01:26] ianmcburnie commented on #700
I don't even think this was targeted as a fix for 2.6.0, so not sure how it got fixed. Currently we have it for 2.8.0. We could maybe bring it forward to 2.7.0 though.

[2019-06-11 19:48] cynthiahhc opened #706 "Combobox-readonly: duplicated attributes in both span and input"
# Bug Report

## eBayUI Version: 2.5.0

## Description
After entering the id as an attribute into `ebay-combobox-readonly`, the id shows up in both `span` and `input` which should only shows up in `input.

[code]
![Screen Shot 2019-06-11 at 12 23 04](https://user-images.githubusercontent.com/12440585/59301739-2900dd80-8c47-11e9-9fad-e1c9ec32715b.png)

https://github.com/eBay/ebayui-core/blob/maste

[2019-06-11 20:49] cynthiahhc opened #707 "Listbox: collapse the expanded options after selecting an option"
# Feature Request

## Description
The expanded options should collapse once an option is selected. It leaves the options expanded now, which the user has to click outside the listbox to have the options collapse.

[2019-06-11 21:22] ianmcburnie commented on #706
Thanks for reporting this!

[2019-06-12 19:19] PrashantAshok opened #708 "Dialog: Screen stays zoomed in when the dialog is closed (iOS)"
# Bug Report

## eBayUI Version: 2.1.0

## Description
1. Open a dialog with text field(s).
2. Focus on any field.
3. Screen is zoomed in.
4. Close the dialog.
5. Screen stays zoomed in. After closing the dialog, ideally the screen should go back to previous state.

This happens in iPhone, and is reproducible in the marketplace using either a iPhone simulator or Browserstack.

## Workaround
- Manu

[2019-06-12 22:18] ianmcburnie commented on #675
If we can't find out the root issue,  we could *potentially* hide the combobox overlay for IE11 users via CSS `supports`. Only problem would be that the textbox would still announce as a combobox for IE11 users with screen readers. Might be better than the current situation though.

[2019-06-13 20:42] ianmcburnie commented on #707
I agree. I recently update the MIND patterns examples and Skin examples to follow this behaviour.

[2019-06-13 20:43] ianmcburnie commented on #683
In QA for 2.6.0

[2019-06-13 20:43] #683 closed

[2019-06-13 20:45] ianmcburnie commented on #620
This should get fixed as part of this skin issue:

https://github.com/eBay/skin/issues/589

We are taking this skin fix in CoreUI 2.7.0.

[2019-06-13 20:49] ianmcburnie commented on #708
@seangates did some research on this and it appears to be the default behaviour of iOS when textbox size is under 16px.

Two options:

1. Leave as is
2. Design system updates our textbox font size to 16px

[2019-06-13 21:52] hramakumar opened #709 "Buttons- ds4 -disabled"
# Bug Report

## eBayUI Version: 2.6.0-1 and skin 7.3.1

## Description
The disabled buttons have a blue background like a primary disabled button, instead of grey background and the label is also not visible clearly
![image](https://user-images.githubusercontent.com/13157115/59469790-a7e24b80-8dea-11e9-8c04-7d817adc8f3b.png)

## Workaround

## Screenshots

[2019-06-13 21:59] hramakumar commented on #709
probably a skin issue. Please move it to skin once you confirm it

[2019-06-13 22:56] seangates commented on #709
Certainly a Skin issue.

[2019-06-14 14:59] melquan opened #710 "combobox: throws a JS error when typing in the textbox if there are no options"
# Bug Report

## eBayUI Version: 2.5.0

## Description
When there are no options and user starts typing in the textbox of the combobox, a JS error is thrown and the the entered value cannot be emitted.

## Screenshots
![image](https://user-images.githubusercontent.com/19419138/59518119-db1feb80-8e79-11e9-8994-2e44868a4789.png)

![image](https://user-images.githubusercontent.com/19419138/59518333-4

[2019-06-14 17:29] ianmcburnie commented on #654
Done in 2.7.0 branch.

[2019-06-14 17:29] #654 closed

[2019-06-14 18:18] ianmcburnie commented on #706
App team moved over to ebay-listbox, reducing this to P4.

[2019-06-14 19:15] hramakumar commented on #710
#651

[2019-06-14 19:24] seangates commented on #651
And ... it's not fixed.

[2019-06-14 19:47] melquan commented on #710
@hramakumar I thought there was already a ticket filed but didn't find it.  Sorry I overlooked it!

[2019-06-14 19:49] hramakumar commented on #710
no problem. Let's get this fixed.
We will keep you posted

[2019-06-17 23:40] ianmcburnie opened #713 "Menu: make independent of button"
The MIND patterns have been updated to make menu independent of any button. This has the following benefits:

* Menu can be embedded directly in the page without any button (similar to how we made form controls independent of any label)
* Better support for mWeb, which is also often embedded directly on page without button

Examples:

* https://ebay.github.io/mindpatterns/input/menu/index.html
* h

[2019-06-18 19:01] hramakumar opened #714 "Dialog: close button issues in IE & Edge"
# Bug Report

## eBayUI Version: 2.6.0-2 and older versions and skin 7.3.2

## Description
1)On left and right panel scrollable dialog
the close button has to be clicked twice to close the dialog.
1st click removes focus and second click closed the dialog

2)On left and Right panel dialog
The close button first appears onone side then disappears and re-appears on the other end

will post the scree

[2019-06-18 19:27] hramakumar opened #715 "Button: partially disabled does not show focus indicator (IE/Edge)"
# Bug Report

## eBayUI Version: 2.6.0-2 and skin 7.3.2
partially disabled looks and behaves same as disabled
after button click
![image](https://user-images.githubusercontent.com/13157115/59713466-607e0580-91c4-11e9-950d-4f741ba48095.png)

expected: border focus
![image](https://user-images.githubusercontent.com/13157115/59713642-c10d4280-91c4-11e9-9cc0-b7f83652e6cf.png)

## Description

## Worka

[2019-06-18 19:32] hramakumar opened #716 "menu,select and combobox- IE edge - events are delayed"
# Bug Report

## eBayUI Version: 2.6.0-2 and 7.3.2

## Description
The expand, collapse, select and change events are triggered very late after action is performed

## Workaround

## Screenshots

[2019-06-18 19:56] hramakumar commented on #710
verified

[2019-06-18 20:12] ianmcburnie commented on #715
I'm a little confused by the desctription. Let me see if I have this right...

This different rendering engines behave differently for buttons when clicked with a mouse. IE, Edge and Chrome all show the focus indicator. Firefox and Safari do not. So I think we can close this as wontfix.

[2019-06-18 20:13] ianmcburnie commented on #710
Fixed in 2.6.0. Closing.

[2019-06-18 20:13] #710 closed

[2019-06-18 21:01] hramakumar commented on #651
verified

[2019-06-18 21:01] #651 closed

[2019-06-18 21:14] ianmcburnie commented on #694
Done.

[2019-06-18 21:14] #694 closed

[2019-06-18 21:16] ianmcburnie commented on #620
Actually, I was bit premature closing this. The skin issue is still open:

https://github.com/eBay/skin/issues/589

[2019-06-18 21:20] hramakumar commented on #715
The issue is IE edge does not show focus indicator.
The actual behaviour is the first screenshot and the expected is the later.
I expect a focus indicator in IE edge, which I dont see.

[2019-06-18 21:21] ianmcburnie commented on #361
Assigning to @DylanPiercey to follow up and see if this is still an issue and worth fixing for MarkoV3, or punting till we move to MarkoV4. Given that there hasn't been much ask for this, I feel like we can probably punt it, but if it's quick to diagnose and an easy fix we might aswell do it now.

[2019-06-18 21:22] ianmcburnie commented on #448
Assigning to @hramakumar for verification in latest build.

[2019-06-18 21:22] ianmcburnie commented on #449
Assigning to @hramakumar for verification in latest build.

[2019-06-18 21:23] ianmcburnie commented on #450
Assigning to @hramakumar for verification in latest build.

[2019-06-18 21:27] ianmcburnie commented on #622
Assigning to @hramakumar for verification in latest build.

[2019-06-19 18:18] ianmcburnie opened #718 "Carousel: use styles from Skin"
Currently, carousel is the only component which doesn't have its styles pulled from skin. This presents some problems for global header team who need to wrap the classes with an extra layer of specificity (like they do with other skin modules).

Depends on: https://github.com/eBay/skin/issues/131

[2019-06-19 20:02] seangates commented on #700
@hramakumar The combobox change event only happens on "blur". For combobox, are you listening to another event besides `combobox-change`? Maybe `combobox-select`?

[2019-06-19 20:12] seangates commented on #700
If the above is the case, then I will remove the combobox from this issue.

[2019-06-19 20:36] ianmcburnie opened #721 "Menu: missing tests for menu shortcut feature"
We currently don't have any unit test coverage for the menu shortcut key feature. There is some issue with the keypress not being detected in the tests, IIRC.

[code]

[2019-06-19 20:53] seangates commented on #622
We no longer show the check mark:
![image](https://user-images.githubusercontent.com/105656/59799646-9b9e3880-9299-11e9-8c5d-80afb2d1025a.png)

I believe this is no longer an issue.

[2019-06-19 21:16] seangates commented on #700
Per conversation, I will look at `listbox` too. Also, `combobox` works as expected.

[2019-06-19 22:13] ianmcburnie commented on #361
We decided to punt this till after v4.0.0. Dylan feel free to jot down any notes in here that might be useful while it's fresh in your head.

[2019-06-19 22:46] ianmcburnie commented on #497
Let's try chipping away at this one as we go. Hopefully have them all fixed by the time we get to v4.

[2019-06-20 18:07] ianmcburnie commented on #622
...but we do show the background highlight, so closing ticket.

[2019-06-20 18:07] #622 closed

[2019-06-20 18:08] ianmcburnie commented on #689
Done. Will be available in 2.7.0.

[2019-06-20 18:08] #689 closed

[2019-06-21 17:31] ianmcburnie commented on #700
This is in 2.7.0 pre-release. Closing.

[2019-06-21 17:31] #700 closed

[2019-06-25 15:50] ianmcburnie commented on #718
Done in 2.7.0 branch. Will be available for QA in 2.7.0-1

[2019-06-25 15:50] #718 closed

[2019-06-26 21:27] hramakumar opened #724 "Select: first click on option in optgroup does not work"
# Bug Report

## eBayUI Version: 2.7.0-2 and skin 7.4.0-1

## Description
Group select- selecting an option always get back to the default option on first click.
Opening the list and selecting the option second time selects the actual option
https://www.loom.com/share/180d1a807d7141c5bc971aa40d682ec4

## Workaround

## Screenshots

[2019-06-26 21:34] hramakumar commented on #724
reproducible in marketplace

[2019-06-26 23:03] ianmcburnie opened #725 "Menu: rename to ebay-menu-button"
As a segway to v4, let's rename the current `ebay-menu` to `ebay-menu-button`. API will remain unchanged in this version and menu will still be coupled to button.

In v4 we will completely separate the menu from the button #713

Doing it like this means we get to Markov4 quicker, but can go back and add an `ebay-menu` to CoreUI v3.1 if it is asked for.

[2019-06-26 23:04] ianmcburnie opened #726 "Listbox: rename to ebay-listbox-button"
As a segway to v4, let's rename the current `ebay-listbox` to `ebay-listbox-button`. API will remain unchanged in this version and listbox will still be coupled to button.

In v4 we will completely separate the menu from the button #690

Doing it like this means we get to Markov4 quicker, but can go back and add an `ebay-listbox` to CoreUI v3.1 if it is asked for.

[2019-06-26 23:06] ianmcburnie commented on #716
Requires further investigation. Could be an environment issue.

[2019-06-26 23:41] ianmcburnie commented on #497
Fixes merged to 2.7.0 branch. Closing,

[2019-06-26 23:41] #497 closed

[2019-06-26 23:43] ianmcburnie commented on #638
Possibly related to #702. Possibly...

[2019-06-26 23:48] ianmcburnie commented on #585
Not seeing any call for this. If anything it will be readdressed when we get to carousel in DS6.5. Closing,

[2019-06-26 23:48] #585 closed

[2019-06-27 14:07] DylanPiercey commented on #726
@ianmcburnie I think it might be worth writing an auto migration for this.

[2019-06-27 16:08] ianmcburnie commented on #726
Good idea. That would be a good practice for us to get into with CoreUI.

[2019-07-01 16:56] ianmcburnie opened #729 "Infotip: breaks when nested inside paragraph of text"
I tried adding the infotip inside the first paragraph of text inside the marko starter app:

[code]

It gobbled up the text preceding it, and failed to show its own content:

![Screen Shot 2019-07-01 at 9 55 30 AM](https://user-images.githubusercontent.com/38065/60453606-6cb38b00-9be6-11e9-81a7-74148692d570.png)

[2019-07-01 21:38] cynthiahhc opened #731 "Listbox: querySelector selects invalid ID"
# Bug Report

## eBayUI Version: 2.4.0

## Description
Before the major bump, it was getting a class instead of an ID (https://github.com/eBay/ebayui-core/blob/2.4.0/src/components/ebay-listbox/index.js#L42). Marko generated IDs usually consists of square brackets, which are invalid for `querySelector` to select the element in `makeup-expander` (https://github.com/makeup-js/makeup-expander/blob/ma

[2019-07-01 22:59] ianmcburnie opened #732 "Remove imperative API"
Stepping stone to CoreUI v4.0.0 and upgrading to Marko V4.

Developers are tying themselves up in knots by using a mish-mash of imperative API and Marko state. While there is a potential scenario for needing to interact with our components in an imperative way (for example, a widget created in a non-stateful framework such as jQuery trying to open or close our dialog component), in reality we have

[2019-07-02 16:29] ianmcburnie opened #733 "Upgrade to Skin v8.0.0"
Expected breaking changes in Skin v8.0.0:

- [x] Skin `listbox` class being renamed to `listbox-button` (plus minor DOM & BEM changes too) (@agliga)
- [x] Skin `menu` class being renamed to `menu-button` (plus minor DOM & BEM changes too) (@agliga)
- [x] Pill is being separated into its own module (class becomes `pill` instead of `button--pill`) (@seangates)
- [x] Carousel classes `play` and `paus

[2019-07-02 19:04] bhoomisatasiya opened #734 "Dialog: always closes when user releases mouse button outside of modal"
# Bug Report
Modal closes when user is trying to select something on the modal and mouse goes out of the modal content area

## eBayUI Version: 2.1.0

## Description

- The modal is closing when user tries to select some content on the modal body and mouse goes out side the modal area.

## Workaround

## Screenshots

![Large GIF (640x367)](https://user-images.githubusercontent.com/11545472/6054198

[2019-07-02 19:16] hramakumar commented on #724
The issue is still not fixed

[2019-07-02 22:17] ianmcburnie commented on #734
Maybe something to do with this logic:

https://github.com/eBay/ebayui-core/blob/master/src/components/ebay-dialog/index.js#L39

We shall investigate.

[2019-07-03 17:46] melquan opened #735 "Combobox: Adjust the width to the width of the longest option"
# Feature Request

## Description
Adjust the width of the combobox to be the width of the longest option.

[2019-07-03 18:13] hramakumar opened #736 "listbox: ds6 disabled listbox-unable to see the arrow icon- looks like a disabled button"
# Bug Report

## eBayUI Version: 2.7.0-3 and older versions

## Description
unable to see the arrow icon- It looks more like a disabled button
![image](https://user-images.githubusercontent.com/13157115/60615221-7de5ce80-9d83-11e9-8793-d4149a322670.png)

## Workaround

## Screenshots

[2019-07-03 18:23] melquan commented on #735
So the thing is we have a usecase where the component is disabled and the user is only able to see the clipped portion of the visible text.

[2019-07-03 18:54] agliga commented on #734
Looks like the issue is the fact that onclick is triggering on mouse up. If you click in the dialog and drag out, when you let go of your mouse button, it triggers onclick.

[2019-07-03 18:54] hramakumar commented on #448
its working fine now

[2019-07-03 18:54] #448 closed

[2019-07-03 18:56] #449 closed

[2019-07-03 23:50] hramakumar opened #737 "button texts and some functionalities are broken - after upgrading to marko 4.18.6"
# Bug Report

## eBayUI Version: 2.7.0-3 and skin 7.4.0-1 and marko 4.18.6

## Description
The test app - various text and some functionalities  are broken
![image](https://user-images.githubusercontent.com/13157115/60631086-712c9f00-9db2-11e9-9cde-74efaa6c9e89.png)

## Workaround

## Screenshots

[2019-07-03 23:51] hramakumar commented on #737
Dylan is looking into it. Will close this if its a test page issue.

[2019-07-08 17:51] agliga commented on #695
This has to do with the fact that the DS6 version of this file has styles to limit the height of the mic icon but that file is not being loaded in this version.
DS4 does not have the mic icon. So either we add the mic icon to DS4, load DS6 on this page correctly, or change the icon to something else.

[2019-07-08 18:24] seangates commented on #695
I vote for an icon which both support.

But also, fixing the DS6 files. 👍

[2019-07-08 18:30] hramakumar opened #740 "editable combobox- change event is triggered on every select and blur"
# Bug Report

## eBayUI Version: 2.7.0-3

## Description
editable combobox xhange event is triggered even when the same item is selected again and again and also on every collapse.
https://www.loom.com/share/0f2a1494ff9244ef8f3863604c7afc18

## Workaround

## Screenshots

[2019-07-08 18:49] #731 closed

[2019-07-08 19:01] hramakumar opened #741 "badge:In IE 11 when badge is used in a menu. It is not rendered properly"
# Bug Report

## eBayUI Version: 2.7.0-3 and older versions

## Description
In IE 11  when badge is used in a menu. It is not rendered properly
also the badges are truncated with the button size
![image](https://user-images.githubusercontent.com/13157115/60835413-dd731e00-a177-11e9-9a6b-342e3d9ba8f1.png)

## Workaround

## Screenshots

[2019-07-08 19:03] ianmcburnie commented on #741
We have a few known, open issues with badge in IE11, so this might be a duplicate (check on Skin github too). We are treating anything for IE11 as low priority right now.

[2019-07-08 19:03] hramakumar opened #742 "dialog: IE edge- left and right panel close button issues"
# Bug Report

## eBayUI Version: 2.7.0-3 and older versions

## Description
left and right panel scrolll- close button need clicking twice- right panel close button moves from one end to another

https://www.loom.com/share/dca80367454c4fe1a4bf20f554d7aa24

## Workaround

## Screenshots

[2019-07-08 19:06] hramakumar opened #743 "Carousel: autoplay does not work (IE11, Edge)"
# Bug Report

## eBayUI Version: 2.7.0-3 and older versions

## Description
autoplay carousel does not work as intended.
The carousal auto slide and clicking on pause and play button wont work.

## Workaround

## Screenshots

[2019-07-08 19:11] hramakumar commented on #737
dylan fixed it in the latest release of Marko (4.18.7)

[2019-07-08 19:11] #737 closed

[2019-07-08 19:13] hramakumar commented on #724
verified

[2019-07-08 19:13] #724 closed

[2019-07-08 19:23] agliga commented on #695
Added an issue in skin for fixing the reference issue. Will provide a PR to have a different icon
https://github.com/eBay/skin/issues/676

[2019-07-08 23:45] melquan opened #745 "Combobox: Thin gray line shows up when refocusing into the combobox and there are no matching options"
# Bug Report

## eBayUI Version: 2.6.0

## Description
A thin gray line shows up when refocusing into the combobox and there are no matching options.

Steps:
1. Enter something in the combobox that doesn't match any existing options.
2. Blur out of the comboxbox.
3. Focus in the combobox again.

## Workaround
None.

## Screenshots
![image](https://user-images.githubusercontent.com/19419138/6084948

[2019-07-09 00:24] melquan opened #746 "Combobox: DS4: disabled combobox background should be gray like the background of a disabled textbox or select"
# Bug Report

## eBayUI Version: 2.6.0

## Description
In DS4, the disabled combobox background is white but should be gray like the like the background of a disabled textbox or select.

## Workaround
None.

## Screenshots
![image](https://user-images.githubusercontent.com/19419138/60850616-f940e900-a1a4-11e9-988e-1b7fae93e6d9.png)

In the SKIN documentation:
![image](https://user-images.githubuse

[2019-07-09 16:51] agliga commented on #695
Fixed by updating skin to 7.4.1 in 2.7.0 https://github.com/eBay/ebayui-core/commit/052db526cbf2929a04cb719c2b66bae4c05fe469

Will include a better icon in 2.8.0

[2019-07-09 18:07] agliga commented on #615
@ianmcburnie Can you provide what the expected fix should be for this?

[2019-07-09 21:32] ianmcburnie commented on #615
I'm not sure. From the description it's not clear.  Let's punt this one for now.

[2019-07-09 22:02] seangates opened #749 "Button: add a fake-link variation"
# Feature Request: Add a fake link variation to the button component

## Description
Presently the button only supports a fake button variation (an anchor styled as a button) using the `<ebay-button>`'s `href` attribute. We should conversely add a "fake link" variation which is a button which is styled to look like a link.

## Context
Some teams need to mask an action in what looks like a link. Fo

[2019-07-09 22:11] seangates opened #750 "Documentation: Ensure component READMEs have a "required" column for attributes"
# Feature Request

## Description
Add a required column to the attribute table of any component READMEs which don't have one.

## Context
Presently, developers don't know if certain A11Y attributes are required or not. Adding this column would help them know what they are required to add to be A11Y compliant.

Some have them, like [Listbox](http://app.uimarketplace.svc.32.tess.io/?tag=ebay-listbox

[2019-07-10 18:08] melquan opened #751 "Infotip: DS4 icon is not 16x16 as per SKIN documentation"
# Bug Report

## eBayUI Version: 2.6.0

## Description
The D4 infotip icon is not 16x16 as per the SKIN documentation so when displayed in proximity to an inline informational `ebay-notice`, you can see the size difference.

## Workaround
None.

## Screenshots
![image](https://user-images.githubusercontent.com/19419138/60993280-f825ce00-a302-11e9-9e1e-75c01c72758d.png)

[2019-07-10 19:31] pranaykondekar opened #752 "Button: classname coming as ${variant}-btn when rendered"
button component have invalid classnames when passed a variant.
Rendered markup is coming as
`<button class="${variant}-btn ${variant}-btn--no-text ${baseClass}--${size} ${variant}-btn--secondary" type="button">
  <svg class="expand-btn__icon" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true"><use xlink:href="#icon-chevron-down-bold"></use></svg>
</button>`

[2019-07-10 23:52] ianmcburnie commented on #734
Fix will go out in 2.8.0

[2019-07-10 23:52] #734 closed

[2019-07-10 23:52] ianmcburnie commented on #750
Excellent idea!

[2019-07-11 06:45] hramakumar commented on #450
The issue still happens only on IE

[2019-07-11 17:32] ianmcburnie commented on #450
Thanks for the clarification. Demoting to backlog.

[2019-07-11 20:04] ianmcburnie commented on #726
Changes merged to 2.8.0 branch. Closing.

[2019-07-11 20:04] #726 closed

[2019-07-11 20:04] ianmcburnie commented on #725
Changes merged to 2.8.0 branch. Closing.

[2019-07-11 20:04] #725 closed

[2019-07-11 21:35] agliga commented on #615
The more I think about it, I think the better solution is to make the icon larger. The thing is if we make a small icon people might miss it being broken. If it's large it will make people want to double check it.
Again this is only in the case where someone is switching between DS4 and DS6 and the icon is not in the corresponding version. If a user specifies an icon that does not exist in either

[2019-07-12 01:51] seangates commented on #638
Native browser behavior is this way. I'm going to close as "not an issue". The behavior can be mimicked exactly in the MIND Patterns combobox example page.

[2019-07-12 01:51] #638 closed

[2019-07-12 02:13] seangates commented on #681
I can't recreate this on my iOS device using the local core demo app. Can you re-confirm this is an issue @hramakumar?

[2019-07-12 07:41] hramakumar commented on #681
I did encounter this while testing last pre-release.

[2019-07-12 16:08] seangates commented on #681
I was finally able to reproduce the issue.

Also, I may have found a way to fix it: https://blog.55minutes.com/2012/04/iphone-text-resizing/

[2019-07-12 18:26] ianmcburnie commented on #752
Closing as invalid.

[2019-07-12 18:26] #752 closed

[2019-07-12 18:50] ianmcburnie opened #758 "Upgrade deps & devDeps before 2.8.0 pre-release"
After all bug PRs are merged, let's take care of updating deps before the pre-release for QA

![Screen Shot 2019-07-12 at 11 48 59 AM](https://user-images.githubusercontent.com/38065/61151570-1de5db00-a49b-11e9-9e7a-f62b5f3609f6.png)

[2019-07-12 18:59] ianmcburnie commented on #633
Still an issue in 2.8.0 branch. The `listbox__option--active` class is not being cleared when focus exits the combobox widget. The `makeup-active-descendant` and `makeup-focus-exit` modules are supposed to handle this, so possibly some conflict going on with Marko.

![Screen Shot 2019-07-12 at 11 46 23 AM](https://user-images.githubusercontent.com/38065/61152102-63ef6e80-a49c-11e9-9855-548a4ce51ec

[2019-07-15 18:14] agliga commented on #729
This is due to the fact that a DIV in HTML closes the <p> tag.
https://stackoverflow.com/a/34683474
The <div> for the overlay is closing the <p> tag and generating it outside the <p> tag. When a lookup  to fetch the nested overlay occurs, it fails because there is no nested overlay.
Need to change the <div> for overlay to a span in order to fix this.

[2019-07-15 18:48] ianmcburnie commented on #729
Ok. There are several DIV tags being used in infotip, and I just tried changing the `infotip__mask` to a span and it breaks things, so we might have to do this in skin v8.0.0 & v3.0.0

[code]

[2019-07-15 18:50] ianmcburnie commented on #729
In the meantime there is a workaround for this, use a `div` tag instead of a `p` tag, but that's not great for semantics, obviously.

[2019-07-15 19:08] ianmcburnie commented on #729
Just thought... if we wanted to get this fix out now we could potentially change the markup in coreui and add some local css overrides. Then in v3.0.0 we could remove them.

[2019-07-15 19:11] seangates commented on #729
That would work.

[2019-07-15 22:48] agliga commented on #729
@ianmcburnie What would you have in mind, like instead of doing <p> have a <div> with a class of flyout paragraph or something?

[2019-07-15 23:11] ianmcburnie commented on #729
Just change all divs to spans, one at a time, and see what breaks in terms of the skin css. Then add local overrides.

[2019-07-16 17:33] ianmcburnie commented on #586
@DylanPiercey Do you mind scoping this one and see if we can get it into v3.0.0?

[2019-07-16 19:47] ianmcburnie commented on #582
Closing as this should no longer be relevant in CoreUI v3.0.0 (coming soon).

[2019-07-16 19:47] #582 closed

[2019-07-16 20:23] agliga commented on #620
Should be complete in `2.8.0`, updated Skin to `7.4.2` to fix this: https://github.com/eBay/ebayui-core/commit/f21c095de3d77151ce5cabb482c7c2af032e1867

[2019-07-16 21:20] agliga commented on #729
I think we need to rethink this.
So the header will also cause an issue because `<h2>` is not allowed inside a paragraph.
Also if the user will include any content that has a `<div>` `<h2>` or any block tags, it will break and not render correctly.
I think part of the fix is to make an option to render the overlay outside the paragraph tag. That way the overlay will not be restricted by its conten

[2019-07-16 21:29] agliga commented on #729
We might think about having the tooltip content render and be mounted directly in the body of the document. That way it isn't affected by any other markup.

[2019-07-16 21:30] ianmcburnie commented on #729
The content needs to be immediately after the button in the DOM for accessibility.

[2019-07-16 22:00] agliga commented on #729
So realistically nesting an overlay inside `<p>` becomes very difficult if the content needs to be after the button. Because as long as there is a block element nested, it will break.

What about making the infotip focus on tabbing out of the button? Then when the user blurs out of the info tip it goes to the next element and closes the info tip? Could that work in terms of accessibility?

I chang

[2019-07-16 22:12] ianmcburnie commented on #729
Well, not every user presses TAB. Screen reader users for example might move their virtual cursor forward instead. Until `aria-flowto` becomes well supported, it's best just to have the DOM take care of the natural reading order.

Another option is focus management. Keyboard focus is moved to the overlay as soon as the button is activated. This forces all users to the right place to read the tip.

[2019-07-16 22:18] agliga commented on #729
👍
I will add a change to support both <spans> and <p> (to keep existing functionality on non nested `<p>`). Will add an example with documentation to say not to nest

[2019-07-16 22:18] ianmcburnie commented on #551
Done.

[2019-07-16 22:18] #551 closed

[2019-07-16 22:18] ianmcburnie commented on #695
Done in 2.8.0

[2019-07-16 22:18] #695 closed

[2019-07-16 22:19] ianmcburnie commented on #675
Done in 2.8.0

[2019-07-16 22:19] #675 closed

[2019-07-16 22:24] agliga commented on #751
Issue needs to be fixed in skin, need to add CSS to resize infotip button
Will do it as part of a `7.4.3` release

[2019-07-16 22:56] seangates commented on #633
Correct, I have not yet addressed it. Doing so now using the method mentioned in comments for #756.

[2019-07-16 23:15] hramakumar commented on #741
duplicate of https://github.com/eBay/skin/issues/663

[2019-07-16 23:15] #741 closed

[2019-07-16 23:48] #749 closed

[2019-07-16 23:50] ianmcburnie commented on #641
Done in 2.8.0

[2019-07-16 23:50] #641 closed

[2019-07-16 23:51] ianmcburnie commented on #701
Done in 2.8.0

[2019-07-16 23:51] #701 closed

[2019-07-17 16:07] #633 closed

[2019-07-17 21:36] #586 closed

[2019-07-17 21:36] #751 closed

[2019-07-17 21:36] #615 closed

[2019-07-17 21:36] #620 closed

[2019-07-19 05:16] #729 closed

[2019-07-19 17:03] DylanPiercey opened #764 "Carousel: Continuous status text issues"
# Bug Report

## eBayUI Version: 2.8.0

## Description
Currently with continuous carousels the `a11y-status-text` option is omitted since there is no `totalSlides` (no `items-per-slide` is set). After discussion it sounds like we also need another a11y attribute in order to accommodate this.

Essentially we need one a11y attribute for the `slide x of y` text, and another for a prepending heading (

[2019-07-19 17:32] ianmcburnie opened #765 "Remove "<ebay-menu>" and "<ebay-listbox>" transforms"
For v3.0.0 we move forward with `<ebay-menu-button>` and `<ebay-listbox-button>`.

At some point in v4 or beyond `<ebay-menu>` and `<ebay-listbox>` will be repurposed for thr buttonless versions.

[2019-07-19 21:38] hramakumar opened #766 "ebay-menu: build error- unable to recognize ebay-menu and ebay-menu-item tags"
# Bug Report

## eBayUI Version: 2.8.0-0

## Description
 [src/ui-modules/ebayuitestpage1/index.marko:297:20] Unrecognized tag: ebay-menu - More details: https://github.com/marko-js/marko/wiki/Error:-Unrecognized-Tag
[src/ui-modules/ebayuitestpage1/index.marko:306:24] Unrecognized tag: ebay-menu-item - More details: https://github.com/marko-js/marko/wiki/Error:-Unrecognized-Tag

## Workaround

##

[2019-07-23 00:13] ianmcburnie commented on #766
Fixed.

[2019-07-23 00:13] #766 closed

[2019-07-23 00:14] ianmcburnie commented on #758
Done.

[2019-07-23 00:14] #758 closed

[2019-07-23 00:19] ianmcburnie opened #769 "Filter: new component"
Potentially we need 3 versions/variants:

* button
* link
* input

[2019-07-23 00:21] ianmcburnie opened #770 "Filter Menu: new component"
A menu specifically used for filtering. Potentially we need two variants:

* Form based (i.e. full page reload)
* ARIA based (i.e. AJAX/SPA)

Can be placed directly on page (no use case for this yet, but thinking ahead...)

Can be used inside of a filter menu button (our DS6.5 use case)

[2019-07-23 00:22] ianmcburnie opened #771 "Filter Menu Button: new module"
A rounded button that opens a filter menu inside of a rounded overlay.

[2019-07-23 18:40] hramakumar opened #772 "ebay-menu: browser.json ebay-menu is missing"
# Bug Report

## eBayUI Version: 2.8.0-1

## Description
browser.json for ebay-menu is missing.
test page is broken.

## Workaround
manually changed the ebay-menu to ebay-menu-button in browser.json and in .marko files

## Screenshots

[2019-07-23 23:08] hramakumar opened #774 "ebay-menu, listbox - testpage menu is broken - new tags ebay-menu-button not identified"
# Bug Report

## eBayUI Version: 2.8.0-3 and skin 7.4.4

## Description
menu section is broken  in test page
https://www.loom.com/share/939a6946bf2a49ce8e4acf1d751a70a0

## Workaround

## Screenshots

[2019-07-23 23:12] #772 closed

[2019-07-23 23:37] hramakumar opened #775 "carousal: hover over carousel stops autoplay slide movement"
# Bug Report

## eBayUI Version: 2.8.0-3 and skin 7.4.4

## Description
mouse over autoplay carousal stops the slide movement in autoplay carousal
https://www.loom.com/share/9cc0d5362ce144fb9db7376e2218fa74

## Workaround

## Screenshots

[2019-07-23 23:40] hramakumar opened #776 "Icon: some incompatible icons in ds4 are not replaced with '?'"
# Bug Report

## eBayUI Version: 2.8.0-3

## Description
down arrow and download icon needs to fixed
ci-slc.altus.vip.ebay.com/ebayuicomponentstestenv-5292

## Workaround

## Screenshots

[2019-07-23 23:46] hramakumar opened #777 "Button: hover over disabled changes color"
# Bug Report

## eBayUI Version: 2.8.0-3 and older versions

## Description
hover over disabled button changes color grey highlighted.
expected- no change on hover
https://www.loom.com/share/5cb64fffeb9b4e479d39e2dbe3152c92

## Workaround

## Screenshots

[2019-07-24 00:48] seangates commented on #775
I believe this is expected behavior, given recent changes to the carousel.

[2019-07-24 00:50] seangates commented on #777
@hramakumar Were you able to get it to have a hover effect that after you clicked it? Or focused it? Or even without focusing or clicking you could get it to have a hover effect?

[2019-07-24 14:58] DylanPiercey commented on #775
Yes this is expected behavior https://github.com/eBay/ebayui-core/issues/586

[2019-07-24 17:50] #775 closed

[2019-07-24 17:51] #774 closed

[2019-07-24 17:52] ianmcburnie commented on #776
If it's just two icons that need fixing, we prob don't need another pre-release & QA just for this. We can push a commit just before final release.

[2019-07-24 18:58] hramakumar commented on #777
no even without focus or clicking
you the try it urself in the test page
go/ebayui/test

[2019-07-24 19:00] hramakumar opened #779 "Icon: settings icon and some background icons are missing"
# Bug Report

## eBayUI Version: 2.8.0-4

## Description
settings icon and background icons are not displayed
https://www.loom.com/share/1a0d49dc80034ef5823c5156a30723de

## Workaround

## Screenshots

[2019-07-24 19:02] ianmcburnie commented on #779
@agliga Can you please look into this?

[2019-07-24 19:04] ianmcburnie commented on #776
Nevermind, looks like we will need another pre-release as we have a few issues building up now:

https://github.com/eBay/ebayui-core/projects/44

[2019-07-24 19:28] hramakumar opened #780 "listbox: resizing and line wrapping changes the size of the listbox when different options of different length are selected"
# Bug Report

## eBayUI Version: 2.8.0-4 and older versions

## Description
list box line wrapping causes resizing of the component

## Workaround

## Screenshots
https://www.loom.com/share/90387c5e10cb42449008fc2c6fe2c366

[2019-07-24 19:39] hramakumar opened #781 "combobox: visually highlighted option state sometimes remains after collapsing/expanding"
# Bug Report

## eBayUI Version: 2.8.0-4 and older version
when I select an option by typing on part of the text and the click on the option from the list.
the next time when I open up the combobox the option is not highlighted.
Highlighting happens only when I enter the entire text and the select the option

## Description

## Workaround

## Screenshots
https://www.loom.com/share/843e531101c74ba7

[2019-07-24 20:11] ianmcburnie commented on #781
This is working as intended. Combobox options do not have any kind of state other than hover.

Closing as invalid.

[2019-07-24 20:14] ianmcburnie commented on #780
Given that we don't want listbox buttons to go to two lines, and this is something of an edge case, I feel like we can move this to backlog for now.

[2019-07-24 23:11] hramakumar commented on #781
discussed with Ian.
We need to remove the highlighting of the text when I type the entire option text and select an option.
When I blurr out and then click the combobox with the selected option. It expands with the option highlighted.
Its a low priority issue.

[2019-07-24 23:55] hramakumar opened #782 "dialog: clicking out of the dialog bottom border does not close the dialog"
# Bug Report

## eBayUI Version: 2.8.0-4

## Description
clicking below the dialog border in the grey area does not close the dialog.
Dialog closes when clicked on the top or on the sides but not in the bottom grey area.

## Workaround

## Screenshots

[2019-07-25 16:57] agliga commented on #776
I tried this out,  these seem to work now with the fix for #779
If it's still broken we can address it.

[2019-07-25 17:09] agliga commented on #777
This is caused by skin, namely this PR:
https://github.com/eBay/skin/pull/647
It seems that it was intentionally added to add styles on :hover, @seangates @ianmcburnie is this correct?

[2019-07-25 18:08] ianmcburnie commented on #777
@agliga We definitely shouldn't have a hover style for disabled. If it's an easy fix, go for it. But we've gone back and forth on these so I'm wary of further regressions. So yeah, take a quick look and see if it's an easy one, otherwise I say we leave it until we've finished splitting up and refactoring the buttons as part of v8 and ds6.5.

[2019-07-25 21:20] agliga commented on #777
Fixed by upgrading skin to `7.4.5`
https://github.com/eBay/ebayui-core/commit/de41afdc53a5b66dd2ca143febe27c6a29567751

[2019-07-26 23:40] ZZS77 opened #786 "listbox: v2.7.0 incompatible with marko@4.18.10"
# Bug Report

## eBayUI Version: 2.7.0

## Description

## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/42783072/61986441-fd05a580-afc3-11e9-9e27-2ba4dae013b0.png)

[2019-07-29 17:08] #779 closed

[2019-07-29 17:09] #777 closed

[2019-07-29 17:09] #776 closed

[2019-07-29 17:44] agliga commented on #779
Also #789 should fix the menu button icons

[2019-07-29 17:59] #786 closed

[2019-07-29 19:04] seangates commented on #733
@ianmcburnie @agliga @msendlakowski Just add your name next to the item you will complete, then check it off (using `[x]` in the description) once completed.

[2019-07-29 19:40] hramakumar opened #790 "ebay-menu- ds4- down arrow is not shown"
# Bug Report

## eBayUI Version: 2.8.0-6

## Description
ds4 menu down arrow is replaced by '?'
side effect of fix for issue #776
## Workaround

## Screenshots
https://www.loom.com/share/0de85e01bd734086a4d10edd6eb9056f

[2019-07-29 19:41] hramakumar commented on #790
fixed in 2.8.0-8

[2019-07-29 21:47] pranaykondekar opened #791 "ebay-infotip: form getting submitted when clicked on button"
# Bug Report

## eBayUI Version: 2.7.0

## Description
When infotip used used inside form, the form is getting submitted on clicking infotip button
https://github.com/eBay/ebayui-core/blob/2.8.0/src/components/ebay-infotip/template.marko#L19

[2019-07-29 22:32] #790 closed

[2019-07-30 17:02] #732 closed

[2019-07-30 22:37] melquan opened #799 "Listbox-button: support fluid version"
# Feature Request

## Description
Add support for a fluid version of the of the listbox-button.

## Context
ebayui-core version: 2.8.0

## Screenshots
![image](https://user-images.githubusercontent.com/19419138/62170329-e6bb5a80-b2df-11e9-946d-5ce9738387b3.png)

[2019-08-01 04:08] #733 closed

[2019-08-01 04:09] #765 closed

[2019-08-01 19:37] ZZS77 opened #806 "Listbox: Support aria-invalid"
# Feature Request
Support aria-invalid for listbox

## Description
We have usecases where we show an error for these component types and want to apply aria-invalid="true" (with a red border on the element, so may involve SKIN changes as well).

## Screenshots
Example in the current flow which we will apply to our new flow which will be DS6:
![image](https://user-images.githubusercontent.com/427830

[2019-08-01 23:10] ZZS77 opened #807 "Listbox-button: pass name attribute to button"
# Feature Request

## Description
Need name attribute on listbox button to be able to be query selectable

[2019-08-02 19:26] hramakumar opened #809 "combobox is broken"
# Bug Report

## eBayUI Version: 3.0.0-2 and skin 8.0.0-2

## Description
The combobox is broken
## Workaround
![image](https://user-images.githubusercontent.com/13157115/62393936-92eb8400-b520-11e9-9936-60867212eb6c.png)

[2019-08-02 19:39] hramakumar opened #810 "infotip: infotip without icon attribute - broken- does not open on click"
# Bug Report

## eBayUI Version: 3.0.0-2 and skin 8.0.0-2

## Description
info tip is broken when no icon is explicitly mentioned
The default icon is not aligned with shape and size and it does not open up the infotip content on click
## Workaround

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/62394544-5b7dd700-b522-11e9-9e5f-e71cba2d43a1.png)

[2019-08-02 19:46] hramakumar opened #811 "listbox: selected options are highlighted in bold"
# Bug Report

## eBayUI Version: 3.0.0-2 andskin 8.0.0-2

## Description
in list box selected option are not highlighted in bold

## Workaround

## Screenshots
**actual**
![image](https://user-images.githubusercontent.com/13157115/62394929-97fe0280-b523-11e9-8ed9-a5f6bb4de314.png)

**expect**
![image](https://user-images.githubusercontent.com/13157115/62394870-6127ec80-b523-11e9-8e4c-14427cbd14a9.

[2019-08-02 19:58] hramakumar opened #812 "menu: selected options are highlighted in ds4 look"
# Bug Report

## eBayUI Version: 3.0.0-2 and 8.0.0-2

## Description
Once the menu is expanded and selected options has ds4 look .
## Workaround

## Screenshots
**actual**
![image](https://user-images.githubusercontent.com/13157115/62395443-16a76f80-b525-11e9-9603-6ec55775b717.png)

**expected**
![image](https://user-images.githubusercontent.com/13157115/62395464-2b840300-b525-11e9-97b5-7ac5d90197

[2019-08-02 20:06] hramakumar opened #813 "ebay-menu: when the ebay menu item has type=button explicitly mention- the option is not left aligned."
# Bug Report

## eBayUI Version: 3.0.0-2 and skin 8.0.0-2

## Description
when a menu item has type=button explicitly mentioned. The text is center aligned.
It is expected to be left aligned.
I know this is not required now as it is changed to ebay-menu-button-item but still if the old code has type=button the we will see this behaviour
<ebay-menu-button-item **type="button"**>item 2</ebay-menu-bu

[2019-08-02 20:13] hramakumar opened #814 "listbox: when expanded does not expand with option text size instead it line wraps"
# Bug Report

## eBayUI Version: 3.0.0-2 and 8.0.0-2

## Description
options line wraps when texts are long.
**actual**
![image](https://user-images.githubusercontent.com/13157115/62396119-21fb9a80-b527-11e9-86ae-d2995ecf6bc4.png)

**expected**
![image](https://user-images.githubusercontent.com/13157115/62396092-0a241680-b527-11e9-8f1c-b10c4674e48e.png)

## Workaround

## Screenshots

[2019-08-02 23:34] hramakumar opened #817 "ds4- focus boundary is very light"
# Bug Report

## eBayUI Version: 3.0.0-2 and 8.0.0-2

## Description
In ds4. when clicked on a component. The focus indicator is displayed very light.
in the below example partially disabled button is clicked. It used to be darker in the previous releases.
![image](https://user-images.githubusercontent.com/13157115/62403593-2fbf1900-b543-11e9-8618-5645dc90fa4f.png)

## Workaround

## Screenshots

[2019-08-05 17:40] agliga commented on #814
Need to add class listbox-button__value to span with text

[2019-08-05 17:43] ianmcburnie commented on #572
We are pushing this back to end of year. Adding to backlog.

[2019-08-05 17:47] agliga commented on #809
Need to change combobox__options to combobox__listbox class

[2019-08-05 18:54] #791 closed

[2019-08-05 19:01] agliga commented on #810
Need to change icon to information from info

[2019-08-06 00:09] #814 closed

[2019-08-06 00:10] #813 closed

[2019-08-06 00:10] #812 closed

[2019-08-06 00:11] #811 closed

[2019-08-06 00:11] #810 closed

[2019-08-06 00:11] #809 closed

[2019-08-06 16:43] melquan opened #819 "Combobox: Chrome's autocomplete suggestions are not suppressed"
# Bug Report

## eBayUI Version: 2.6.0

## Description
Chrome's autocomplete suggestions still show up when focusing in the combobox.

## Screenshots
![image](https://user-images.githubusercontent.com/19419138/62558821-950a5700-b82e-11e9-9eba-d8185eccbd9a.png)

[2019-08-08 18:11] hramakumar opened #821 "pills: DS6 disabled pills change color on hover"
# Bug Report

## eBayUI Version: 3.0.0-3 and skin 8.0.0-3

## Description
Disabled Pilled change color on hover. Happens in both secondary and primary.
## Workaround

## Screenshots
https://www.loom.com/share/c97c923056b64b428ed7862f3cb3b0ab

[2019-08-08 18:14] hramakumar opened #822 "infotip: default icon color is changed to blue"
# Bug Report

## eBayUI Version: 3.0.0-3 and skin 8.0.0-3

## Description
default icon color is changed in infotip
Pls change the label to bug if this is not an expected change in this release
## Workaround

## Screenshots
https://www.loom.com/share/10cac0b0dbc746259a24c9f421d0be40

[2019-08-08 19:04] hramakumar opened #823 "icons: in DS4 , In Iphone some icons when used with infotip, menu etc are truncated"
# Bug Report

## eBayUI Version: 3.0.0-3 and skin 8.0.0-3

## Description
Some icons look truncated when used infotip  and menu
## Workaround
icon in infotip(testpage), menu(marketplace) and radio(marketplace) are broken in testpage and marketplace
## Screenshots

![AD63F89E-DA1C-41E8-A8D0-A680D57E2E42](https://user-images.githubusercontent.com/13157115/62730206-5b735080-b9d4-11e9-9e5a-d613acac25a

[2019-08-08 19:26] hramakumar opened #824 "borderless menu and listbox: when expanded the border starts from the left letter"
# Bug Report

## eBayUI Version: 3.0.0-3 and older versions
## Description
borderless menu: when expanded the border starts from the left letter. This makes the options and header look unaligned with each other. The heading text is to the left of the oprions
## Workaround

## Screenshots

![image](https://user-images.githubusercontent.com/13157115/62731690-97f47b80-b9d7-11e9-874b-d6bf1a78c1e0.png)

[2019-08-09 23:37] seangates commented on #823
Is that Chrome on iOS?

[2019-08-09 23:51] hramakumar commented on #823
in iphone, both chrome and safari has this behavior on ds4  components

[2019-08-12 17:51] msendlakowski commented on #822
Is this for DS4 or DS6.  According to the current published version of skin DS6 it looks like the infotip icon is supposed to be blue

[2019-08-12 18:22] hramakumar commented on #822
oh ok. I was not sure about that which is why I filed it as a discussion.
Lets close it.

[2019-08-12 18:22] #822 closed

[2019-08-12 19:25] hramakumar commented on #823
everything works fine except for the info tip icons in the test page.
the second screenshot above.

[2019-08-12 22:13] hramakumar commented on #823
closing the blocker. will re-verify this again on 750 is in.

[2019-08-12 22:13] #823 closed

[2019-08-12 23:24] msendlakowski commented on #821
@ianmcburnie I'd say we just fix this in 9.0 since we're deprecating pills anyway.

[2019-08-12 23:56] msendlakowski commented on #819
@melquan Can you check to see if you're passing an "autocomplete" attribute in `html-attributes`.
The final HTML should have `autocomplete='new-password'` according to this PR:
https://github.com/eBay/ebayui-core/commit/4ab6cacb52ccd54338675d447d8b785e614b1c71#diff-854be3f0318a650eed139adb0e266c38

That was supposed to be a clean cross-browser fix, but according to this thread, that may not work i

[2019-08-12 23:57] msendlakowski commented on #819
@melquan Can you also add the version of Chrome you are using.

[2019-08-13 02:41] melquan commented on #819
@msendlakowski We are passing in an `autocomplete` attribute to the ebay-combobox of either `none` or `list` based on the README and direction from @seangates & @ianmcburnie to support our functionality.

Will get you the Chrome version soon (getting it from my teammate who could encountered the issue).

[2019-08-14 20:15] #707 closed

[2019-08-14 21:15] msendlakowski commented on #713
@ianmcburnie  We should have time to do this in 4.1.0 if its still high priority.

[2019-08-14 22:08] msendlakowski commented on #824
This follows design guidelines.  (Screenshot from the eBay Playbook below.)
![Screen Shot 2019-08-14 at 3 07 03 PM](https://user-images.githubusercontent.com/1562843/63059827-52d3bc00-bea5-11e9-9809-feb30eaec93b.png)

[2019-08-14 22:08] #824 closed

[2019-08-14 22:16] msendlakowski commented on #819
@melquan Nevermind... I see it now too.  It looks like it broke in newer versions of Chrome.

[2019-08-14 22:25] msendlakowski commented on #819
This is a Chrome bug.  I'll put this in our backlog so we can address it once they have a working solution (again).
https://bugs.chromium.org/p/chromium/issues/detail?id=914451

There is a work around where we mark it as read-only until the field gets focus.  But its a hack and would probably create accessibility issues.
https://stackoverflow.com/questions/12374442/chrome-ignores-autocomplete-off/

[2019-08-14 22:38] seangates commented on #819
@msendlakowski Thanks for tracking down the bug report!

[2019-08-16 20:21] msendlakowski commented on #799
I don't see this in the pattern guide, but it makes sense to me.  I marked it for discussion when we address the DS6.5 listbox updates.

[2019-08-16 20:35] seangates commented on #799
@msendlakowski Yeah, some parts of the design system aren't clear on things like this. But, as a form control, there are very good reasons to make it fluid, just like textbox, select, etc.

[2019-08-17 07:19] ianmcburnie commented on #799
On the skin side this is currently supported via `expand-btn--fluid`

[2019-08-21 16:41] #771 closed

[2019-08-21 16:46] msendlakowski commented on #770
I'm removing this from the project and milestone since there isn't any design pattern for this, outside of the filter-menu-button.  I'll leave it in the backlog in case you still think it needs to be an independent component.

[2019-08-21 16:47] #769 closed

[2019-08-22 18:52] ianmcburnie commented on #770
Architecturally, it makes sense to have this as a separate component. But I agree, if it's not a priority for DS6.5, it should go to the backlog. I would have thought however, that the filter-menu-button would make use of the filter-menu component...

[2019-08-22 19:44] seangates commented on #770
Yeah, it's the same argument for `menu`.

[2019-08-23 16:44] msendlakowski commented on #821
Closing this, since the filter button is replacing pills in v9 and the issue does not exist in filter button.

[2019-08-23 16:44] #821 closed

[2019-08-27 16:45] seangates opened #835 "BUG: Dialog is too thin, additional types not accounted for"
# Bug Report

## eBayUI Version: 3.x.x

## Description
The current dialog has a `max-width` of 616px, which constrains it to a very small part of the screen.

<strike>
Per the Design System, it should stretch as much as it needs, but only following some parameters given the dialog "types": question, information, and function.

Type definitions:

- **question dialog** should be used when asking use

[2019-08-28 21:40] hramakumar opened #837 "icon size is increased"
# Bug Report

## eBayUI Version: 4.0.0-3

## Description
icon sizes are increased
https://www.loom.com/share/3a5a516589734d2b9176806036a7fb72
pls let me know if this part of the change

## Workaround

## Screenshots

[2019-08-28 21:50] hramakumar opened #838 "the width of the checkbox is reduced"
# Bug Report

## eBayUI Version: 4.0.0-4 and skin 9.0.0-6

## Description
the checkbox width is reduced
https://www.loom.com/share/9f715d0c30e64a539350356e3fcd6d7a
## Workaround

## Screenshots

[2019-08-28 21:55] hramakumar opened #839 "pagination arrows are lighter in color"
# Bug Report

## eBayUI Version: 4.0.0-4 and 9.0.0-6

## Description
the left and right arrow icons in pagination has a lighter boldness than it used to be.
https://www.loom.com/share/91a28f2e39334f029760aa2cfac1a19a

## Workaround

## Screenshots

[2019-08-28 22:07] hramakumar opened #840 "icons changes in look - fast-n-free, purchases and selling"
# Bug Report

## eBayUI Version: 4.0.0-4 and skin 9.0.0-6

## Description
fast-n-free, purchases and selling has changes in the appearance
please let me know if these changes are expected
https://www.loom.com/share/33d9212721a04b5c864be2e7303c02a2
## Workaround

## Screenshots

[2019-08-28 23:21] msendlakowski commented on #837
Closing.  Yes, size was an expected change.

[2019-08-28 23:21] #837 closed

[2019-08-28 23:22] msendlakowski commented on #840
Closing.  Yes, those icons were updated by the design team.

[2019-08-28 23:22] #840 closed

[2019-08-29 00:51] hramakumar opened #841 "info tip default icon changes from blue to whilte color"
# Bug Report

## eBayUI Version: 4.0.0-4 and skin 9.0.0-4

## Description
info tip default icon is not blue in color anymore
![image](https://user-images.githubusercontent.com/13157115/63902038-30b95e00-c9bc-11e9-984e-fc991671e9d5.png)

previous release
![image](https://user-images.githubusercontent.com/13157115/63902111-9a396c80-c9bc-11e9-928a-06ec2f5ad4de.png)

## Workaround

## Screenshots

[2019-08-29 00:58] hramakumar opened #842 "editable combobox-ie11 arrow icon issue"
# Bug Report

## eBayUI Version: 4.0.0-4 and skin 9.0.0-6

## Description
the arrow icon in editable combobox does not look ok
![image](https://user-images.githubusercontent.com/13157115/63902215-3794a080-c9bd-11e9-8a37-f51f3028044b.png)

## Workaround

## Screenshots

[2019-08-29 18:08] #841 closed

[2019-09-03 23:52] #770 closed

[2019-09-05 21:32] #839 closed

[2019-09-05 21:37] msendlakowski commented on #817
This looks like its fixed in the 9.0.0 build.
![Screen Shot 2019-09-05 at 2 36 25 PM](https://user-images.githubusercontent.com/1562843/64383369-9e800e00-cfea-11e9-9fb8-974ef4c91766.png)

[2019-09-05 21:37] #817 closed

[2019-09-05 21:41] msendlakowski commented on #838
In that pre-release we resized the small icon to be larger.  We updated to have the large icon become smaller, and this doesn't appear to be an issue anymore.
![Screen Shot 2019-09-05 at 2 39 36 PM](https://user-images.githubusercontent.com/1562843/64385387-2bc36280-cfeb-11e9-8fd2-e0e1f1c28d13.png)

[2019-09-05 21:41] #838 closed

[2019-09-05 21:57] msendlakowski commented on #628
@hramakumar Looking at the latest documentation, it looks like the color needs to be set on the SVG itself.  Here is an example:

[code]

Can you update the CSS in your tests from:
[code]

To:
[code]

[2019-09-05 22:21] hramakumar commented on #628
done

[2019-09-06 16:41] msendlakowski commented on #467
Let's evaluate or close this while working on the Carousel DS6.5 enhancements.

[2019-09-06 17:22] msendlakowski commented on #361
Addressing when we move to Marko v4

[2019-09-06 17:51] hramakumar opened #852 "Breadcrumbs: Desktop-Broken - when long, the text on the left are truncated"
# Bug Report

## eBayUI Version: 4.1.0-1

## Description
The bread crumbs are broken
## Workaround

## Screenshots
https://www.loom.com/share/63725bda504d42a1b61f76946a3505da

[2019-09-06 17:55] hramakumar opened #853 "notice: spacing between the lines is removed"
# Bug Report

## eBayUI Version: 4.1.0-1 and skin 9.1.0-1

## Description
the inter line spacing is reduced.
## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/64449417-af855980-d094-11e9-82e1-33532c1fa033.png)

[2019-09-06 17:57] seangates commented on #852
@hramakumar Is that our longest category tree?

[2019-09-06 17:58] seangates commented on #852
BTW, this change was intentional, specifically for mobile. I'm just trying to explore what our upper limit is.

[2019-09-06 17:59] seangates commented on #853
@hramakumar This was intentional.

[2019-09-06 18:01] hramakumar commented on #852
Thats not one of the long tree. Its happens in Desktop version as well

[2019-09-06 18:02] hramakumar commented on #852
<ebay-breadcrumb heading-text="Page navigation">
                <ebay-breadcrumb-item href="http://www.ebay.com/">eBay</ebay-breadcrumb-item>
                <ebay-breadcrumb-item href="https://www.ebay.com/rpp/cell-phone-pda">Cell Phones, Smart Watches & Accessories</ebay-breadcrumb-item>
                <ebay-breadcrumb-item href="https://www.ebay.com/b/Smart-Watch-Accessories/182064/bn_1656590

[2019-09-06 18:17] #853 closed

[2019-09-06 18:19] hramakumar opened #854 "Info tip icons are too small"
# Bug Report

## eBayUI Version: 4.1.0-1 and skin 9.1.0-1

## Description
Info tip icons have become too small
## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/64451017-26702180-d098-11e9-83b1-4f28f641682a.png)

[2019-09-06 18:22] hramakumar opened #855 "Tour tip - close button icon changed to black color instead of white"
# Bug Report

## eBayUI Version: 4.1.0-1 and skin 9.1.0-1

## Description
close button icon color in tourtip is changed to black . It used to be white
## Workaround

## Screenshots
new version
![image](https://user-images.githubusercontent.com/13157115/64451214-92eb2080-d098-11e9-83ce-70d37cf8da29.png)

old versions
![image](https://user-images.githubusercontent.com/13157115/64451234-9b435b80-d098

[2019-09-06 18:45] hramakumar opened #856 "switch- checked disabled- grey instead of faded blue"
# Bug Report

## eBayUI Version: 4.1.0-1 and skin 9.1.0-1

## Description
The switch disbabled in checked state is grey in color instead of blue
## Workaround

## Screenshots
![image](https://user-images.githubusercontent.com/13157115/64452712-bcf21200-d09b-11e9-92c5-d56bd2c835c5.png)

[2019-09-06 19:09] hramakumar opened #857 "IE 11: info tip icons are broken"
# Bug Report

## eBayUI Version: 4.1.0-1 and skin 9.1.0-1

## Description

![image](https://user-images.githubusercontent.com/13157115/64454136-0e4fd080-d09f-11e9-9e40-b98e3cbbbd43.png)

## Workaround

## Screenshots

[2019-09-06 19:51] msendlakowski commented on #600
Closing, since we removed support for the imperative API

[2019-09-06 19:51] #600 closed

[2019-09-06 19:52] #628 closed

[2019-09-06 19:56] msendlakowski commented on #648
Looks like the paste event is fairly well supported.  We may want to start listening for this, even if it isn't supported in all browsers yet.
https://caniuse.com/#feat=clipboard

[2019-09-06 19:57] msendlakowski commented on #426
Address when we move to Marko v4

[2019-09-07 00:08] msendlakowski commented on #852
@seangates - looks like you're already looking into this. but let me know if not.

[2019-09-07 00:57] hramakumar opened #858 "Pagination- broken in iphone"
# Bug Report

## eBayUI Version: 4.1.0-1 and skin 9.1.0-1

## Description
pagination is broken in iphone.
part of the text are truncated
![paginationbroken](https://user-images.githubusercontent.com/13157115/64467659-9cdc4600-d0cf-11e9-960f-f9a0a5cf6647.png)

## Workaround

## Screenshots

[2019-09-07 02:19] msendlakowski commented on #856
This is the expected behavior now.

[2019-09-07 02:19] #856 closed

[2019-09-07 04:43] seangates commented on #852
Yes, I can follow this through.

[2019-09-09 19:14] seangates opened #859 "Filters: Normalize naming for API around pressed/selected/active"
# Feature Request

## Description
Presently we have a `pressed` and `a11y-active-text` attributes, and also talk about "selected" filters. Make sure that the API and documentation refer to "selected".

## Context
The present setup can be confusing. This work would be able to remove confusion in the API and nomenclature.

[2019-09-09 20:15] cynthiahhc opened #860 "ebay-button: variable not resolved correctly"
# Bug Report

## eBayUI Version: 4.0.0

## Description
It does not resolve to the correct `baseClass` and `size`
https://github.com/eBay/ebayui-core/blob/master/src/components/ebay-button/template.marko#L13

## Screenshots
![Screen Shot 2019-09-09 at 11 59 48](https://user-images.githubusercontent.com/12440585/64558771-8addeb80-d2f9-11e9-82eb-4fffaf695dcf.png)

[2019-09-09 23:06] msendlakowski commented on #860
@cynthiahhc Can you tell me what version of Marko you're using?

[2019-09-10 06:28] cynthiahhc commented on #860
I'm using `marko@4.12.3`.

[2019-09-10 16:22] DylanPiercey commented on #860
@cynthiahhc when using legacy Marko v3 components (like eBay-ui) it is best to make sure that you are on the latest version of Marko 4 for the best compatibility. Is there anything preventing you from upgrading to the latest version of Marko?

[2019-09-10 19:36] seangates commented on #852
This is as expected.

[2019-09-10 19:36] #852 closed

[2019-09-10 21:01] agliga commented on #743
I tried this on `4.1.0` branch  with edge I was able to see the autoplay work correctly.

[2019-09-10 22:39] #858 closed

[2019-09-10 22:39] #857 closed

[2019-09-10 22:39] #855 closed

[2019-09-10 22:40] #854 closed

[2019-09-10 22:40] #842 closed

[2019-09-10 23:22] hramakumar commented on #858
verified

[2019-09-10 23:22] hramakumar commented on #857
verified

[2019-09-10 23:23] hramakumar commented on #855
verified

[2019-09-10 23:23] hramakumar commented on #854
verified

[2019-09-11 00:01] hramakumar opened #862 "Tool Tip- IOS: clicking on the tool tip the 2nd time wont open up"
# Bug Report

## eBayUI Version: 4.1.0-3 and previous versions

## Description
in ios clicking on the tooltip the second time won't open up the text
## Workaround

## Screenshots

[2019-09-11 15:46] msendlakowski commented on #860
@cynthiahhc Can you try what Dylan suggested, and upgrading your version of Marko, to see if this is still a problem.

[2019-09-11 17:09] hramakumar opened #865 "Info tip icons broken in IOS"
# Bug Report

## eBayUI Version: 4.1.0-3 and skin 9.1.0-2

## Description
same as https://github.com/eBay/ebayui-core/issues/857
## Workaround

## Screenshots

[2019-09-11 18:40] msendlakowski commented on #862
Clicking a tooltip shouldn't open the text at all, just hover and focus.  We should also review any accessibility concerns with this behavior.  Discussed with @hramakumar and he said this is a legacy issue, so adding it to the backlog.

[2019-09-13 16:19] #865 closed

[2019-09-16 09:50] darkwebdev opened #867 "`ebay-notice`: `notice-show` not implemented"
# Bug Report

## eBayUI Version: 3.0.0

## Description

1. Show the notice
2. Expect `notice-show` to be emitted (according to readme)
3. :(

## Workaround

## Screenshots

[2019-09-17 23:14] ianmcburnie opened #871 "Update deps & devDeps before 4.2.0 release"
Falling behind a little here:

<img width="937" alt="Screen Shot 2019-09-17 at 4 13 17 PM" src="https://user-images.githubusercontent.com/38065/65086308-214b8600-d966-11e9-9b76-7617f7642f14.png">

[2019-09-18 22:47] t-l9 opened #875 "Carousel paddles are shown on hover even if there aren't enough items to scroll"
## eBayUI Version: 4.0.0
## Skin Version: 9.0.0

## Description

If a carousel has the `items-per-slide` set to `X`, but there are only `X` items, the paddles are still shown on hover, but disabled.

## Screenshots
<img width="1178" alt="Screen Shot 2019-09-18 at 6 45 20 PM" src="https://user-images.githubusercontent.com/3270650/65192299-95f4f200-da44-11e9-89c9-c17b4b2f98c4.png">

[2019-09-19 20:53] msendlakowski opened #877 "DS6.5 Success Message (new component)"
Requirements: https://github.com/eBay/skin/issues/816

[2019-09-20 18:21] ianmcburnie commented on #743
@hramakumar To verify as part of 4.2.0

[2019-09-20 19:58] ianmcburnie commented on #713
Done in 4.2.0.

[2019-09-20 19:58] #713 closed

[2019-09-20 19:58] ianmcburnie commented on #580
Done in 4.2.0.

[2019-09-20 19:58] #580 closed

[2019-09-20 23:00] ianmcburnie opened #882 "Upgrade to Skin 9.2.x"
Just a reminder to update 4.2.0 branch to use Skin 9.2 before pre-release and release.

[2019-09-23 15:55] #871 closed

[2019-09-23 15:56] ianmcburnie commented on #875
Done in 4.2.0

[2019-09-23 15:56] #875 closed

[2019-09-23 15:57] #882 closed

[2019-09-23 16:01] #867 closed

[2019-09-23 16:31] ianmcburnie commented on #862
Correct. Tooltip only opens on hover. Infotip opens on click.

@hramakumar Was this infotip or tooltip?

[2019-09-23 21:56] hramakumar opened #883 "Notice: icon is cut at the side"
# Bug Report

## eBayUI Version: 4.2.0-0 and 9.2.0-1

## Description
The info icon on the left of the dismissible notice is not fully formed. The edges are cut and is not clear circle.
https://www.loom.com/share/119a5239f0b9400f8a87a6c7d27952fa
## Workaround

## Screenshots

[2019-09-23 21:57] hramakumar commented on #883
pls watch the video in full screen

[2019-09-23 21:59] hramakumar commented on #862
its a tool tip. if its not intended then we need to change the behaviour on touch. It shouldn't respond to touch

[2019-09-23 22:05] ianmcburnie commented on #862
Some touch devices will emulate hover. The design system dictates that we don't use tooltip on mweb so we can probably close this. @seangates thoughts?

[2019-09-23 22:06] hramakumar commented on #743
The issue still exists.
The autoplay carousal does not work in IE edge, windows 10

[2019-09-23 22:52] agliga commented on #743
Can you also provide a screenshare of the issue?

[2019-09-25 17:31] ianmcburnie opened #884 "Storybook: add "playground" story for each component"
<strike>
Pick a component, convert it to 100% native storybook, deleting old examples.

Part of the challenge will be figuring out how to structure the stories, substories, knobs, etc. in line with how we have structured our components, types, variants.

Actually, it may be best to pick two or three, to identify patterns.
</strike>

UPDATED: It seems like the only piece we really need is a "playgr

[2019-09-25 19:28] hramakumar opened #885 "carousel when items per slide is not given- it always shows paddles irrespective of the no of items"
# Bug Report

## eBayUI Version: 4.2.0
if item-per-slide is not given, based on the item length and default item-per-slide value we  need to decide whether to show or hide the paddles
https://www.loom.com/share/96619916349c45588499b31162a40fff
## Description

## Workaround

## Screenshots

[2019-09-25 20:39] seangates commented on #885
Expected behavior as the paddles should be available for the continuous carousel version. The paddle changes in 9.2.0 were only for the discreet (e.g. using `itemsPerSlide` explicitly) version of the carousel.

[2019-09-25 20:39] #885 closed

[2019-09-25 23:05] hramakumar opened #886 "Carousel: delay in visual state change from "enabled" to "disabled" (iOS)"
# Bug Report

## eBayUI Version: 4.2.0 and older versions

## Description
in IOS the paddles respond toggle between enabled to disabled, happen slowly when the slide reach the ends
## Workaround

## Screenshots

[2019-09-25 23:20] hramakumar commented on #743
![image](https://user-images.githubusercontent.com/13157115/65646588-5bdda000-dfb0-11e9-822b-3e6594d93892.png)

[2019-09-25 23:21] hramakumar commented on #743
it just stays still when i pause and pay. It does not move slides.
also I see that the paddles dont work

[2019-09-26 02:00] ianmcburnie commented on #743
Okay. Let's try and squeeze a fix into 4.2.0-1

[2019-09-26 13:35] darkwebdev opened #887 "`ebay-tab`: manual activation doesn't seem to work"
# Bug Report

## eBayUI Version: 4.0.0

## Description

1. go to [marketplace](http://app.uimarketplace.svc.32.tess.io/?tag=ebay-tab)
2. scroll to the bottom to see the `activation="manual"` example
3. click any tab, press left/right arrow to move focus to another tab
4. press `space` or `enter`
5. =(

## Workaround

Possible cause:
https://github.com/eBay/ebayui-core/blob/c019071ef7925e66186ee4b0

[2019-09-26 16:09] ianmcburnie commented on #887
@darkwebdev thanks for reporting.

@agliga let's investigate and try and get a fix out this week for 4.2.0-1.

[2019-09-26 21:30] ianmcburnie opened #889 "Pagination: use foreground icons instead of background icons"
@seangates reports that pagination is using background icons. We should switch this over to use foreground icons, using `<ebay-icon>`, like we do elsewhere.

[2019-09-27 16:54] seangates commented on #743
@hramakumar As with @agliga's assessment, I can't reproduce the issue either. Closing for now, and you can open a new issue with more information, if you see it not working again.

FWIW, I tested both your published site (ebayuicomponentstestenv.vip.qa.ebay.com) and pulled the test site code and ran it locally. Both had the same result that I could use the carousel as intended.

[2019-09-27 16:54] #743 closed

[2019-09-27 17:28] hramakumar commented on #743
@seangates  did you try it in edge?  I know ie 11 works fine now

[2019-09-27 17:33] ianmcburnie opened #890 "ebay-menu-button: support overflow icon"
Section title and guidance module require an menu button with overflow icon. Let's see what it would take to add that to coreui.

I think we need to allow ebay-menu-button to swap out expand-button with an icon-btn.

[2019-10-01 17:11] hramakumar opened #893 "Tabs: navigating with arrows automatically selects the tab when using manual type"
# Bug Report

## eBayUI Version: 4.2.0-2

## Description
I used only the arrows. I did not use space or enter
my code
<ebay-tab index="2" Activation="manual">
               <ebay-tab-heading>Tab 1</ebay-tab-heading>
               <ebay-tab-heading>Tab 2</ebay-tab-heading>
               <ebay-tab-heading>Tab 3</ebay-tab-heading>
               <ebay-tab-panel>
                   <h3>Panel 1</h3>

[2019-10-01 18:12] ianmcburnie commented on #893
Closing as invalid (as per @seangates comment offline)

[2019-10-01 18:12] #893 closed

[2019-10-01 18:13] ianmcburnie commented on #887
Fixed for v4.2.0

[2019-10-01 18:13] #887 closed

[2019-10-01 18:14] ianmcburnie commented on #862
Closing as per comments.

[2019-10-01 18:14] #862 closed

[2019-10-01 18:16] ianmcburnie commented on #860
Closing due to lack of information/follow-up.

[2019-10-01 18:16] #860 closed

[2019-10-01 19:26] abiyasa opened #895 "Notice: dismissable button should not be rendered for inline notice"
# Bug Report

## eBayUI Version: 4.1.0

## Description

When you create an inline notice type="inline" and dismissable, the dismissable button is rendered (see attachment below).

[code]

**Expected**: Dismissable button should not be rendered for inline notice as defined on Playbook.

## Screenshots

<img width="687" alt="dismissable-inline-notice" src="https://user-images.githubusercontent.com/1

[2019-10-01 20:26] seangates commented on #895
@abiyasa This is a fantastic write up. In fact, the line of thinking to create `<ebay-inline-notice/>` and `<ebay-page-notice/>` is something @ianmcburnie and myself were talking about just today.

This is a great point, and one we want to address for our developers.

Where appropriate we've tried to use enumeration and avoid the boolean problem. Sounds like we missed it in this case. Thanks for b

[2019-10-01 20:55] ianmcburnie commented on #895
Thanks @abiyasa

Totally agree regarding the boolean trap. While we do our best to catch these upfront, sometimes they slip in unknowingly, and sometimes knowingly (due to a time crunch we might have to take on the "tech debt"). However, we do recognize this as a code smell, and like any big framework once we identify the smell we take steps to figure out if, how and when to fix it. If we don't, t

[2019-10-01 21:56] ianmcburnie commented on #895
Scheduling this for v4.4.0. We should be able to do it in a backwards compatible way as a wrapper around the current component. In time we can discourage use of the underlying component or even remove it from docs.

[2019-10-02 04:50] ianmcburnie opened #897 "ebay-icon: remove background icon support"
As per the title, set inline as default (instead of background) and rename to "foreground". This will be a breaking change.

We may even want to remove background icons entirely from coreui (but keep them in skin).

[2019-10-02 05:00] ianmcburnie commented on #735
I could see how this might create a really wide textbox and create a bad looking UI, if one of the options is long. In an effort to keep our API as clean as possible, I'm going to shelve this one for now. If more teams ask for it, or design team asks for it, we may reconsider in future.

[2019-10-02 05:00] #735 closed

[2019-10-02 05:03] seangates commented on #735
@ianmcburnie Well, teams were asking for it, which is why it was created.

That probably leaves @melquan with having to override some things or doing her own calculations for the Seller Hub / Cub NextGen / and Bolt tools (they'll all use this component).

[2019-10-02 08:14] abiyasa commented on #895
Thanks, glad to help!

Sorry, what I meant was **a non-fake tab with href props on its heading** but I think you got the point 😁

No worries about the tech debt. It's a sign that the library grows which is a good problem to have.

If you want I could give help identifying the components that need changes and also discussing or implementing the solution. Our team (DE regional team) plan to contribu

[2019-10-02 15:14] ianmcburnie commented on #895
@abiyasa That sounds great. I would gladly accept your help. Let's chat on Slack. I know this issue has been a concern of @DylanPiercey too, so it would be great for us all to get together and discuss.

[2019-10-02 15:20] ianmcburnie commented on #735
@seangates I'm aware of that, see my comment:

`If more teams ask for it, or design team asks for it, we may reconsider in future.`

I don't feel good about having our core component in a potentially broken state (extra wide) and deviating from how a textbox behaves. If selling teams wants to create an app component that wraps our core component, they should be able to do that.

[2019-10-02 15:22] seangates commented on #735
Seller Hub / Cub / Bolt are about 12 teams altogether. 😉

[2019-10-02 15:23] ianmcburnie commented on #735
Again, completely aware.

[2019-10-02 15:34] ianmcburnie commented on #742
Closing as wontfix for IE11 according to browser policy. Unable to repro in Edge.

[2019-10-02 15:34] #742 closed

[2019-10-02 15:34] ianmcburnie commented on #716
Closing as wontfix for IE11 according to browser policy. Unable to repro in Edge.

[2019-10-02 15:34] #716 closed

[2019-10-02 15:36] ianmcburnie commented on #699
Closing as wontfix for IE11 according to browser policy (fit & finish, visual glitches).

[2019-10-02 15:36] #699 closed

[2019-10-02 15:37] ianmcburnie commented on #450
Closing as wontfix for IE11 according to browser policy (fit & finish, visual glitches).

[2019-10-02 15:37] #450 closed

[2019-10-02 15:37] ianmcburnie commented on #411
Closing as wontfix for IE11 according to browser policy (fit & finish, visual glitches).

[2019-10-02 15:37] #411 closed

[2019-10-02 15:50] ianmcburnie commented on #715
I'm unable to repro in Edge, see focus outline below:

<img width="469" alt="Screen Shot 2019-10-02 at 8 48 53 AM" src="https://user-images.githubusercontent.com/38065/66059863-9637c780-e4f1-11e9-9736-a50b09275304.png">

For IE11 we can close as wont fix according to browser policy.

[2019-10-02 15:50] #715 closed

[2019-10-02 15:54] ianmcburnie commented on #163
Closing, as we no longer have any LESS in CoreUI (carousel was moved to skin).

[2019-10-02 15:54] #163 closed

[2019-10-02 16:01] ianmcburnie commented on #421
Closing as we plan to integrate storybook as a first class citizen into our repo and work process.

[2019-10-02 16:01] #421 closed

[2019-10-03 16:07] seangates commented on #486
https://github.com/travis-ci/travis_migrate_to_apps

[2019-10-03 16:41] seangates commented on #740
If this no longer fired on blur, it would be a breaking change for developers who relied on it on every `blur`. That said, I think we could possibly add a guard so it only fires when the value actually changes.

[2019-10-03 16:45] ianmcburnie commented on #740
Yep, it should be consistent with `<input type="text">` which I believe only fires a change event on blur if the value actually changed. Don't we just piggy back off of the DOM event? i.e. fire our custom event when the DOM event fires?

[2019-10-03 17:11] ianmcburnie commented on #402
Done in 4.3.0 branch.

[2019-10-03 17:11] #402 closed

[2019-10-03 18:00] #890 closed

[2019-10-03 18:15] seangates commented on #740
We presently do not piggyback. Let me do some testing to see if that would work.

[2019-10-03 21:52] agliga commented on #883
@hramakumar Can you provide more info on how this is happening?
I checked on demo pages for this exact notice, tried to shrink the page, tried multiple browsers and it seems to be working on `4.3.0`.
![image](https://user-images.githubusercontent.com/1755269/66166894-653cbd00-e5ed-11e9-9683-6466510049a4.png)
![image](https://user-images.githubusercontent.com/1755269/66166898-67068080-e5ed-11e9-898

[2019-10-03 21:59] hramakumar commented on #883
It is not reproducible in market place. But if you go to the generic page and look and ebay-infotip section. you should see it.
![image](https://user-images.githubusercontent.com/13157115/66167224-63bfc480-e5ee-11e9-8471-a8c469b9c481.png)